.form-group
  =f.input :description, placeholder: "Ex: Posts", label: "Descrição", class: "form-control", required: true
.form-group
  =f.input :name, placeholder: "Ex: Post", label: "Nome da Classe", class: "form-control", required: true
.form-group
  =f.submit "Enviar", class: "btn btn-success"
  =link_to "Cancelar", root_path, data: { confirm: "Tem Certeza?" }, method: :get, class: "btn btn-danger"
