%h2.page-header Módulos
=render 'application/errors_messages', {target: @authorization}
.col-md-12
  .well
    -if controller.action_name.eql?("new") || controller.action_name.eql?("create")
      =simple_form_for [ :backstage, @authorization ], method: :post do |f|
        =render 'backstage/authorizations/fields_for_authorization_form', { f: f }
    -if controller.action_name.eql?("edit") || controller.action_name.eql?("update")
      =simple_form_for [ :backstage, @authorization ], method: :put do |f|
        =render 'backstage/authorizations/fields_for_authorization_form', { f: f }
