@import "variables"
@import "fonts"

body
  font-family: sans-serif
  font-size: 14px
  background: $white
  font-weight: 400
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: subpixel-antialiased
  #wrapper
    width: 100%
    overflow: auto
  #page-wrapper
    min-height: 568px
    background-color: $white

@import "navbar"

.navbar-brand
  display: -webkit-inline-box
  .logo
    width: 100px
    height: 30px
    margin-top: -5px
    margin-bottom: 10px
    margin-left: 20px

.sidebar
  font-family: 'Roboto Condensed', sans-serif

