.container
  .row
    %h1.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
      = t('helpers.titles.index', model: "Serviços")
      - if can? :create, Service
        = link_to new_service_path, class: 'btn btn-primary btn-circle pull-right', title: t('helpers.links.new') do
          %i.fa.fa-plus{"aria-hidden" => "true"}
  .row
    .jumbotron
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          = search_form_for @search do |f|
            = f.condition_fields do |c|
              = render "condition_fields", f: c
            = link_to_add_fields "Adicionar Condições", f, :condition
            %div{class: "actions", style: "margin-top: 2%;"}
              = f.submit "Pesquisar", class: "btn btn-primary"
    %br
    .panel
      .table-responsive
        %table.table.table-bordered.table-hover.table-condensed.table-striped
          %thead
            %tr
              %th= t('service.helpers.id')
              %th{style: "text-align: center"}= t('helpers.label.status')
              %th= t('helpers.label.nome')
          %tbody
            - @services.each do |service|
              %tr
                %td{style: "width: 6%"}= "##{service.id}"
                %td{style: "width: 8%; text-align: center"}
                  - if service.status.eql?("active")
                    %i.fa.fa-circle{style: "color: #5BFF2B"}
                  - else
                    %i.fa.fa-circle{style: "color: #FF3E38"}
                  =translate_i18n_status service.status
                %td= service.name
                %td
                  .btn-group.pull-right
                    - if policy(service).show?
                      = link_to service_path(service), title: t('helpers.links.show'), class: "btn btn-circle btn-default", target: :_blank do
                        %i.fa.fa-newspaper-o{style: "font-size: 14pt; margin-left: 3px"}
                    - if policy(service).edit?
                      = link_to edit_service_path(service), title: t('helpers.links.edit'), class: "btn btn-circle btn-default", target: :_blank do
                        %i.fa.fa-pencil{style: "font-size: 13pt"}

        .pull-right
          = paginate @services
