.well
  = simple_form_for(@tipo) do |f|
    .row
      .col-xs-12.col-sm-6.col-md-6.col-lg-6
        %div{style: "font-weight: bold;"}
          =render 'application/errors_messages', {target: @tipo}
    -if controller.action_name.eql?("edit") || controller.action_name.eql?("update")
      .row
        #status
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            = f.input :_status, :collection => [['active', t('activerecord.attributes.tipo.active')], ['inactive', t('activerecord.attributes.tipo.inactive')]], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, checked: @tipo.status
    .row
      .col-xs-12.col-sm-6.col-md-4.col-lg-3
        = f.input :name, label: t('helpers.labels.name')
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .pull-left
          = button_tag(type: "submit", class: "btn btn-success") do
            %i.fa.fa-check{"aria-hidden" => "true"}
            =t('helpers.links.save')
        .pull-right
          = link_to tipos_path(page: session[:page]), class: 'btn btn-danger', data: { confirm: "Tem Certeza?" }, method: :get do
            %i.fa.fa-times{"aria-hidden" => "true"}
            =t('helpers.links.cancel')
