.panel.panel-primary
  .panel-heading
    .table-responsive
      %table.table.table-condensed
        %thead
          %th=t('helpers.OBP.accounting.payment_order')
          %th
            %span
              %strong=t('helpers.OBP.accounting.end', resource: "#{params[:obp][:data_fim]}") 
        %tbody#account_order
          %tr
            %td
              %span
                %strong=t('helpers.OBP.accounting.payment_bank', resource: account.banco_pagador)
            %td
              .pull-left 
                %span
                  %strong NÚMERO
              .pull-right
                %span
                  %strong=t('helpers.OBP.accounting.account_order', resource: account.account_description)