= form_for :obp, url: relobps_path, html: { id: "estoque_relobps" }, method: "GET" do |f|
  .well
    .container-fluid
      .row-fluid
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .row
            = hidden_field_tag :format, :pdf
          .row
            .col-xs-12.col-sm-8.col-md-2.col-lg-2
              = f.label :data_inicio, t("helpers.labels.begin_date")
              = f.search_field :data_inicio, class: "data form-control datepicker", value: l(Date.today)
            .col-xs-12.col-sm-8.col-md-2.col-lg-2
              = f.label :data_fim, "Data Final"
              = f.search_field :data_fim, class: "data form-control datepicker", value: l(Date.today)
            .col-xs-12.col-sm-8.col-md-3.col-lg-3
              = f.label :conta_bancaria
              = f.collection_select :conta_bancaria, Conta.all, :id, :descricao, {prompt: "Selecione"}, {class: "form-control"}
            .col-xs-12.col-sm-8.col-md-2.col-lg-2
              = f.label :data_fim, "Data Vencimento"
              = f.search_field :data_vencimento, class: "data form-control datepicker", value: l(Date.today)
          .row-fluid{style: "margin-top: 5px"}
            = f.submit "Gerar", class: "btn btn-primary", id: "btn-relobp-generator", target: :_blanck
            =link_to  relobps_path, class: "btn btn-default" do
              %i.fa.fa-refresh