- @payment_orders.each do |payment_order|
  %tr
    %td=l payment_order.vencimento
    %td=payment_order.nome
    %td N_DOC
    %td=payment_order.parcela
    %td=number_to_currency payment_order.valor
    %td=payment_order.codigo
    %td=payment_order.observacoes