#account_payment_order

.table-responsive
  %table.table.table-condensed.table-stripped.table-hover
    %thead
      %th=t('helpers.OBP.end_date')
      %th=t('helpers.OBP.name')
      %th=t('helpers.OBP.num_doc')
      %th=t('helpers.OBP.parcela_num')
      %th=t('helpers.OBP.vlr_parcela')
      %th=t('helpers.OBP.shell_work')
      %th=t('helpers.OBP.obs')
    %tbody#payment_order_result