<%if @account %>
  $("#account_payment_order").html("<%=j render 'account', {account: @account} %>")
<% end %>

<%if @payment_orders %>
  $("#payment_order_result").fadeIn(600).html("<%=j render 'order' %>")
<% end %>