.container-fluid
  .row-fluid
    %h1.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
      =t('helpers.titles.index', model: "Ordem Bancária de Pagamentos")
.container-fluid
  =render 'generate_obp_form'
-# .container-fluid
-#   .row-fluid
-#     =render 'payment_orders'

=render 'estoques/componentes/page_lock'

= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css"
= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.js"
= javascript_include_tag 'brant/relobp/form'