.container
  .row
    %h1.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
      = t('helpers.titles.index', model: "Bancos")
      - if can? :create, Banco
        = link_to new_banco_path, class: 'btn btn-primary btn-circle pull-right', title: t('helpers.links.new') do
          %i.fa.fa-plus{"aria-hidden" => "true"}
  .row
    .jumbotron
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          = search_form_for @search do |f|
            = f.condition_fields do |c|
              = render "condition_fields", f: c
            = link_to_add_fields "Adicionar Condições", f, :condition
            .actions{style: "margin-top: 2%;"}
              = f.submit "Pesquisar", class: "btn btn-primary"
    %br
    .panel
      %table.table.table-bordered.table-hover.table-condensed
        %thead
          %tr
            %th= t('bancos.helpers.id')
            %th= t('bancos.helpers.status')
            %th= t('bancos.helpers.nome')
        %tbody
          - @bancos.each do |banco|
            %tr
              %td= banco.id
              %td
                - if banco.status.eql?("Ativo")
                  %i.fa.fa-circle{style: "color: #5BFF2B"}
                - else
                  %i.fa.fa-circle{style: "color: #FF3E38"}
                = banco.status
              %td= banco.nome
              %td
                .btn-group.pull-right
                  - if policy(banco).show?
                    = link_to banco_path(banco), title: t('helpers.links.show'), class: "btn btn-default btn-circle", target: :_blank do
                      %i.fa.fa-newspaper-o{style: "font-size: 14pt; margin-left: 3px"}
                  - if policy(banco).edit?
                    = link_to edit_banco_path(banco), title: t('helpers.links.edit'), class: "btn btn-default btn-circle", target: :_blank do
                      %i.fa.fa-pencil{style: "font-size: 13pt"}
      .pull-right
        =paginate @bancos
