%section{id: "new_banco"}
  .container
    .row
      %h1.page-header{style: "border-bottom: #AEAEAE 0.5px solid"}
        =t('helpers.titles.new', model: Banco)
        = link_to bancos_path, class: 'btn btn-default pull-right' do
          %i.fa.fa-chevron-circle-left{"aria-hidden" => "true"}
          =t('helpers.links.back')
    .row
      = render 'bancos/shared/form'
