#bank_accounts_tab.tab-pane.fade
  .row
    .col-lg-5
      -# %h3=t('cliente_fornecedores.labels.bank_accounts')
      -# %hr
      .row-fluid
        #bank_accounts
          .row
            #account
              =render 'bank_account_fields', {f: f}
    .col-lg-6
      %table.table.table-hover.table-condensed.table-stripped
        %caption=t('cliente_fornecedores.labels.accounts_added')
        %thead
          %tr
            %th=t('contas_bancaria.labels.agencia')
            %th=t('contas_bancaria.labels.banco')
            %th=t('contas_bancaria.labels.conta_bancaria')
            %th=t('contas_bancaria.labels.tipo')
        %tbody#accounts_content
