%div{id:"contatos", class:"tab-pane fade"}
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :contato1_nome, label: t('cliente_fornecedores.helpers.contato1_nome')
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :contato1_tipo_telefone, as: :select, collection: [["Celular","Celular"],["Comercial","Comercial"],["Fixo","Fixo"]], include_blank: "Selecione", label: t('cliente_fornecedores.helpers.contato1_tipo_telefone')
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :contato1_ddd, label: t('cliente_fornecedores.helpers.contato1_ddd')
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :contato1_telefone, label: t('cliente_fornecedores.helpers.contato1_telefone')
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :contato1_email1, label: t('cliente_fornecedores.helpers.contato1_email1')
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :contato1_email2, label: t('cliente_fornecedores.helpers.contato1_email2')
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-8 col-md-6 col-lg-6"}
      %hr{style: "border: #EEE solid 0.5px;"}
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :contato2_nome, label: t('cliente_fornecedores.helpers.contato2_nome')
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :contato2_tipo_telefone, as: :select, collection: [["Celular","Celular"],["Comercial","Comercial"],["Fixo","Fixo"]], include_blank: "Selecione", label: t('cliente_fornecedores.helpers.contato2_tipo_telefone')
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :contato2_ddd, label: t('cliente_fornecedores.helpers.contato2_ddd')
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :contato2_telefone, label: t('cliente_fornecedores.helpers.contato2_telefone')
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :contato2_email1, label: t('cliente_fornecedores.helpers.contato2_email1')
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :contato2_email2, label: t('cliente_fornecedores.helpers.contato2_email2')
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-8 col-md-6 col-lg-6"}
      %hr{style: "border: #EEE solid 0.5px;"}
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :contato3_nome, label: t('cliente_fornecedores.helpers.contato3_nome')
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :contato3_tipo_telefone, as: :select, collection: [["Celular","Celular"],["Comercial","Comercial"],["Fixo","Fixo"]], include_blank: "Selecione", label: t('cliente_fornecedores.helpers.contato3_tipo_telefone')
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :contato3_ddd, label: t('cliente_fornecedores.helpers.contato3_ddd')
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :contato3_telefone, label: t('cliente_fornecedores.helpers.contato3_telefone')
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :contato3_email1, label: t('cliente_fornecedores.helpers.contato3_email1')
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :contato3_email2, label: t('cliente_fornecedores.helpers.contato3_email2')
