%div{id:"dados", class: "tab-pane fade active in"}
  -# -if @cliente_fornecedor.present?
  -#   = f.input :id, as: :hidden, input_html: { value: @cliente_fornecedor.id }
  -# .well{style: "width: 74%"}
  -#   .row-fluid
  -#     %fieldset{style: "width: 60%;"}
  -#       %legend Tipo
  -#       .row-fluid
  -#         .col-md-4
  -#           #cliente_fornecedor_tipo_cliente
  -#             =f.input :tipo_cliente,  as: :select, collection: [['Sim', "Sim"], ['Não', "Não"]], include_blank: "Selecione", label: "Cliente"
  -#         .col-md-4
  -#           #cliente_fornecedor_tipo_fornecedor
  -#             =f.input :tipo_fornecedor,  as: :select, collection: [['Sim', "Sim"], ['Não', "Não"]], include_blank: "Selecione", label: "Fornecedor"
  -#         .col-md-4
  -#           #cliente_fornecedor_tipo_investidor
  -#             =f.input :tipo_investidor,  as: :select, collection: [['Sim', "Sim"], ['Não', "Não"]], include_blank: "Selecione", label: "Investidor"
  -if controller.action_name.eql?("edit") || controller.action_name.eql?("update")
    %div{class: "row"}
      #status
        %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
          = f.input :status, :collection => [['Ativo', 'Ativo'], ['Inativo', 'Inativo']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, checked: @cliente_fornecedor.status
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :tipo_pessoa, as: :select, collection: [["Física","Fisica"],["Jurídica","Juridica"]], include_blank: "Selecione", label: t('cliente_fornecedores.helpers.tipo_pessoa')
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-6"}
      = f.input :nome, label: t('cliente_fornecedores.helpers.nome')
  %div{class: "row", id: "cliente_fornecedor_pessoa_fisica", style: "display: none;"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :cpf, label: t('cliente_fornecedores.helpers.cpf'), input_html: { class: 'campo_cpf' }
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :rg, label: t('cliente_fornecedores.helpers.rg')
    .col-xs-12.col-sm-8.col-md-4.col-lg-3
      .input-group
        =f.input :data_nascimento, label: "Data  Nascimento", as: :string, input_html: { class: "docs-date data", placeholder: "Escolha uma Data" }
        %span.input-group-btn
          %button{ class: "btn btn-default docs-datepicker-trigger", disabled: ""}
            %i{ class: "fa fa-calendar", :"aria-hidden"=>"true"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :sexo, as: :select, collection: [["Feminino","Feminino"],["Masculino","Masculino"]], include_blank: "Selecione", label: t('cliente_fornecedores.helpers.sexo'), required: true
  %div{class: "row", id:"cliente_fornecedor_pessoa_juridica", style: "display: none;"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :razao_social, label: t('cliente_fornecedores.helpers.razao_social'), required: true
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :cnpj, label: t('cliente_fornecedores.helpers.cnpj'), input_html: { class: "campo_cnpj" }, required: true
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :inscricao_estadual, label: t('cliente_fornecedores.helpers.inscricao_estadual'), required: true
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-5"}
      = f.input :endereco, label: t('cliente_fornecedores.helpers.endereco')
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-1"}
      = f.input :numero, label: t('cliente_fornecedores.helpers.numero')
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :complemento, label: t('cliente_fornecedores.helpers.complemento')
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :cep, label: t('cliente_fornecedores.helpers.cep'), input_html: { class: "campo_cep" }
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :bairro, label: t('cliente_fornecedores.helpers.bairro')
  %div{class: "row", style: "margin-bottom: 15px;"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.label "Estado"
      = f.collection_select(:estado_id, Estado.pelo_nome, :id, :nome, {include_blank: "Selecione"}, {class:'form-control'})
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.label "Cidade"
      = f.grouped_collection_select(:cidade_id, Estado.pelo_nome, :cidades, :nome, :id, :nome, {include_blank: "Selecione"}, {class:'form-control collection_select'})
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :observacao, label: t('cliente_fornecedores.helpers.observacao')
