= simple_form_for(@cliente_fornecedor) do |f|
  %div{class: "panel"}
    %ul{class: "nav nav-tabs"}
      %li
        %a{'data-toggle':"tab", href:"#dados"}
          Dados
      %li
        %a{'data-toggle':"tab", href:"#contatos"}
          Contatos

    %div{class: "container", style: "margin-left: 5%; padding-top: 15px; padding-bottom: 15px;"}
      %div{class:"tab-content"}
        / aba dados
        =render 'cliente_fornecedores/partials/edit_dados', { f: f }
        / aba contatos
        =render 'cliente_fornecedores/partials/contatos', { f: f }


  %div{class: "container", style: "margin-left: 5%; padding-top: 15px; padding-bottom: 15px;"}
    %div{class: "row"}
      %div{class: "col-xs-6 col-sm-6 col-md-6 col-lg-6"}
        = f.button :submit, t(:save, scope: [:bootstrap, :helpers, :links]), class: t(:btn_success, scope: [:bootstrap, :css_class]), id: 'editar_cliente_fornecedor'
        = link_to t(:cancel, scope: [:bootstrap, :helpers, :links]), cliente_fornecedores_path, class: 'btn btn-danger'



