%div{id:"dados", class: "tab-pane fade active in"}
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :status, as: :select, collection: [['Ativo', 'Ativo'],['Inativo', 'Inativo']], :include_blank => "Selecione", label: t('produtos.helpers.status')
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :cliente_fornecedor, as: :select, collection: [["Cliente","Cliente"],["Fornecedor","Fornecedor"],["Ambos","Cliente Fornecedor"]], include_blank: "Selecione", label: t('cliente_fornecedores.helpers.cliente_fornecedor')
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :tipo_pessoa, as: :select, collection: [["Física","Fisica"],["Jurídica","Juridica"]], include_blank: "Selecione", label: t('cliente_fornecedores.helpers.tipo_pessoa')
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :nome, label: t('cliente_fornecedores.helpers.nome')
  %div{class: "row", id: "cliente_fornecedor_pessoa_fisica", style: "display: none;"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :cpf, label: t('cliente_fornecedores.helpers.cpf'), input_html: { class: 'campo_cpf' }
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :rg, label: t('cliente_fornecedores.helpers.rg'), input_html: { class: "campo_rg" }
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :sexo, as: :select, collection: [["Feminino","Feminino"],["Masculino","Masculino"]], include_blank: "Selecione", label: t('cliente_fornecedores.helpers.sexo')
  %div{class: "row", id:"cliente_fornecedor_pessoa_juridica", style: "display: none;"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :razao_social, label: t('cliente_fornecedores.helpers.razao_social')
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :cnpj, label: t('cliente_fornecedores.helpers.cnpj'), input_html: { class: "campo_cnpj" }
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-5"}
      = f.input :endereco, label: t('cliente_fornecedores.helpers.endereco')
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-1"}
      = f.input :numero, label: t('cliente_fornecedores.helpers.numero')
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :complemento, label: t('cliente_fornecedores.helpers.complemento')
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :cep, label: t('cliente_fornecedores.helpers.cep'), input_html: { class: "campo_cep" }
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.input :bairro, label: t('cliente_fornecedores.helpers.bairro')
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.label "Estado"
      = f.collection_select(:estado_id, @estados, :id, :nome, {include_blank: "Selecione"}, {class:'form-control'})
    %div{class: "col-xs-12 col-sm-4 col-md-4 col-lg-3"}
      = f.label "Cidade"
      = f.grouped_collection_select(:cidade_id, @estados, :cidades, :nome, :id, :nome, {include_blank: "Selecione"}, { class: "form-control collection_select"})