= simple_form_for(@cliente_fornecedor) do |f|
  .well
    %ul.nav.nav-tabs
      %li.active
        %a{'data-toggle':"tab", href:"#dados"} Dados
      %li
        %a{'data-toggle':"tab", href:"#contatos"} Contatos
      
      -# %li.service.disabled
      -#   %a{'data-toggle':"tab", href:"#services_tab"} Serviços
      -# %li.product.disabled
      -#   %a{'data-toggle':"tab", href:"#products_tab"} Produtos
      -# %li.bank_accounts
      -#   %a{'data-toggle':"tab", href:"#bank_accounts_tab"} Contas Bancária
    .container{style: "margin-left: 5%; padding-top: 15px; padding-bottom: 15px;"}
      %div{class:"tab-content"}
        / aba dados
        =render 'cliente_fornecedores/shared/dados', { f: f }
        / aba contatos
        =render 'cliente_fornecedores/shared/contatos', { f: f }
        -# / aba obras
        -# =render 'cliente_fornecedores/shared/obras', { f: f }
        -# / aba serviços
        -# =render 'cliente_fornecedores/shared/servicos', { f: f }
        -# / aba produtos
        -# =render 'cliente_fornecedores/shared/produtos', { f: f }
        -# / aba Conta bancaria
        -# =render 'cliente_fornecedores/shared/bank_accounts', { f: f }
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .pull-left
            = button_tag(type: "submit", class: "btn btn-success", id: "salvar_cliente_fornecedor") do
              %i.fa.fa-check{"aria-hidden" => "true"}
              =t('helpers.links.save')
          .pull-right
            =link_to cliente_fornecedores_path(page: session[:page]), class: 'btn btn-danger' do
              %i.fa.fa-times{"aria-hidden" => "true"}
              =t('helpers.links.cancel')

= javascript_include_tag "brant/clientes_&_fornecedores/cliente_fornecedores_tipo_pessoa"
= javascript_include_tag "brant/clientes_&_fornecedores/cliente_fornecedores_cidades"
-# = javascript_include_tag "brant/clientes_&_fornecedores/fornecedor_services"
-# = javascript_include_tag "brant/clientes_&_fornecedores/fornecedor_produtos"
-# = javascript_include_tag "brant/clientes_&_fornecedores/cliente_obras"
-# = javascript_include_tag "brant/clientes_&_fornecedores/bank_account"

-# -if action_name.eql?("new")
-#   = javascript_include_tag "brant/clientes_&_fornecedores/create"
-# -if action_name.eql?("edit")
-#   = javascript_include_tag "brant/clientes_&_fornecedores/update"
