#work_tab.tab-pane.disabled
  .row
    .col-lg-5
      %h3=t('cliente_fornecedores.labels.works')
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          #inline_actions{style: "display: inline-flex"}
            =f.collection_select(:name_works, Obra.all.order(codigo: :asc), :id, :codigo, {:prompt=>true}, {:class=> "form-control tab", :"data-live-search"=> true})
            =link_to "#", :class => "btn btn-default btn-circle", title: "Adicionar Obra", id: "select_work_association_btn", style: "margin-left: 5px" do
              %i.fa.fa-check{style: "color: #a62f15"}
            =link_to "#", :class => "btn btn-default btn-circle", title: "Cadastrar Obra", id: "add_work_association_btn", style: "margin-left: 5px" do
              %i.fa.fa-plus{style: "color: #73a615"}
      %hr
      .row-fluid
        #services
          .row
            = f.simple_fields_for :obras do |product|
              #hide_divwork_field{style: "display: none"}
                #work{style: "margin-top: 5%"}
                  =render 'obra_fields', {f: product}
    .col-lg-6
      %table.table.table-hover.table-condensed.table-stripped
        %caption=t('cliente_fornecedores.labels.works_added')
        %thead
          %tr
            %th=t('obras.helpers.codigo')
            %th=t('cliente_fornecedores.helpers.name')
            %th=t('cliente_fornecedores.helpers.status')
            %th
              .center
                %i.fa.fa-exclamation-triangle{style: "color: #FFBA1F; font-size: 16pt"}
        %tbody#obras_content
