#products_tab.tab-pane.disabled
  .row
    .col-lg-5
      %h3=t('cliente_fornecedores.labels.products')
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          #inline_actions{style: "display: -webkit-inline-box"}
            =f.collection_select(:name_products, Produto.all.order(nome: :asc), :id, :nome, {:prompt=>true}, {:class=> "form-control tab", :"data-live-search"=> true})
            =link_to "#", :class => "btn btn-default btn-circle", title: "Adicionar Produto", id: "select_product_association_btn", style: "margin-left: 5px" do
              %i.fa.fa-check{style: "color: #a62f15"}
            =link_to "#", :class => "btn btn-default btn-circle", title: "Cadastrar Produto", id: "add_product_association_btn", style: "margin-left: 5px" do
              %i.fa.fa-plus{style: "color: #73a615"}
      %hr
      .row-fluid
        #services
          .row
            = f.simple_fields_for :produtos do |product|
              #hide_divproduct_field{style: "display: none"}
                #product{style: "margin-top: 5%"}
                  =render 'product_fields', {f: product}
    .col-lg-6
      %table.table.table-hover.table-condensed.table-stripped
        %caption=t('cliente_fornecedores.labels.products_added')
        %thead
          %tr
            %th=t('cliente_fornecedores.helpers.name')
            %th=t('cliente_fornecedores.helpers.status')
            %th
              .center
                %i.fa.fa-exclamation-triangle{style: "color: #FFBA1F; font-size: 16pt"}
        %tbody#produtos_content
