#services_tab.tab-pane.disabled
  .row
    .col-lg-5
      %h3=t('cliente_fornecedores.labels.services')
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          #inline_actions{style: "display: inline-flex"}
            =f.collection_select(:name_services, Service.all.order(name: :asc), :id, :name, {:prompt=>true}, {:class=> "form-control tab", :"data-live-search"=> true})
            =link_to "#", :class => "btn btn-default btn-circle", title: "Adicionar Serviço", id: "select_service_association_btn", style: "margin-left: 5px" do
              %i.fa.fa-check{style: "color: #a62f15"}
            =link_to "#", :class => "btn btn-default btn-circle", title: "Cadastrar Serviço", id: "add_service_association_btn", style: "margin-left: 5px" do
              %i.fa.fa-plus{style: "color: #73a615"}
      %hr
      .row-fluid
        #services
          .row
            = f.simple_fields_for :services do |service|
              #hide_div_field{style: "display: none"}
                #service{style: "margin-top: 5%"}
                  =render 'service_fields', {f: service}
    .col-lg-6
      %table.table.table-hover.table-condensed.table-stripped
        %caption=t('cliente_fornecedores.labels.services_added')
        %thead
          %tr
            %th=t('cliente_fornecedores.helpers.name')
            %th=t('cliente_fornecedores.helpers.status')
            %th
              .center
                %i.fa.fa-exclamation-triangle{style: "color: #FFBA1F; font-size: 16pt"}
        %tbody#services_content
