.container
  %ul.nav.nav-tabs
    %li.active
      %a{'data-toggle':"tab", href:"#dados"} Dados
    %li
      %a{'data-toggle':"tab", href:"#contatos"} Contatos
    %li
      %a{'data-toggle':"tab", href:"#obras"} Obras
    %li
      %a{'data-toggle':"tab", href:"#servicos"} Serviços
    %li
      %a{'data-toggle':"tab", href:"#produtos"} Produtos
    %li
      %a{'data-toggle':"tab", href:"#contas_bancarias"} Contas Bancárias
  .tab-content
    =render 'cliente_fornecedores/shared/show/dados'
    =render 'cliente_fornecedores/shared/show/contatos'
    =render 'cliente_fornecedores/shared/show/obras'
    =render 'cliente_fornecedores/shared/show/servicos'
    =render 'cliente_fornecedores/shared/show/produtos'
    =render 'cliente_fornecedores/shared/show/contas_bancarias'

