%br
%br
%br
%br
%br
%footer.navbar-fixed-bottom
  .row
    .col-lg-12
      -if user_signed_in?
        %p Copyright © Globalnetsis - BRANT 2017
      -else
        %p=link_to "Copyright © Globalnetsis - BRANT 2017", new_admin_session_path, class: "nav-item"
