%head
  %meta{ charset: "utf-8"}
  %meta{ :"http-equiv"=>"X-UA-Compatible", content: "IE=edge"}
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}
  %meta{ name: "description", content: ""}
  %meta{ name: "author", content: ""}
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  =favicon_link_tag 'BRANT.ico'
  %title BRANT
  = csrf_meta_tags
  = stylesheet_link_tag 'application', media: 'all'
