%nav.navbar.navbar-inverse.navbar-brant{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to root_path, class: "nav-link navbar-brand" do
        =content_tag(:i, "", class: "fa fa-home", :"aria-hidden"=>"true")
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      =yield
