%h4
  %b Dados
%hr
.row
  .col-md-4
    %p
      %label=t('estoques.helpers.movimento')
      %span{ class: "badge", style: "background-color: #27933D;"}=@estoque.tipo_movimentacao
    -if @estoque.tipo_movimentacao.eql?("Transferência")
      %p
        %label=t('estoques.helpers.tipo_transferencia')
        %span{ class: "badge", style: "background-color: #506154; color: #AEFFA0"}=@estoque.transferencia_tipo

    -if @estoque.fornecedor.present?
      %p
        %label=t('estoques.helpers.fornecedor')
        =@estoque.fornecedor.nome
  -if @estoque.tipo_movimentacao.eql?("Entrada")
    -if @estoque.recibo?
      .col-md-4
        %p
          %label=t('estoques.helpers.recibo')
          =@estoque.recibo
    -if @estoque.cupom_fiscal?
      .col-md-4
        %p
          %label=t('estoques.helpers.cupom_fiscal')
          =@estoque.cupom_fiscal
    -if !@estoque.data_entrada.nil?
      .col-md-4
        %p
          %label=t('estoques.helpers.dt_entrada')
          =l @estoque.data_entrada
    -if !@estoque.data_vencimento_entrada.nil?
      .col-md-4
        %p
          %label=t('estoques.helpers.dt_vencimento')
          =l @estoque.data_vencimento_entrada
    -if !@estoque.data_devolucao.nil?
      .col-md-4
        %p
          %label=t('estoques.helpers.dt_devolucao')
          =l @estoque.data_devolucao
    -if !@estoque.data_transferencia.nil?
      .col-md-4
        %p
          %label=t('estoques.helpers.dt_transferencia')
          =l @estoque.data_transferencia
    -if !@estoque.numero_pedido.eql?("")
      .col-md-4
        %p
          %label=t('estoques.helpers.numero_pedido')
          =@estoque.numero_pedido
    -if !@estoque.nota_fiscal_entrada.eql?("") and @estoque.tipo_movimentacao.eql?("Entrada")
      .col-md-4
        %p
          %label=t('estoques.helpers.nota_fiscal')
          =@estoque.nota_fiscal_entrada
.row
  .col-md-4
    %p
      %label=t('estoques.helpers.total_estoque')
      %strong.badge{style: "background-color: #212121; color: #FFFE00"}=number_to_currency @estoque.total_estoque
  .col-md-4
    %p
      %label=t('estoques.helpers.total_produtos')
      %strong.badge{style: "background-color: #212121; color: #FFFE00"}=number_to_currency @estoque.valor_total_produto
.row
  .col-md-4
    %p
      %label=t('estoques.helpers.parcelas')
      %strong.badge{style: "background-color: #212121; color: #FFFE00"}=@estoque.parcelas
.row
  .col-md-4
    %p
      %label=t('estoques.helpers.boleto')
      %span=@estoque.boleto
.row
  .col-md-4
    %p
      %label=t('estoques.helpers.acrescimo')
      %span=number_to_currency(@estoque.acrescimo) if @estoque.acrescimo.present?
.row
  .col-md-4
    %p
      %label=t('estoques.helpers.desconto')
      %span=number_to_currency(@estoque.desconto) if @estoque.desconto.present?
.row
  .col-md-4
    %p
      %label=t('estoques.helpers.frete')
      %span=number_to_currency(@estoque.frete) if @estoque.frete.present?
%hr/
.row
  .col-md-6
    %p
      %label=t('estoques.helpers.observacoes')
    %p=@estoque.observacoes



