.container
  .row-fluid
    %h1.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
      =t('helpers.titles.show', model: "Estoque")
      .btn-group.pull-right
        = link_to estoques_estoque_movimentacoes_path, class: 'btn btn-success', id: "finish_release" do
          %i.fas.fa-lock{"aria-hidden" => "true", style: "color: gold"}
          =t('helpers.links.finish_release')
        = link_to edit_estoques_estoque_movimentaco_path(@estoque), class: 'btn btn-default' do
          %i.fa.fa-edit{"aria-hidden" => "true"}
          =t('helpers.links.change_data')

%section#page_lock
  =render 'estoques/componentes/page_lock'