.col-lg-4
  =link_to backstage_empresa_brant_path, class: "btn btn-default btn-circle pull-left" do
    %i{class: "fa fa-chevron-left"}
  %br
  %br
  .well
    .panel.panel-default
      .panel-heading
        %strong Usuário
      .panel-body
        %b Nome
        %blockquote{ style: "font-size: 12pt" }
          =@user.username
        %b E-mail
        %blockquote{ style: "font-size: 12pt" }
          =@user.email

.col-lg-8
  .well

    .panel.panel-default
      .panel-heading
        =link_to "", class: "btn btn-success btn-circle pull-right",style: "margin-top: -5px" do
          %i{class: "fa fa-plus"}
        %strong Permissões
      .panel-body
        =form_tag backstage_add_user_permissions_path, id: "manager_user_authorizations", method: :post do
          %table.table.table-condensed.table-hover
            %thead
              %tr
                %th Descrição
                %th Cadastrar
                %th Visualizar
                %th Editar
                %th Excluir
            %tbody
              - Authorization.all.order(description: :asc).each do |f|
                %tr
                  %td
                    =f.description
                    =hidden_field_tag :authorization_id, f.id
                  %td
                    .form-group
                      =check_box_tag :create
                  %td
                    .form-group
                      =check_box_tag :retrieve
                  %td
                    .form-group
                      =check_box_tag :update
                  %td
                    .form-group
                      =check_box_tag :delete
          .pull-right
            = button_tag(type: "submit", class: "btn btn-primary") do
              %i.fa.fa-check
              SEND


