- quantidade  = @estoque_transferencia.quantidade_movimento
- valor_total = @estoque_transferencia.valor_total

.row
  =f.input :estoque_movimento_id, as: :hidden, input_html: { value: @estoque.id }
.row
  .col-xs-12.col-sm-8.col-md-4.col-lg-4
    =label_error_tag f,:produto, @estoque_transferencia, :produto_id
    .estoque_data_live_search
      .input-group
        =f.collection_select(:produto_id, Produto.order(nome: :asc), :id, :descricao, {:prompt=>true}, {class: "form-control tab data_live_search", :"data-live-search"=> true})
        %span.input-group-btn
          %button{ class: "btn btn-default docs-datepicker-trigger", style: "margin-top: 0 !important", disabled: false, id: "btn_new_product_on_estoque_form"}
            %i{ class: "fa fa-plus", :"aria-hidden"=>"true"}
    =error_tag @estoque_transferencia, :produto_id
%br/
-if @estoque.transferencia_tipo.eql?("ENTRADA")
  %section#transferencia_de_entrada
    =f.input :obra_posterior_id, as: :hidden, input_html: { value: @obra_brant.id }
    .row
      .col-xs-12.col-sm-8.col-md-4.col-lg-4
        =label_error_tag f,:obra, @estoque_transferencia, :obra_anterior_id
        .estoque_data_live_search
          =f.collection_select(:obra_anterior_id, Obra.where.not(codigo: "BRANT").order(codigo: :asc), :id, :codigo, {:prompt=>true}, {class: "form-control tab data_live_search", :"data-live-search"=> true})
        =error_tag @estoque_transferencia, :obra_anterior_id

-if @estoque.transferencia_tipo.eql?("SAÍDA")
  %section#transferencia_de_saida
    =f.input :obra_anterior_id, as: :hidden, input_html: { value: @obra_brant.id }
    .row
      .col-xs-12.col-sm-8.col-md-4.col-lg-4
        =label_error_tag f,:obra, @estoque_transferencia, :obra_posterior_id
        .estoque_data_live_search
          =f.collection_select(:obra_posterior_id, Obra.where.not(codigo: "BRANT").order(codigo: :asc), :id, :codigo, {:prompt=>true}, {class: "form-control tab data_live_search", :"data-live-search"=> true})
        =error_tag @estoque_transferencia, :obra_posterior_id

%br
.row
  .col-xs-12.col-sm-8.col-md-4.col-lg-4
    =label_error_tag f,"Cômodo", @estoque_transferencia, :comodo_id
    .estoque_data_live_search
      =f.grouped_collection_select(:comodo_id, Obra.where.not(codigo: "BRANT").order(codigo: :asc), :comodo_obras, :codigo, :id , :comodo_name, {:prompt=>true}, {class: "form-control tab  data_live_search", :"data-live-search"=> true})

%br
.row
  .col-xs-12.col-sm-8.col-md-5.col-lg-5
    =label_error_tag f,t("helpers.labels.etapa"), @estoque_transferencia, :item_obra_id
    =f.collection_select(:item_obra_id, ItemObra.order(item: :asc), :id, :item_obra_descricao, {:prompt=>true}, {class: "item form-control tab data_live_search", :"data-live-search"=> true})
    =error_tag @estoque_transferencia, :item_obra_id
  .col-xs-12.col-sm-8.col-md-5.col-lg-5
    =label_error_tag f,t("helpers.labels.sub_etapa"), @estoque_transferencia, :sub_item_obra_id
    =f.grouped_collection_select(:sub_item_obra_id, ItemObra.order(item: :asc), :sub_itens_obras, :item_obra_descricao, :id, :sub_item_obra_descricao, {:prompt=>true}, {class: "form-control"})
    =error_tag @estoque_transferencia, :sub_item_obra_id
%br
.row
  .col-xs-12.col-sm-8.col-md-5.col-lg-5
    =f.input :quantidade_movimento, label: "Quantidade", as: :string, input_html: {value: quantidade}
  .col-xs-12.col-sm-8.col-md-4.col-lg-4
    =f.input :valor_produto, label: "Valor", input_html: { class: "campo_dinheiro" }, as: :string
%br
.row
  .col-xs-12.col-sm-8.col-md-4.col-lg-4
    =f.input :valor_total, label: "Valor Total", input_html: { class: "campo_dinheiro", value: valor_total.to_money.to_s }, as: :string, readonly: true
