=simple_form_for [@estoque, @estoque_transferencia], url: estoques_estoque_movimentaco_estoque_transferencias_path, method: "POST" do |f|
  %br/
  .row
    .col-xs-12.col-sm-8.col-md-5.col-lg-5
      =render 'estoque_transferencia_fields', {f: f}
    .col-xs-12.col-sm-8.col-md-7.col-lg-7
      #estoque_produto_fields{style: "display: none"}
        .panel
          = f.simple_fields_for :produtos do |produto|
            =render 'estoques/componentes/produto_fields', {f: produto }
      #estoque_itens_armazenados
        .panel.panel-default
          .panel-heading
            %h3.center
              %strong Estoque Itens
            %hr
            -if !@item.estoque_transferencias.empty?
              =render 'estoques/componentes/item_transferencia_produto'
          .panel-bottom
            -if !@item.estoque_transferencias.empty?
              %div{style: "margin-top: 10px"}
                .container-fluid
                  #total_estoque
                    =render 'estoques/estoque/estoque_produtos/total_produtos', {source: @item.estoque_transferencias}
  .row
    .pull-left
      .col-xs-12.col-sm-8.col-md-5.col-lg-5
        =content_tag :div, id: "btn_estoque_transferencia_area" do
          = button_tag(type: "submit", class: 'btn_submit_estoque_transferencia btn btn-primary', title: "Adicionar Produto no Estoque", style: "margin-top: 23px;") do
            %i.fa.fa-plus{"aria-hidden" => "true"}
            Adicionar
    .pull-right
      .col-xs-12.col-sm-8.col-md-5.col-lg-5
        =link_to estoques_estoque_movimentaco_path(@estoque), class: 'btn btn-default', id: "btn_finalizar_lancamento_produto", style: "margin-top: 23px;" do
          %i.fa.fa-archive{"aria-hidden" => "true", style: "color: #3A3A3A"}
          =t('helpers.links.finish_release')
%br

