.container
  .well
    %h4
      %b Produtos
    .pull-right
      - if @estoque.tipo_movimentacao.eql?("Entrada") || @estoque.tipo_movimentacao.eql?("Devolução para Fornecedor")
        - if total_produtos(@estoque.estoque_produtos).gsub("R$", "").to_f < @estoque.total_estoque.to_f
          =link_to new_estoques_estoque_movimentaco_estoque_produto_url(@estoque), id: "btn_add_produto", class: "btn btn-danger" do
            %i.fa.fa-plus
            =t('helpers.links.add_produto')
      -if @estoque.tipo_movimentacao.eql?("Transferência")
        - if total_produtos(@estoque.estoque_transferencias).gsub("R$", "").to_f < @estoque.total_estoque.to_f
          =link_to new_estoques_estoque_movimentaco_estoque_transferencia_path(@estoque), id: "btn_add_produto", class: "btn btn-danger" do
            %i.fa.fa-plus
            =t('helpers.links.add_produto')
    .page-header
    %table.table.table-condensed.table-hover.table-striped
      %caption
        %b Total de produtos #{@estoque.estoque_transferencias.count}
      %thead
        %tr
          %th=t('produtos.helpers.nome')
          %th.center=t('helpers.labels.obra_transferencia')
          %th.center=t('helpers.labels.etapa')
          %th.center=t('helpers.labels.sub_etapa')
          %th.center=t('produtos.helpers.quantidade')
          %th.center=t('produtos.helpers.valor')
          %th
            .pull-right=t('produtos.helpers.valor_total')
          %th
          %th
      %tbody.estoque_produto
        =render @estoque_transferencias
      %caption{style: "caption-side: bottom;"}
        =render 'estoques/estoque/estoque_produtos/total_produtos', { source: @estoque_transferencias }
    #estoque_produto_paginator
      =paginate @estoque_transferencias, remote: true
