<%- if @confirmed == true -%>
  $("#tr_estoque_transferencia_produto_id_<%= @deleted_id %>").remove()
  $("#total_estoque").html("<%=j render 'estoques/estoque/estoque_produtos/total_produtos', {source: @estoque.estoque_transferencias} %>")
  $("#add_item_produto").fadeOut(500).fadeIn(500)
  $.message({ title: 'Aviso!', content: "<%= t('flash.actions.destroy.success', resource_name: 'Produto')%>", position: "topright", color: "yellow" })
<%- else -%>
  $.message({ title: 'Aviso!', content: "<%= t('flash.actions.destroy.alert', resource_name: 'Produto')%>", position: "topright", color: "red" })
<%- end -%>
