%section{id: "estoque_transferencia"}
  .container
    .row-fluid
      %span.breadcrumb-item.active Você está em
      %h4.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
        .pull-right
          = link_to edit_estoques_estoque_movimentaco_path(@estoque), class: 'btn btn-primary' do
            %i.fa.fa-edit{"aria-hidden" => "true"}
            =t('helpers.links.change_data_moviment')
        %ol.arrows
          %li
            %a{:href => "#"}="Estoque Nº #{@estoque.id}"
          %li
            %a{:href => "#"}="Transferência"
          %li
            %a{:href => "#"}="Adicionar Produtos"
  .container
    .well
      #exTab3.container-fluid
        %ul.nav.nav-pills
          %li
            %a{"data-toggle" => "tab", :href => "#tab_moviment"}=t('estoques.links.tab_moviment')
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab_product"}=t('estoques.links.tab_transferency', type: @estoque.transferencia_tipo.downcase.capitalize)
        .tab-content.clearfix
          #tab_moviment.tab-pane.fade.in
            =render 'estoques/estoque_movimentacoes/estoque/movimento'
          #tab_product.tab-pane.fade.in.active
            =render 'form'

%section#warning_modal
  =render 'estoques/componentes/page_lock'


= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.js"
= javascript_include_tag "brant/estoques/produto"
= javascript_include_tag "brant/estoques/transferencia_etapas_da_obra"
= javascript_include_tag "brant/estoques/estoque_transferencia"
-if @estoque.transferencia_tipo.eql?("ENTRADA")
  = javascript_include_tag "brant/estoques/obra_anterior_comodo_transferencia_collection"
-if @estoque.transferencia_tipo.eql?("SAÍDA")
  = javascript_include_tag "brant/estoques/obra_posterior_comodo_transferencia_collection"
