=simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "navbar-form navbar-right form-inline" }) do |f|
  .input-group
    %span.input-group-addon
      %i.glyphicon.glyphicon-user
    = f.input :login, required: false, autofocus: true, input_html: {id: "email" }, :placeholder => "Email Ou Nome de Usuário", label: false
  .input-group
    %span.input-group-addon
      %i.glyphicon.glyphicon-lock
    = f.input :password, required: true, input_html: {id: "password"}, :placeholder => "Senha", label: false
  %button.btn.btn-default{:type => "submit"}
    Login
    %i.fa.fa-sign-in



