.container
  .row
    %h1.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
      = t('helpers.titles.index', model: "Contas")
      - if can? :create, Conta
        = link_to new_conta_path, class: 'btn btn-primary btn-circle pull-right', title: t('helpers.links.new') do
          %i.fa.fa-plus{"aria-hidden" => "true"}
  .row
    .jumbotron
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          = search_form_for @search do |f|
            = f.condition_fields do |c|
              = render "condition_fields", f: c
            = link_to_add_fields "Adicionar Condições", f, :condition
            .actions{style: "margin-top: 2%;"}
              = f.submit "Pesquisar", class: "btn btn-primary"
    %br
    .panel
      %table.table.table-bordered.table-hover.table-condensed
        %thead
          %tr
            %th= t('contas.helpers.id')
            %th= t('contas.helpers.banco_id')
            %th= t('contas.helpers.agencia')
            %th= t('contas.helpers.numero')
            %th= t('contas.helpers.tipo_conta')
            %th= t('contas.helpers.operacao')
            %th= t('contas.helpers.titular')
            %th= t('contas.helpers.cpf_cnpj')
        %tbody
          - @contas.each do |conta|
            %tr
              %td= conta.id
              %td= conta.banco.nome
              %td= conta.agencia
              %td= conta.numero
              %td= conta.tipo_conta
              %td= conta.operacao
              %td= conta.titular
              %td= conta.cpf_cnpj
              %td
                .btn-group.pull-right
                  - if policy(conta).show?
                    = link_to conta_path(conta), title: t('helpers.links.show'), class: "btn btn-circle btn-default", target: :_blank do
                      %i.fa.fa-newspaper-o{style: "font-size: 14pt; margin-left: 3px"}
                  - if policy(conta).edit?
                    = link_to edit_conta_path(conta), title: t('helpers.links.edit'), class: "btn btn-circle btn-default", target: :_blank do
                      %i.fa.fa-pencil{style: "font-size: 13pt"}
