%div{class: "container"}
  %div{class: "row"}
    %h1.page-header{style: "border-bottom: #AEAEAE 0.5px solid"}
      Conta
      .btn-group.pull-right
        = link_to contas_path, class: 'btn btn-default' do
          %i.fa.fa-chevron-circle-left{"aria-hidden" => "true"}
          =t('helpers.links.back')
        -if policy(@conta).edit?
          = link_to edit_conta_path(@conta), class: 'btn btn-primary' do
            %i.fa.fa-pencil{"aria-hidden" => "true"}
            =t('helpers.links.edit')

    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
        %div{class: "panel"}
          %div{class: "container", style: "margin-left: 5%; padding-top: 15px; padding-bottom: 15px;"}
            %div{class: "col-xs-8 col-sm-8 col-md-8 col-lg-8"}
              %div{class: "row"}
                %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
                  = label_tag t('contas.helpers.id')
                %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
                  = @conta.id
              %div{class: "row"}
                %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
                  = label_tag t('contas.helpers.banco_id')
                %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
                  = @conta.banco.nome
              %div{class: "row"}
                %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
                  = label_tag t('contas.helpers.agencia')
                %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
                  = @conta.agencia
              %div{class: "row"}
                %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
                  = label_tag t('contas.helpers.numero')
                %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
                  = @conta.numero
              %div{class: "row"}
                %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
                  = label_tag t('contas.helpers.tipo_conta')
                %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
                  = @conta.tipo_conta
              %div{class: "row"}
                %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
                  = label_tag t('contas.helpers.operacao')
                %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
                  = @conta.operacao
              %div{class: "row"}
                %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
                  = label_tag t('contas.helpers.titular')
                %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
                  = @conta.titular
              %div{class: "row"}
                %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
                  = label_tag t('contas.helpers.cpf_cnpj')
                %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
                  = @conta.cpf_cnpj