=f.simple_fields_for :profile do |u|
  .form-group
    =u.input :name, label: "Nome", placeholder: "Ex: João Carlos", class: "form-control"
.form-group
  =f.input :username, placeholder: "Ex: joao carlos", class: "form-control", required: true
.form-group
  =f.input :email, placeholder: "Ex: example@example.com", class: "form-control", required: true
.form-group
  =f.label "Tipo"
  =f.input :type, as: :boolean, input_html:{ :"data-size"=>'mini', :"data-on-color"=>'success', :"data-off-color"=>'primary', :"data-on-text"=>'Admin', :'data-off-text'=>'Usuário'}, label: false, checked: false
.form-group
  =f.input :password, placeholder: "°°°°°°°°°", class: "form-control", required: true
.form-group
  =f.input :password_confirmation, placeholder: "°°°°°°°°°", class: "form-control"
.form-group
  =f.submit "Enviar", class: "btn btn-success"
  =link_to "Cancelar", backstage_empresa_brant_path, data: { confirm: "Tem Certeza?" }, method: :get, class: "btn btn-danger"
