%h2.page-header Usuários
=render 'application/errors_messages', {target: @user}
.col-md-12
  .well
    -if controller.action_name.eql?("new") || controller.action_name.eql?("create")
      =simple_form_for [ :backstage, @user ], url: create_user_registration_path, method: :post do |f|
        =render 'backstage/users/shared/fields_for_user_form', { f: f }
    -if controller.action_name.eql?("edit") || controller.action_name.eql?("update")
      =simple_form_for [ :backstage, @user ], url: update_user_registration_path, method: :put do |f|
        =render 'backstage/users/shared/fields_for_user_form', { f: f }
