.container
  .panel.panel-default{style: "border: 1px #757575 solid; box-shadow: 1px 1px 3px #505050;"}
    .panel-body
      %h1.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
        =t('helpers.titles.edit', model: "Conta de Usuário")
      =render 'brant/users/accounts/shared/form'
