.container
  .panel.panel-default{style: "border: 1px #757575 solid; box-shadow: 1px 1px 3px #505050;"}
    .panel-body
      %h1.page-header{style: "border-bottom: 1.5px #C3D6FF solid"}
        =t('helpers.titles.index', model: "Contas")
        -if can? :create, User
          =link_to new_brant_users_account_path, class: "btn btn-success btn-circle pull-right" do
            %i{class: "fa fa-plus"}
      .container-fluid
        %table.table.table-condensed.table-hover
          %thead
            %tr
              %th Nome
              %th Nome de Usuário
              %th E-mail
              %th Tipo de Acesso
              %th Tipo de Acesso
              %th
          %tbody
            - @users.where.not(username: "admin").each do |user|
              %tr
                %td=user.name
                %td=user.username
                %td=user.email
                %td
                  -if user.user?
                    .badge{style: "color: #98FFD7"}=t("users.#{user.role}")
                  -else
                    .badge{style: "color: #FFF957"}=t("users.#{user.role}")
                %td
                  .btn-group
                    - if policy(user).edit?
                      =link_to edit_brant_users_account_path(user), class: "btn btn-circle btn-default" do
                        %i.fa.fa-pencil.fa-2x{style: "margin-top: -3px; font-size: 15pt"}
                    -if user.user? and !logged_user.user?
                      =link_to brant_users_user_authorizations_path(user_id: user.id), class: "btn btn-circle btn-warning" do
                        %i.fa.fa-cog.fa-2x{style: "margin-top: -3px; font-size: 15pt"}
                    -if user != current_user
                      =link_to destroy_user_registration_path(user), method: :delete, data: { confirm: "Tem certeza?" }, class: "btn btn-circle btn-danger" do
                        %i.fa.fa-trash.fa-2x{style: "margin-top: -3px; font-size: 15pt"}
