%li.active.dropdown
  %a.nav-link.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :href => "#", "data-submenu"=> true}
    Cadastros
    %span.caret
  %ul.dropdown-menu
    -# -if can? :read, Banco
    -#   %li=link_to "Bancos", bancos_path, class: "drop-nav-link"
    -# -if can? :read, Comodo
    -#   %li=link_to "Cômodos", comodos_path, class: "drop-nav-link"
    -# -if can? :read, Categoria
    -#   %li=link_to "Categorias", categorias_path, class: "drop-nav-link"
    -# -if can? :read, Conta
    -#   %li=link_to "Contas", contas_path, class: "drop-nav-link"
    -if can? :read, ClienteFornecedor
      %li=link_to "Clientes ", cliente_fornecedores_path, class: "drop-nav-link"
    -if can? :read, Modelo
      %li=link_to "Modelos ", modelos_path, class: "drop-nav-link" 
    -if can? :read, Tipo
      %li=link_to "Tipos ", tipos_path, class: "drop-nav-link"   
    -# -if can? :read, Estoque
    -#   %li=link_to "Estoque", estoques_estoque_movimentacoes_path, class: "drop-nav-link"
    -# -if can? :read, ItemObra
    -#   %li=link_to "Etapas de Obras", itens_obra_path, class: "drop-nav-link"
    -# -if can? :read, Obra
    -#   %li=link_to "Obras", obras_path, class: "drop-nav-link"
    -# -if can? :read, Produto
    -#   %li=link_to "Produtos", produtos_path, class: "drop-nav-link"
    -# -if can? :read, Service
    -#   %li=link_to "Serviços", services_path, class: "drop-nav-link"
    -# -if can? :read, TipoContrato
    -#   %li=link_to "Tipo Contratos", tipo_contratos_path, class: "drop-nav-link"  
