%nav.navbar.navbar-default.navbar-brant
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to root_path, class: "nav-link navbar-brand" do
        =content_tag(:i, "", class: "fa fa-home", :"aria-hidden"=>"true")
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        -if logged_user
          =render 'layouts/base/menus'
          %li
            =link_to '#', class: "nav-link" do
              Movimentações
              %span.caret
          %li
            =link_to brant_users_accounts_path, class: "nav-link" do
              Contas
              %span.glyphicon.glyphicon-user

          %li
            =link_to "/brant/report_configurations", class: "nav-link" do
              Configurações
              %i.fas.fa-cog   
          -# %li.dropdown
          -#   %a.nav-link.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :href => "#", "data-submenu"=> true}
          -#     Relatórios
          -#     %span.caret
            %ul.dropdown-menu
              %li
                =link_to relobps_path, class: "drop-nav-link" do
                  OBP
                  %i{class: "far fa-file-pdf"}
      %ul.nav.navbar-nav.navbar-right
        -if !current_page?('/users/signin') && !logged_in_user?
          %li
            =link_to new_user_session_path, class: "nav-link" do
              Entrar
        - if logged_in_user?
          %li
            =link_to "", class: "nav-link" do
              %span Você está logado como: #{logged_user.username}
          %li
            -if current_admin
              =link_to destroy_admin_session_path, method: :delete, class: "nav-link" do
                %b Sair
                %span=content_tag(:i, "", class: "fa fa-sign-out fa-fw",  :"aria-hidden"=>"true")
            -if current_user
              =link_to destroy_user_session_path, method: :delete, class: "nav-link" do
                %b Sair
                %span=content_tag(:i, "", class: "fa fa-sign-out fa-fw",  :"aria-hidden"=>"true")
    / /.navbar-collapse
  / /.container-fluid
