!!!
%html{:lang => "en"}
  %head
    / Meta, title, CSS, favicons, etc.
    %title Access Denied - Brant
    %meta{ charset: "utf-8"}
    %meta{ :"http-equiv"=>"X-UA-Compatible", content: "IE=edge"}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{ name: "description", content: ""}
    %meta{ name: "author", content: ""}
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
  %body.status-pages
    .container
      .main_container
        / page content
        .col-md-12
          .col-middle
            .text-center
              %h1.error-number 403
              %h2.page-header=t('page.helpers.messages.access_denied')
              %p=t('pages.helpers.messages.should_be_autorized_to_access_this_resource')
              .mid_center
                =link_to root_path, class: "btn btn-lg btn-default btn-circle", title: "Voltar para a página inicial?" do
                  %i.fa.fa-2x.fa-refresh{style: "margin-left: -7px; margin-top: -5px"}

        / /page content
