%section#new_tipo
  .container
    .row
      %h1.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
        =t('helpers.titles.edit', model: "Tipo")
        = link_to tipos_path(page: session[:page]), class: 'btn btn-default pull-right' do
          %i.fa.fa-chevron-circle-left{"aria-hidden" => "true"}
          =t('helpers.links.back')
    .row
      =render 'tipos/shared/form'
