#contatos.tab-pane.fade.in
  %br
  .container-fluid
    %h3 Contatos
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      -if @cliente_fornecedor.contato1_nome? ||@cliente_fornecedor.contato1_email1?
        %row
          %table.table.table-condensed.table-hover.table-stripped
            %thead
              %th=content_tag :strong, t('cliente_fornecedores.helpers.contato1_nome')
              %th=content_tag :strong, t('cliente_fornecedores.helpers.contato1_email1')
              %th=content_tag :strong, t('cliente_fornecedores.helpers.contato1_email2')
              %th=content_tag :strong, t('cliente_fornecedores.helpers.contato1_ddd')
              %th=content_tag :strong, t('cliente_fornecedores.helpers.contato1_telefone')
              %th=content_tag :strong, t('cliente_fornecedores.helpers.contato1_tipo_telefone')
            %tbody
              %tr
                %td=@cliente_fornecedor.contato1_nome
                %td=@cliente_fornecedor.contato1_email1
                %td=@cliente_fornecedor.contato1_email2
                %td=@cliente_fornecedor.contato1_ddd
                %td=@cliente_fornecedor.contato1_telefone
                %td=@cliente_fornecedor.contato1_tipo_telefone
      -if @cliente_fornecedor.contato2_nome? ||@cliente_fornecedor.contato2_email1?
        %row
          %table.table.table-condensed.table-hover.table-stripped
            %thead
              %th=content_tag :strong, t('cliente_fornecedores.helpers.contato2_nome')
              %th=content_tag :strong, t('cliente_fornecedores.helpers.contato2_email1')
              %th=content_tag :strong, t('cliente_fornecedores.helpers.contato2_email2')
              %th=content_tag :strong, t('cliente_fornecedores.helpers.contato2_ddd')
              %th=content_tag :strong, t('cliente_fornecedores.helpers.contato2_telefone')
              %th=content_tag :strong, t('cliente_fornecedores.helpers.contato2_tipo_telefone')
            %tbody
              %tr
                %td=@cliente_fornecedor.contato2_nome
                %td=@cliente_fornecedor.contato2_email1
                %td=@cliente_fornecedor.contato2_email2
                %td=@cliente_fornecedor.contato2_ddd
                %td=@cliente_fornecedor.contato2_telefone
                %td=@cliente_fornecedor.contato2_tipo_telefone
      -if @cliente_fornecedor.contato3_nome? ||@cliente_fornecedor.contato3_email1?
        %row
          %table.table.table-condensed.table-hover.table-stripped
            %thead
              %th=content_tag :strong, t('cliente_fornecedores.helpers.contato3_nome')
              %th=content_tag :strong, t('cliente_fornecedores.helpers.contato3_email1')
              %th=content_tag :strong, t('cliente_fornecedores.helpers.contato3_email2')
              %th=content_tag :strong, t('cliente_fornecedores.helpers.contato3_ddd')
              %th=content_tag :strong, t('cliente_fornecedores.helpers.contato3_telefone')
              %th=content_tag :strong, t('cliente_fornecedores.helpers.contato3_tipo_telefone')
            %tbody
              %tr
                %td=@cliente_fornecedor.contato3_nome
                %td=@cliente_fornecedor.contato3_email1
                %td=@cliente_fornecedor.contato3_email2
                %td=@cliente_fornecedor.contato3_ddd
                %td=@cliente_fornecedor.contato3_telefone
                %td=@cliente_fornecedor.contato3_tipo_telefone


