#contas_bancarias.tab-pane.fade.in
  %br
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    %table.table.table-condensed.table-hover.table-stripped
      %thead
        %th=content_tag :strong, "Código"
        %th=content_tag :strong, "Agência"
        %th=content_tag :strong, "Conta"
        %th=content_tag :strong, "Banco"
        %th=content_tag :strong, "Tipo"
      %tbody
        -@cliente_fornecedor.contas_bancaria.each do |conta_bancaria|
          %tr
            %td="##{conta_bancaria.id}"
            %td=conta_bancaria.agencia
            %td=conta_bancaria.conta
            %td=conta_bancaria.banco_nome
            %td=conta_bancaria.tipo

