#dados.tab-pane.fade.active.in
  .col-xs-8.col-sm-8.col-md-8.col-lg-8
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.id')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.id
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.status')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.status
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.name')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.nome
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.tipo_pessoa')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = tipo_pessoa?(@cliente_fornecedor.tipo_pessoa)
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.cpf')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.cpf
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.rg')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.rg
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.sexo')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.sexo
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.razao_social')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.razao_social
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.cnpj')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.cnpj
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.inscricao_estadual')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.inscricao_estadual
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.endereco')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.endereco
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.numero')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.numero
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.complemento')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.complemento
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.cep')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.cep
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.bairro')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.bairro
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.cidade_id')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.cidade.nome
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.estado_id')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.estado.nome
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.observacao')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.observacao

    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.contato1_nome')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.contato1_nome
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.contato1_tipo_telefone')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.contato1_tipo_telefone
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.contato1_ddd')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.contato1_ddd
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.contato1_telefone')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.contato1_telefone
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.contato1_email1')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.contato1_email1
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.contato1_email2')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.contato1_email2
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.contato2_nome')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.contato2_nome
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.contato2_tipo_telefone')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.contato2_tipo_telefone
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.contato2_ddd')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.contato2_ddd
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.contato2_telefone')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.contato2_telefone
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.contato2_email1')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.contato2_email1
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.contato2_email2')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.contato2_email2
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.contato3_nome')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.contato3_nome
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.contato3_tipo_telefone')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.contato3_tipo_telefone
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.contato3_ddd')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.contato3_ddd
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.contato3_telefone')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.contato3_telefone
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.contato3_email1')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.contato3_email1
    .row
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        = label_tag t('cliente_fornecedores.helpers.contato3_email2')
      .col-xs-6.col-sm-4.col-md-4.col-lg-4
        = @cliente_fornecedor.contato3_email2
