#obras.tab-pane.fade.in
  %br
  -@cliente_fornecedor.cliente_works.each do |cliente_obra|
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      %table.table.table-condensed.table-hover.table-stripped
        %thead
          %th=content_tag :strong, "Status"
          %th=content_tag :strong, "Código"
          %th=content_tag :strong, "Nome Local"
          %th=content_tag :strong, "Endereço Local"
          %th=content_tag :strong, "Bairro"
          %th=content_tag :strong, "CEP"
          %th=content_tag :strong, "Cidade - Estado"
          %th=content_tag :strong, "Endereço Obra"
          %th=content_tag :strong, "Quadra"
          %th=content_tag :strong, "Lote"
          %th=content_tag :strong, "CEI"
          %th=content_tag :strong, "Petição"
          %th=content_tag :strong, "Aprovação"
        %tbody
          %tr
            %td=cliente_obra.obra.status
            %td=cliente_obra.obra.codigo
            %td=cliente_obra.obra.nome_local
            %td=cliente_obra.obra.endereco_local
            %td=cliente_obra.obra.bairro
            %td=cliente_obra.obra.cep
            %td=cliente_obra.obra.estado_cidade
            %td=cliente_obra.obra.endereco_obra
            %td=cliente_obra.obra.quadra
            %td=cliente_obra.obra.lote
            %td=cliente_obra.obra.cei
            %td=cliente_obra.obra.peticao
            %td=cliente_obra.obra.aprovacao
