#produtos.tab-pane.fade.in
  %br
  -@cliente_fornecedor.fornecedor_products.each do |fornecedor_product|
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      %table.table.table-condensed.table-hover.table-stripped
        %thead
          %th=content_tag :strong, "Código"
          %th=content_tag :strong, "Status"
          %th=content_tag :strong, "Nome"
          %th=content_tag :strong, "Unidade"
        %tbody
          %tr
            %td=fornecedor_product.produto.id
            %td=translate_i18n_status fornecedor_product.produto.status
            %td=fornecedor_product.produto.nome
            %td=fornecedor_product.produto.unidade
