#servicos.tab-pane.fade.in
  %br
  -@cliente_fornecedor.fornecedor_services.each do |fornecedor_service|
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      %table.table.table-condensed.table-hover.table-stripped
        %thead
          %th=content_tag :strong, "Código"
          %th=content_tag :strong, "Nome"
        %tbody
          %tr
            %td=fornecedor_service.service.id
            %td=fornecedor_service.service.name
