- @data_entrada= params[:q][:data_entrada_eq] if params[:q]
- @data_saida= params[:q][:data_saida_eq] if params[:q]
- @data_vencimento_entrada= params[:q][:data_vencimento_entrada_eq] if params[:q]
- @data_vencimento_saida= params[:q][:data_vencimento_saida_eq] if params[:q]
- @data_devolucao= params[:q][:data_devolucao_eq] if params[:q]

= search_form_for @search, url: estoques_estoque_movimentacoes_path, html: { id: "estoque_filtro" }, remote: true do |f|
  .well
    .container-fluid
      .row-fluid
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .row-fluid
            .col-xs-12.col-sm-8.col-md-2.col-lg-2
              = f.label :tipo_movimentacao_eq, "Tipo de Movimento"
              = f.select :tipo_movimentacao_eq, options_for_select(@status_validos), {include_blank: "Selecione"}, {class: "form-control data_live_search", :"data-live-search"=> true}
            .col-xs-12.col-sm-8.col-md-2.col-lg-2
              = f.label :fornecedor_id_eq, "Fornecedor"
              = f.collection_select :fornecedor_id_eq, ClienteFornecedor.order(nome: :asc), :id, :nome, {include_blank: "Selecione"} ,{class: "form-control data_live_search", :"data-live-search"=> true}
            .col-xs-12.col-sm-8.col-md-2.col-lg-2
              = f.label :obra_id, "Obra"
              = f.collection_select :obra_id_eq, Obra.order(codigo: :asc), :id, :codigo, {include_blank: "Selecione"} ,{class: "form-control data_live_search", :"data-live-search"=> true}
            .col-xs-12.col-sm-8.col-md-2.col-lg-2
              = f.label :produto_id, "Produto"
              = f.collection_select :produto_id_eq, Produto.order(nome: :asc), :id, :descricao, {include_blank: "Selecione"} ,{class: "form-control data_live_search", :"data-live-search"=> true}
      .row-fluid
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .row-fluid
            .col-xs-12.col-sm-8.col-md-2.col-lg-2
              #dt_entrada{style: "display: none"}
                = f.label :data_entrada_eq, t("helpers.labels.begin_date")
                = f.search_field :data_entrada_eq, class: "data form-control", value: @data_entrada
              #dt_saida{style: "display: none"}
                = f.label :data_saida_eq, t("helpers.labels.begin_date")
                = f.search_field :data_saida_eq, class: "data form-control", value: @data_saida
            .col-xs-12.col-sm-8.col-md-2.col-lg-2
              #dt_vencimento_entrada{style: "display: none"}
                = f.label :data_vencimento_entrada_eq, t("helpers.labels.end_date")
                = f.search_field :data_vencimento_entrada_eq, class: "data form-control", value: @data_vencimento_entrada
              #dt_vencimento_saida{style: "display: none"}
                = f.label :data_vencimento_saida_eq, t("helpers.labels.end_date")
                = f.search_field :data_vencimento_saida_eq, class: "data form-control", value: @data_vencimento_saida
              #dt_devolucao{style: "display: none"}
                = f.label :data_devolucao_eq, t("helpers.labels.end_date")
                = f.search_field :data_devolucao_eq, class: "data form-control", value: @data_devolucao
      .row-fluid
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          %hr/
          .row-fluid
            = f.submit "Pesquisar", class: "btn btn-primary", id: "btn-estoque-filtro"
            =link_to  estoques_estoque_movimentacoes_path, class: "btn btn-default" do
              %i.fa.fa-refresh

      