%section{id: "edit_estoque"}
  .container-fluid
    .row-fluid
      %span.breadcrumb-item.active Você está em
      %h4.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
        %ol.arrows
          %li
            %a{:href => "#"}="Estoque Nº #{@estoque.id}"
          %li
            %a{:href => "#"}="Adicionar Produtos"
  .container-fluid
    .row-fluid.required_content_box{style: "display: none"}
      #required_fields_content_box
        %h4=t('helpers.titles.uncompleted_field')
        %hr
        %ol.required_fields_messages
    .row
      = render 'estoques/estoque_movimentacoes/form/edit_form'

= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css"
= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.js"
= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.0/moment.min.js"
= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.0/moment-with-locales.min.js"
= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.0/locale/pt-br.js"
= javascript_include_tag "brant/estoques/tipo_movimento"
= javascript_include_tag "brant/estoques/edit_form"
= javascript_include_tag "brant/estoques/link_alter_payday_date"
-# = javascript_include_tag "brant/estoques/parcelamento"