<%- if @search_all %>
  $('#filtro_todos_content').empty()
  $('#filtro_todos_content').hide()
  $('#filtro_todos_content').html("<%=j render 'estoques/componentes/filtro_todos', {search:  @search_all} %>")
  $('#filtro_todos_content').fadeIn(500).animate({"backgroundColor": "#338183", color: "#E7E3E3", height: '500px', opacity: '0.9'}, "slow");
<%- end -%>

<%- if @estoques %>
  $('#estoque_table_content').html("<%=j render @estoques %>");
  $('#estoque_paginator').html("<%=j paginate(@estoques, :remote => true).to_s %>");
  <%if @estoques.empty? %>
    $('.alert').slideDown('fast')
    $('#message').html("<%= t('helpers.record_not_found') %>");
  <%- else -%>
    $('.alert').slideUp('slow')
  <%- end -%>
<%- end -%>

