.container-fluid
  .row-fluid
    %h1.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
      =t('helpers.titles.index', model: "Estoques")
      .btn-group.pull-right
        -if can? :create, Estoque
          = link_to new_estoques_estoque_movimentaco_path, class: 'btn btn-primary popover_link', :"data-toggle"=> "popover", :"data-content" => t('helpers.links.new_stock_moviment'), :"data-placement"=>"top", :"data-trigger"=>"hover" do
            %i.fa.fa-plus{"aria-hidden" => "true"}
  =render 'filtro'
  .row-fluid.alert.alert-danger{style: "display: none"}
    #message
  .row-fluid
    .pull-right#estoque_paginator
      -if @estoques
        =paginate @estoques
    %table.table.table-bordered.table-condensed.estoque_table.table-hover
      %thead
        %tr
          %th.center=t('estoques.helpers.id')
          %th{width: "6%"}=t('estoques.helpers.movimento')
          %th{width: "20%"}=t('estoques.helpers.fornecedor')
          %th{width: "17%"}=t('estoques.helpers.n_documento')
          %th.center{width: "5%"}=t('estoques.helpers.dt_entrada')
          %th.center{width: "5%"}=t('estoques.helpers.dt_vencimento')
          %th.center{width: "5%"}=t('estoques.helpers.dt_devolucao')
          %th.center{width: "5%"}=t('estoques.helpers.dt_transferencia')
          %th.center=t('estoques.helpers.total')
          %th.center=t('estoques.helpers.total_lancamento')
          %th
      %tbody#filtro_todos_content
      %tbody#estoque_table_content
        -if @estoques
          =render @estoques


= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css"
= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.js"
= javascript_include_tag "brant/estoques/filtro"
