%section{id: "new_estoque"}
  .container-fluid
    .row-fluid
      %h1.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
        =t('helpers.titles.new', model: "Lançamento")
    .row-fluid.required_content_box{style: "display: none"}
      #required_fields_content_box
        %h4=t('helpers.titles.uncompleted_field')
        %hr
        %ol.required_fields_messages
    .row-fluid
      = render 'estoques/estoque_movimentacoes/form/new_form'