%section{id: "show_estoque"}
  =render 'estoques/estoque_movimentacoes/estoque/page_header'
  .container
    .well
      =render 'estoques/estoque_movimentacoes/estoque/movimento'
  .container
    .well
      .row-fluid 
        %h4
          %b=t('helpers.labels.quotations')
      %hr/
      -numero =1
      .row
        -@estoque.estoque_movimento_parcelas.each do |parcela|
          .col-xs-6.col-sm-3.col-md-3
            %li{style: "display:inline-block"}
              %label.badge{style: "background: #272332; color: #C4FF30"}="#{numero}x"
              %label - Valor
              =number_to_currency parcela.valor
          -numero += 1 
    
  -unless @estoque.estoque_produtos.empty?
    =render 'estoques/estoque_produtos/produtos'
  -unless @estoque.estoque_transferencias.empty?
    =render 'estoques/estoque_transferencias/produtos'
  .container
    %hr{style: "border: #C3C3C3 solid 0.5px"}
    .btn-group.pull-right
      = link_to estoques_estoque_movimentacoes_path, class: 'btn btn-success', id: "finish_release" do
        %i.fas.fa-lock{"aria-hidden" => "true", style: "color: gold"}
        =t('helpers.links.finish_release')
      = link_to edit_estoques_estoque_movimentaco_path(@estoque), class: 'btn btn-default' do
        %i.fa.fa-edit{"aria-hidden" => "true"}
        =t('helpers.links.change_data')
