<%- valotTotalProdutos = 0 %>
<% if @estoque_produtos %>
    <% @estoque_produtos.each do |single| %>
        <%- valotTotalProdutos += single.valor_total.to_f %>
    <% end %>

    <% if @estoque.total_estoque < valotTotalProdutos %>
        $("#warning_message").html("<div id='message_4_locked_page'><%= I18n.t('pages.helpers.messages.upper_value_locked_page') %></div>")
        $("#lock_page_modal").modal()
    <% elsif @estoque.total_estoque > valotTotalProdutos %>
        $("#warning_message").html("<div id='message_4_locked_page'><%= I18n.t('pages.helpers.messages.lower_value_locked_page') %></div>")
        $("#lock_page_modal").modal()
    <% else %>
        window.location.href = "<%= estoques_estoque_movimentaco_path(@estoque) %>"
    <% end %>
<% else %>
    <% if @estoque_transferencias %>
        <% @estoque_transferencias.each do |single| %>
            <%- valotTotalProdutos += single.valor_total.to_f %>
        <% end %>

        <% if @estoque.total_estoque < valotTotalProdutos %>
            $("#warning_message").html("<div id='message_4_locked_page'><%= I18n.t('pages.helpers.messages.upper_value_locked_page') %></div>")
            $("#lock_page_modal").modal()
        <% elsif @estoque.total_estoque > valotTotalProdutos %>
            $("#warning_message").html("<div id='message_4_locked_page'><%= I18n.t('pages.helpers.messages.lower_value_locked_page') %></div>")
            $("#lock_page_modal").modal()
        <% else %>
            window.location.href = "<%= estoques_estoque_movimentaco_path(@estoque) %>"
        <% end %>
    <% end %>
<% end %>

