<%- if $lock -%>
    $("#warning_message").html("<div id='message_4_locked_page'><%= I18n.t('pages.helpers.messages.stock_locked_page') %></div>")
    $("#message_total_value").html("<%=j render 'estoques/componentes/lock_by_valida_por', {total_produto: $total_produtos, total_estoque: $total_estoque} %>")
    $("#lock_page_modal").modal()
<%- else -%>
    window.location.href="/estoques/estoque_movimentacoes/"
<%- end -%>