.pull-left
  = button_tag(type: "submit", id: "btn_save_estoque_produto", class: 'btn btn-primary', title: "Adicionar Produto no Estoque", style: "margin-top: 23px;") do
    %i.fa.fa-plus{"aria-hidden" => "true"}
    =t('helpers.links.add')
  =content_tag :div, id: "btn_estoque_produto_edit", style: "display: none" do
    = button_tag(type: "submit", id: "btn_edit_estoque_produto", class: 'btn btn-warning', title: "Atualizar Produto no Estoque", style: "margin-top: 23px;") do
      %i.fa.fa-edit{"aria-hidden" => "true"}
      =t('helpers.links.edit')
.pull-right
  =link_to unlock_through_validate_by_estoques_estoque_movimentaco_path(@estoque), class: 'btn btn-default', remote: true, style: "margin-top: 23px;", data: { valida_por: @estoque.valida_por, valor_total: @estoque.total_estoque.to_s, total_produtos: @estoque.valor_total_produto.to_s} do
    %i.fa.fa-archive{"aria-hidden" => "true"}
    =t('helpers.links.finish_release')