.panel.panel-default
  .panel-heading
    .row
      %h4.center
        %b=t('helpers.titles.new_categoria')
    .row
      .col-xs-12.col-sm-8.col-md-2.col-lg-12
        =f.input :nome, input_html: {id: "categoria_nome"}
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .btn-group.pull-right
          = link_to "#", class: 'btn btn-default', title: "Salvar Produto", id: "btn_salvar_categoria" do
            %i.fa.fa-check{"aria-hidden" => "true"}
          = link_to "#", class: 'btn btn-warning', title: "Cancelar", id: "btn_cancelar_categoria" do
            %i.fa.fa-times{"aria-hidden" => "true"}
