.row
  =f.input :estoque_movimento_id, as: :hidden, input_html: { value: @estoque.id }
  =f.input :id, as: :hidden
.row
  .col-xs-12.col-sm-8.col-md-4.col-lg-4
    =label_error_tag f,:produto, @estoque_produto, :produto_id
    .produto_data_live_search
      .input-group
        =f.collection_select(:produto_id, Produto.order(nome: :asc), :id, :descricao, {:prompt=>true}, {class: "form-control tab data_live_search", :"data-live-search"=> true})
        %span.input-group-btn
          %button{ class: "btn btn-default docs-datepicker-trigger", style: "margin-top: 0 !important", disabled: false, id: "btn_new_product_on_estoque_form"}
            %i{ class: "fa fa-plus", :"aria-hidden"=>"true"}
    =error_tag @estoque_produto, :produto_id
.row
  .col-xs-12.col-sm-8.col-md-4.col-lg-4
    .estoque_obra_data_live_search
      =label_error_tag f,:obra, @estoque_produto, :obra_id
      =f.collection_select(:obra_id, Obra.where.not(codigo: "BRANT").order(codigo: :asc), :id, :codigo, {:prompt=>true}, {class: "form-control tab data_live_search", :"data-live-search"=> true})
    =error_tag @estoque_produto, :obra_id
  .col-xs-12.col-sm-8.col-md-5.col-lg-5{style: "margin-left: 9%"}
    =label_error_tag f,"Cômodo", @estoque_produto, :comodo_id
    =f.grouped_collection_select(:comodo_id, Obra.where.not(codigo: "BRANT").order(codigo: :asc), :comodo_obras, :codigo, :id , :comodo_name, {:prompt=>"Por Favor Selecione"}, {class: "form-control data_live_search", :"data-live-search"=> true})
.row
  .col-xs-12.col-sm-8.col-md-5.col-lg-5
    .estoque_data_live_search
      =label_error_tag f,t("helpers.labels.etapa"), @estoque_produto, :item_obra_id
      =f.collection_select(:item_obra_id, ItemObra.order(item: :asc), :id, :item_obra_descricao, {:prompt=>true}, {class: "data_live_search", :"data-live-search"=> true})
    =error_tag @estoque_produto, :item_obra_id
  .col-xs-12.col-sm-8.col-md-5.col-lg-5
    =label_error_tag f,t("helpers.labels.sub_etapa"), @estoque_produto, :sub_item_obra_id
    =f.grouped_collection_select(:sub_item_obra_id, ItemObra.order(item: :asc), :sub_itens_obras, :item_obra_descricao, :id, :sub_item_obra_descricao, {:prompt=>true}, {class: "form-control data_live_search", :"data-live-search"=> true})
    =error_tag @estoque_produto, :sub_item_obra_id
.row
  .col-xs-12.col-sm-8.col-md-5.col-lg-5
    =f.input :quantidade_movimento, label: t("helpers.labels.quantidade"), input_html: {min: 1}
  .col-xs-12.col-sm-8.col-md-5.col-lg-5
    =f.input :valor_produto, label: t("helpers.labels.valor"), input_html: { class: "campo_dinheiro" }, as: :string
.row
  .col-xs-12.col-sm-8.col-md-5.col-lg-5
    =f.input :valor_total, label: "Valor Total do Produto", input_html: { class: "campo_dinheiro", value: @estoque_produto.valor_total.to_money.to_s }, as: :string, readonly: true
.row
  .col-xs-12.col-sm-12.col-md-10.col-lg-10
    =f.input :observacoes, as: :text, label: "Observações"