=simple_form_for [@estoque, @estoque_produto], url: estoques_estoque_movimentaco_estoque_produtos_path, method: "POST" do |f|
  %br/
  .row
    .col-xs-12.col-sm-8.col-md-5.col-lg-5
      =render 'estoque_produto_fields', {f: f}
    .col-xs-12.col-sm-8.col-md-7.col-lg-7
      #estoque_produto_fields{style: "display: none"}
        .panel
          = f.simple_fields_for :produtos do |produto|
            =render 'produto_fields', {f: produto }
      #estoque_itens_armazenados
        .panel.panel-default
          .panel-heading
            %h3.center
              %strong Estoque Itens
            %hr
            -if !@item.estoque_produtos.empty?
              =render 'itens/item'
          .panel-bottom
            -if !@item.estoque_produtos.empty?
              %div{style: "margin-top: 10px"}
                .container-fluid
                  #total_estoque
                    =render 'estoques/estoque/estoque_produtos/total_produtos', {source: @item.estoque_produtos}
  .row-fluid{style: "margin-bottom: 5%"}
    =render 'btns_form_section', {f: f}