.panel.panel-primary
  .panel-heading
    .row
      %h4.center
        %b=t('helpers.titles.new', model: "Produto")
    %hr{style: "border: #639DBD 0.5px solid"}
    .row
      .col-xs-12.col-sm-8.col-md-2.col-lg-6
        =f.input :nome, input_html: {id: "produto_nome"}
      .col-xs-12.col-sm-8.col-md-2.col-lg-3
        =f.input :valor, as: :string, input_html: {id: "produto_valor", class: "campo_dinheiro"}
      .col-xs-12.col-sm-8.col-md-2.col-lg-3
        = f.input :unidade, as: :select, collection: [["Balde","Balde"],["Bj","Bj"],["Caixa","Caixa"],["Dia","Dia"],["Dúzia","Dúzia"],["Folha","Folha"],["Galão","Galão"],["Kg","Kg"],["Lata","Lata"],["M","M"],["M²","M²"],["M³","M³"],["Pacote", "Pacote"],["Peça","Peça"],["Resma","Resma"],["Saco","Saco"],["Un (unidade)","Un (unidade)"]], include_blank: "Selecione", label: t('produtos.helpers.unidade'), input_html: {id: "produto_unidade"}
    .row
      .col-xs-12.col-sm-8.col-md-4.col-lg-12
        = f.input :observacoes, as: :text, label: t('produtos.helpers.observacoes'), input_html: {id: "produto_observacoes"}
    .row
      .col-xs-12.col-sm-8.col-md-4.col-lg-4
        #estoque_produto
          =f.label :categoria_id, t("helpers.labels.categoria")
          .input-group
            =f.collection_select(:categoria_id, Categoria.order(nome: :asc), :id, :nome, {:prompt=>true}, {class: "form-control tab data_live_search", :"data-live-search"=> true, id: "select_categoria"})
            %span.input-group-btn
              %button{ class: "btn btn-default docs-datepicker-trigger", style: "margin-top: 0 !important", disabled: false, id: "btn_new_categoria"}
                %i{ class: "fa fa-plus", :"aria-hidden"=>"true"}
    #categoria_fields{style: "display: none"}
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          %hr
          = f.simple_fields_for :categorias do |categoria|
            =render 'estoques/estoque_produtos/categoria_fields', {f: categoria}
    %hr
    .container-fluid
      .row-fluid
        .pull-left
          = link_to "#", class: 'btn btn-success btn-circle popover_link', id: "btn_salvar_produto", :"data-toggle"=> "popover", :"data-content" => t("helpers.links.save"), :"data-placement"=>"top", :"data-trigger"=>"hover" do
            %i.fa.fa-check{"aria-hidden" => "true"}
        .pull-right
          = link_to "#", class: 'btn btn-danger btn-circle popover_link', id: "btn_cancelar_produto", :"data-toggle"=> "popover", :"data-content" => t("helpers.links.end"), :"data-placement"=>"top", :"data-trigger"=>"hover" do
            %i.fa.fa-times{"aria-hidden" => "true"}
