- totalProdutos = 0
- if @estoque_produtos
  - @estoque_produtos.each do |estoque_produto|
    - totalProdutos += estoque_produto.valor_total

.container
  .well
    %h4
      %b=t('helpers.labels.produtos_added')
    .pull-right
      - if @estoque.tipo_movimentacao.eql?("Entrada") || @estoque.tipo_movimentacao.eql?("Devolução para Fornecedor")
        -if totalProdutos < @estoque.total_estoque
          =link_to new_estoques_estoque_movimentaco_estoque_produto_url(@estoque), class: "btn btn-danger" do
            %i.fa.fa-plus
            =t('helpers.links.add_produto')
      -if @estoque.tipo_movimentacao.eql?("Transferencia")
        =link_to new_estoques_estoque_movimentaco_estoque_transferencia_path(@estoque), id: "add_item_produto", class: "btn btn-danger" do
          %i.fa.fa-plus
          =t('helpers.links.add_produto')
    .page-header
    %table.table.table-condensed.table-hover.table-striped
      %caption
        %b=t('helpers.labels.total_produtos', total: "#{@estoque.estoque_produtos.count}")
      %thead
        %tr
          %th=t('produtos.helpers.nome')
          %th.center=t('helpers.labels.obra')
          %th.center=t('helpers.labels.etapa')
          %th.center=t('helpers.labels.sub_etapa')
          %th.center=t('produtos.helpers.quantidade')
          %th.center=t('produtos.helpers.valor')
          %th
            .pull-right=t('produtos.helpers.valor_total')
          %th
          %th
      %tbody.estoque_produto
        =render @estoque_produtos
      %caption{style: "caption-side: bottom;"}
        .pull-left
          %b=t('pages.helpers.labels.total_estoque_produtos')
        .pull-right
          #total_estoque
            %strong.badge{style: "background: #000000; color: #FFFE00"}=total_produtos(@estoque_produtos)
    #estoque_produto_paginator
      =paginate @estoque_produtos, remote: true
