%section{id: "estoque_dados_movimento"}
  .container-fluid
    .row-fluid
      %span.breadcrumb-item.active Você está em
      %h4.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
        .pull-right
          = link_to edit_estoques_estoque_movimentaco_path(@estoque), class: 'btn btn-primary' do
            %i.fa.fa-edit{"aria-hidden" => "true"}
            =t('helpers.links.change_data_moviment')
        %ol.arrows
          %li
            %a{:href => "#"}="Estoque Nº #{@estoque.id}"
          %li
            %a{:href => "#"}="Adicionar Produtos"
  .container-fluid
    .panel.panel-default
      .panel-heading
        #exTab3.container-fluid
          %ul.nav.nav-pills
            %li
              %a{"data-toggle" => "tab", :href => "#tab_moviment"}=t('estoques.links.tab_moviment')
            %li.active
              %a{"data-toggle" => "tab", :href => "#tab_product"}=t('estoques.links.tab_product')
      .panel-body
        .tab-content.clearfix
          #tab_moviment.tab-pane.fade.in
            =render 'estoques/estoque_movimentacoes/estoque/movimento'
          #tab_product.tab-pane.fade.in.active
            =render 'form'

%section#warning_modal
  =render 'estoques/componentes/page_lock'

= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.js"
= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.0/moment.min.js"
= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.0/moment-with-locales.min.js"
= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.0/locale/pt-br.js"

= javascript_include_tag "brant/estoques/produto"
= javascript_include_tag "brant/estoques/produto_etapas_da_obra"
= javascript_include_tag "brant/estoques/obra_comodo_group_collection"
=javascript_include_tag "brant/estoques/estoque_produto", cache: true