.col-xs-12.col-sm-8.col-md-4.col-lg-3
  .input-group
    =f.input :data_devolucao, label: "Data de Devolução", as: :string, input_html: { class: "docs-date data", placeholder: "Escolha uma Data", value: exibe_data_devolucao(@estoque) }
    %span.input-group-btn
      %button{ class: "btn btn-default docs-datepicker-trigger", disabled: ""}
        %i{ class: "fa fa-calendar", :"aria-hidden"=>"true"}
.col-xs-12.col-sm-8.col-md-4.col-lg-3
  =f.label :fornecedor_id, "Fornecedor"
  =f.collection_select(:fornecedor_id, ClienteFornecedor.order(nome: :asc), :id, :nome, {:prompt=>true}, {class: "form-control tab fornecedor_id", id: "estoque_fornecedor_devolucao", :"data-live-search"=> true})
.col-xs-12.col-sm-8.col-md-4.col-lg-3
  =f.input :boleto, label: "Boletos", as: :string, input_html: { id: "estoque_devolucao_boleto" }
.col-xs-12.col-sm-8.col-md-4.col-lg-3
  .input-group
    =f.input :frete, as: :string, input_html: { id: "estoque_devolucao_frete", class: "campo_dinheiro", placeholder: "Escolha um valor", value: _frete }
    %span.input-group-btn
      %button{ class: "btn btn-default", disabled: ""}
        %i{ class: "fas fa-truck", :"aria-hidden"=>"true"}
