.col-xs-12.col-sm-8.col-md-4.col-lg-3
  .input-group
    =f.input :valor_total_produto, label: "Valor Total Produtos", as: :string, input_html: { class: "campo_dinheiro estoque_devolucao_total_produtos", placeholder: "Escolha um valor", value: _valorTotalProduto }
    %span.input-group-btn
      %button{ class: "btn btn-default", disabled: ""}
        %b R
        %i{ class: "fa fa-usd", :"aria-hidden"=>"true"}
.col-xs-12.col-sm-8.col-md-4.col-lg-3
  .input-group
    =f.input :total_estoque, label: "Valor Total", as: :string, input_html: { class: "estoque_movimento_total_estoque_devolucao campo_dinheiro", placeholder: "Escolha um valor", value: _valorTotal, readonly: true }
    %span.input-group-btn
      %button{ class: "btn btn-default", disabled: ""}
        %b R
        %i{ class: "fa fa-usd", :"aria-hidden"=>"true"}
.col-xs-12.col-sm-8.col-md-4.col-lg-3
  .input-group
    =f.input :parcelas, as: :integer, input_html: { min: 1, placeholder: "Escolha um valor", class: "estoque_movimento_parcelas_devolucao" }
    %span.input-group-btn
      %button{ class: "btn btn-default", disabled: ""}
        %i{ class: "fa fa-pie-chart", :"aria-hidden"=>"true"}
%section.periodo_devolucao_field_section{style: "display: none"}
  .col-xs-12.col-sm-8.col-md-3.col-lg-3
    .input-group
      = f.input :periodo, as: :select, collection: [['Semanal','Semanal'], ['Quinzenal','Quinzenal'], ['Mensal','Mensal'], ['Anual','Anual']], label: "Período", input_html: { class: 'form-control estoque_periodo_select', id: "select_periodo_devolucao" }, prompt: 'Selecione', required: true
      %span.input-group-btn
        %button{ class: "btn btn-default", disabled: ""}
          %i{ class: "fa fa-calendar", :"aria-hidden"=>"true"}