.col-xs-12.col-sm-8.col-md-4.col-lg-3
  =label_tag "Valida Por?"
  %br/
  -if controller.action_name.eql?("edit")
    - if @estoque.valida_por.eql?("total_estoque")
      %input{checked: true, "data-toggle" => "toggle", :type => "checkbox", :id => "estoque_estoque_movimento_devolucao_valida_por", name: "estoque_estoque_movimento_devolucao_valida_por"}
    - else
      %input{"data-toggle" => "toggle", :type => "checkbox", :id => "estoque_estoque_movimento_devolucao_valida_por", name: "estoque_estoque_movimento_devolucao_valida_por"}
  -if controller.action_name.eql?("new")
    %input{checked: true, "data-toggle" => "toggle", :type => "checkbox", :id => "estoque_estoque_movimento_devolucao_valida_por", name: "estoque_estoque_movimento_devolucao_valida_por"}
.col-xs-12.col-sm-9.col-md-9.col-lg-9
  =f.input :justificativa_devolucao, label: "Justificativa", as: :text
.col-xs-12.col-sm-8.col-md-4.col-lg-3
  =label_tag "Pronto Pagamento"
  %br/
  -if controller.action_name.eql?("edit")
    - if @estoque.pronto_pagamento.eql?("Sim")
      %input{checked: false, "data-toggle" => "toggle", :type => "checkbox", :id=> "estoque_estoque_movimento_devolucao_pronto_pagamento", name: "estoque_estoque_movimento_devolucao_pronto_pagamento"}
    - else
      %input{checked: true, "data-toggle" => "toggle", :type => "checkbox", :id=> "estoque_estoque_movimento_devolucao_pronto_pagamento", name: "estoque_estoque_movimento_devolucao_pronto_pagamento"}
  -if controller.action_name.eql?("new")
    %input{checked: true, "data-toggle" => "toggle", :type => "checkbox", :id=> "estoque_estoque_movimento_devolucao_pronto_pagamento", name: "estoque_estoque_movimento_devolucao_pronto_pagamento"}
