%br
.container-fluid
  .well
    .panel.panel-danger
      .panel-heading
        %center
          %h1{style: "font-weight: bolder"} BRANT
          %i{"aria-hidden" => "true", class: "fa fa-exclamation-triangle fa-5x", style: "color: #FFB401"}
          %h4
            %em
              %strong Em desenvolvimento
              %br



