= simple_form_for(@conta) do |f|
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.label t('contas.helpers.banco_id'), required: :true
      = f.collection_select(:banco_id, Banco.all.order("nome Asc"), :id, :nome, {include_blank: "Selecione"}, {class:'form-control'})
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :agencia, label: t('contas.helpers.agencia')
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :numero, label: t('contas.helpers.numero')
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :tipo_conta, label: t('contas.helpers.tipo_conta')
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :operacao, label: t('contas.helpers.operacao')
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :titular, label: t('contas.helpers.titular')
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :cpf_cnpj, label: t('contas.helpers.cpf_cnpj')
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
      .pull-left
        = button_tag(type: "submit", class: "btn btn-success") do
          %i.fa.fa-check{"aria-hidden" => "true"}
          =t('helpers.links.save')
      .pull-right
        = link_to contas_path, class: 'btn btn-danger', data: { confirm: "Tem Certeza?" }, method: :get do
          %i.fa.fa-times{"aria-hidden" => "true"}
          =t('helpers.links.cancel')






