%div{id:"dados", class: "tab-pane fade active in"}
  -if controller.action_name.eql?("edit") || controller.action_name.eql?("update")
    %div{class: "row"}
      #status
        %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
          = f.input :_status, :collection => [['active', t('activerecord.attributes.produto.active')], ['inactive', t('activerecord.attributes.produto.inactive')]], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', checked: @produto.status
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :nome, label: t('produtos.helpers.nome')
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :valor, label: t('produtos.helpers.valor'), input_html: { class: 'campo_dinheiro' }, as: :string
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :unidade, as: :select, collection: [["Balde","Balde"],["Bj","Bj"],["Caixa","Caixa"],["Dia","Dia"],["Folha","Folha"],["Galão","Galão"],["Kg","Kg"],["Lata","Lata"],["M","M"],["M²","M²"]], include_blank: "Selecione", label: t('produtos.helpers.unidade')
    %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
      = f.input :observacoes, label: t('produtos.helpers.observacoes')