%div{class: "well"}
  = simple_form_for(@produto) do |f|
    -if controller.action_name.eql?("edit") || controller.action_name.eql?("update")
      %div{class: "row"}
        #status
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            = f.input :_status, :collection => [['active', t('activerecord.attributes.produto.active')], ['inactive', t('activerecord.attributes.produto.inactive')]], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', checked: @produto.status
    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
        = f.input :nome, label: t('produtos.helpers.nome')
      %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
        = f.input :valor, label: t('produtos.helpers.valor'), input_html: { class: 'campo_dinheiro' }, as: :string
    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
        = f.input :unidade, as: :select, collection: [["Balde","Balde"],["Bj","Bj"],["Caixa","Caixa"],["Dia","Dia"],["Dúzia","Dúzia"],["Folha","Folha"],["Galão","Galão"],["Kg","Kg"],["Lata","Lata"],["M","M"],["M²","M²"],["M³","M³"],["Pacote", "Pacote"],["Peça","Peça"],["Resma","Resma"],["Saco","Saco"],["Un (unidade)","Un (unidade)"]], include_blank: "Selecione", label: t('produtos.helpers.unidade')
      %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
        = f.input :observacoes, label: t('produtos.helpers.observacoes')
    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
        %div{class: "pull-left"}
          = button_tag(type: "submit", class: "btn btn-success") do
            %i.fa.fa-check{"aria-hidden" => "true"}
            =t('helpers.links.continue')
        %div{class: "pull-right"}
          = link_to produtos_path(page: session[:page]), class: 'btn btn-danger', data: { confirm: "Tem Certeza?" }, method: :get do
            %i.fa.fa-times{"aria-hidden" => "true"}
            =t('helpers.links.cancel')
