%div{class: "container", style: "width: 90%;"}
  %div{class: "well"}
    %ul{class: "nav nav-tabs"}
      %li{class:"active"}
        %a{'data-toggle':"tab", href:"#dados_show"} Dados
      - if @produto.produto_categorias.present?
        %li
          %a{'data-toggle':"tab", href:"#produto_categorias_show"} Categorias
    %div{class: "container", style: "width: 90%;"}
      %div{class:"tab-content"}
        / aba dados
        =render 'produtos/shared/show_dados'
        - if @produto.produto_categorias.present?
          / aba produto_categorias
          =render 'produto_categorias/shared/show_produto_categorias'
