%div{id:"dados", class:"tab-pane fade"}
  %div{class: "container", style: "padding-top: 15px; padding-bottom: 15px;"}
    %div{class: "col-xs-8 col-sm-8 col-md-8 col-lg-8"}
      %div{class: "row"}
        %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
          = label_tag t('produtos.helpers.id')
        %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
          = @produto.id
      %div{class: "row"}
        %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
          = label_tag t('produtos.helpers.status')
        %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
          =translate_i18n_status(@produto.status)
      %div{class: "row"}
        %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
          = label_tag t('produtos.helpers.nome')
        %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
          = @produto.nome
      %div{class: "row"}
        %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
          = label_tag t('produtos.helpers.unidade')
        %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
          = @produto.unidade
      - if @produto.observacoes.present?
        %div{class: "row"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            = label_tag t('produtos.helpers.observacoes')
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            = @produto.observacoes
