=simple_form_for @estoque, url: estoques_estoque_movimentaco_path do |f|
  #exTab3.container-fluid
    %ul.nav.nav-pills
      %li.active
        %a{"data-toggle" => "tab", :href => "#tab_moviment"}=t('estoques.links.tab_moviment')
    .tab-content.clearfix
      #tab_moviment.tab-pane.fade.in.active
        =render 'estoques/estoque_movimentacoes/form/tipo_movimento', {f: f}
      .row
        #progress_bar{style: "display: none"}
          .col-md-12=render 'estoques/componentes/progress_bar'
      .row-fluid
        =render 'estoques/componentes/parcelas'
    %hr
    .pull-left
      .btn-group
        = button_tag(type: "submit", class: "btn btn-success popover_link", id: "save_stock_moviment_data", :"data-toggle"=> "popover", :"data-content" => t("helpers.links.submit"), :"data-placement"=>"top", :"data-trigger"=>"hover") do
          %i.fa.fa-edit{"aria-hidden" => "true"}
          =t("helpers.links.submit")
        -if !@estoque.tipo_movimentacao.eql?("Transferência")
          = link_to new_estoques_estoque_movimentaco_estoque_produto_path(@estoque), id: "btn_advance", class: 'btn btn-primary popover_link', :"data-toggle"=> "popover", :"data-content" => t("helpers.labels.advance_to_produto"), :"data-placement"=>"top", :"data-trigger"=>"hover" do
            %i.fa.fa-chevron-circle-right
            =t("helpers.labels.advance_to_produto")
        -else
          = link_to new_estoques_estoque_movimentaco_estoque_transferencia_path(@estoque), id: "btn_advance", class: 'btn btn-primary popover_link', :"data-toggle"=> "popover", :"data-content" => t("helpers.labels.advance_to_produto_transferencia"), :"data-placement"=>"top", :"data-trigger"=>"hover" do
            %i.fa.fa-chevron-circle-right
            =t("helpers.labels.advance_to_produto_transferencia")
    .pull-right
      = link_to estoques_estoque_movimentaco_path(@estoque), data: {confirm: t('helpers.links.confirm_delete')}, method: :get, id: "cancel_stock_moviment_data", class: 'btn btn-danger popover_link', :"data-toggle"=> "popover", :"data-content" => t("helpers.links.back_stock"), :"data-placement"=>"top", :"data-trigger"=>"hover" do
        %i.fas.fa-th{"aria-hidden" => "true"}
        =t("helpers.links.back_stock")

-if action_name.eql?("edit")
  #estoque_movimento_id{style: "display: none;"}=@estoque.id
  #dynamic_send_data_to_controller
  %section#warning-message
    =render 'estoques/componentes/page_lock'
