=simple_form_for @estoque, url: estoques_estoque_movimentacoes_path do |f|
  #exTab3.container-fluid
    %ul.nav.nav-pills
      %li.active
        %a{"data-toggle" => "tab", :href => "#tab_moviment"}=t('estoques.links.tab_moviment')
    .tab-content.clearfix
      #tab_moviment.tab-pane.fade.in.active
        =render 'estoques/estoque_movimentacoes/form/tipo_movimento', {f: f}
      .row
        %br/
        .col-md-12=render 'estoques/componentes/progress_bar'
    %br/
    .pull-left
      = button_tag(type: "submit", class: "btn btn-success", id: "save_stock_moviment_data") do
        %i.fa.fa-check{"aria-hidden" => "true"}
        =t('helpers.links.next')
    .pull-right
      =button_to estoques_estoque_movimentacoes_path, id: "cancel_stock_moviment_data", data: {confirm: t('helpers.links.confirm_delete')}, method: :get, class: 'btn btn-danger' do
        %i.fa.fa-times{"aria-hidden" => "true"}
        =t('helpers.links.cancel')
= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css"
= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.js"
= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.0/moment.min.js"
= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.0/moment-with-locales.min.js"
= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.0/locale/pt-br.js"
= javascript_include_tag "brant/estoques/tipo_movimento"
= javascript_include_tag "brant/estoques/new_form"

