%br/
- if @estoque.id?
  .row
    =f.input :id, as: :hidden, input_html: {value: @estoque.id}
.row
  .col-xs-12.col-sm-8.col-md-4.col-lg-3
    - if controller.action_name.eql?("new")
      = f.input :tipo_movimentacao, as: :select, collection: [['Entrada', 'Entrada'],['Devolução para Fornecedor', 'Devolução para Fornecedor'],['Transferência', 'Transferência']], :include_blank => "Selecione", label: t('estoques.helpers.movimento')
    - if controller.action_name.eql?("edit")
      = f.input :tipo_movimentacao, as: :select, collection: [['Entrada', 'Entrada'],['Devolução para Fornecedor', 'Devolução para Fornecedor'],['Transferência', 'Transferência']], :include_blank => "Selecione", label: t('estoques.helpers.movimento'), disabled: true
%SECTION.movimento_stoque
  =render 'estoques/estoque_movimentacoes/tipo_movimentacao/entrada', {f: f}
  =render 'estoques/estoque_movimentacoes/tipo_movimentacao/devolucao_para_fornecedor', {f: f}
  =render 'estoques/estoque_movimentacoes/tipo_movimentacao/transferencia', {f: f}
.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    .panel.panel-default
      .panel-heading
        =label_tag "Observações"
        =f.input :observacoes, as: :text, label: false

