.col-lg-12
  .well
    .panel.panel-default
      .panel-heading
        %strong Administradores
        =link_to new_user_registration_path, class: "btn btn-success btn-circle pull-right" do
          %i{class: "fa fa-plus"}
      .panel-body
        %table.table.table-hover.table-condensed
          %thead
            %tr
              %th.center #
              %th=t('users.name')
              %th=t('users.username')
              %th E-mail
              %th Tipo
              %th
          %tbody
            - @users.each do |user|
              %tr
                %td=link_to "##{user.id}", "#", class: "badge"
                %td{colspan: "1"}=user.name
                %td{colspan: "1"}=user.username
                %td{colspan: "1"}=user.email
                %td
                  -if user.user?
                    .badge{style: "color: #98FFD7"}=t("users.#{user.role}")
                  -else
                    .badge{style: "color: #FFF957"}=t("users.#{user.role}")
                %td
                  .btn-group
                    =link_to edit_user_registration_path(user), class: "btn btn-circle btn-default" do
                      %i.fa.fa-pencil.fa-2x{style: "margin-top: -3px; font-size: 15pt"}
                    -unless user.admin?
                      =link_to backstage_user_permissions_path(user), title: t('users.authorizations'), class: "btn btn-circle btn-default" do
                        %i.fa.fa-cog.fa-2x{style: "margin-top: -3px; font-size: 15pt"}
                    -if user == current_user
                      =link_to destroy_user_registration_path(user), method: :delete, data: { confirm: "Tem certeza?" }, class: "btn btn-circle btn-danger" do
                        %i.fa.fa-trash.fa-2x{style: "margin-top: -3px; font-size: 15pt"}

