.col-lg-12
  .well
    .panel.panel-default
      .panel-heading
        %strong Usuários
        =link_to new_backstage_authorization_path, class: "btn btn-success btn-circle pull-right" do
          %i{class: "fa fa-plus"}
      .panel-body
        %table.table.table-hover.table-condensed
          %thead
            %tr
              %th.center #
              %th Classe
              %th Nome
              %th
          %tbody
            - @authorizations.each do |f|
              %tr
                %td=link_to "##{f.id}", "#", class: "badge"
                %td{colspan: "1"}=f.name
                %td{colspan: "1"}=f.description
                %td
                  .btn-group
                    =link_to "", class: "btn btn-circle btn-default" do
                      %i.fa.fa-pencil.fa-2x{style: "margin-top: -3px; font-size: 15pt"}
                    =link_to backstage_authorization_path(f), method: :delete, data: { confirm: "Tem certeza?" }, class: "btn btn-circle btn-danger" do
                      %i.fa.fa-trash.fa-2x{style: "margin-top: -3px; font-size: 15pt"}
