-if estoque_movimento.incompleto?
  %tr.danger.estoque_confronto_de_valores=render 'estoques/estoque/estoque_movimentos/linha', {estoque_movimento: estoque_movimento}
-else
  %tr=render 'estoques/estoque/estoque_movimentos/linha', {estoque_movimento: estoque_movimento}
