%td.center
  %b=link_to "##{estoque_movimento.id}", estoques_estoque_movimentaco_path(estoque_movimento)
%td
  -if estoque_movimento.tipo_movimentacao.eql? "Transferência"
    %strong=estoque_movimento.transferencia_descricao
  -else
    %strong=estoque_movimento.tipo_movimentacao.upcase
%td
  -if estoque_movimento.fornecedor.present?
    =estoque_movimento.fornecedor.nome.truncate(27)
  -else
    .center="..."
%td=estoque_movimento.n_documento
%td.center
  - if !estoque_movimento.data_entrada.nil?
    =l estoque_movimento.data_entrada
  -else
    ="..."
/ %td.center
/   -if !estoque_movimento.data_saida.nil?
/     =l estoque_movimento.data_saida
/   -else
/     ="..."
%td.center
  / -elsif !estoque_movimento.data_vencimento_saida.nil?
  /   =l estoque_movimento.data_vencimento_saida
  -if !estoque_movimento.data_vencimento_entrada.nil?
    =l estoque_movimento.data_vencimento_entrada
  -else
    ="..."
%td.center
  -if !estoque_movimento.data_devolucao.nil?
    =l estoque_movimento.data_devolucao
  -else
    ="..."
%td.center
  -if !estoque_movimento.data_transferencia.nil?
    =l estoque_movimento.data_transferencia
  -else
    ="..."
%td.center
  %span{class: "badge", style: "text-shadow: none !important;"}= contador_de_itens_no_estoque(estoque_movimento, params)
%td
  %strong=number_to_currency(estoque_movimento.total_estoque)
%td
  .center
    =link_to estoques_estoque_movimentaco_path(estoque_movimento), target: :_blank do
      %i.far.fa-file-alt.fa-2x{"aria-hidden" => "true"}
    =link_to edit_estoques_estoque_movimentaco_path(estoque_movimento), target: :_blank do
      %i.fa.fa-edit.fa-2x{"aria-hidden" => "true"}
