- if !@estoque.id.nil?
  - _valorTotal= number_to_currency(@estoque.total_estoque.to_s).gsub("R$", "")
  - _valorTotalProduto= number_to_currency(@estoque.valor_total_produto.to_s).gsub("R$", "")
- if @estoque.frete.present?
  - _frete= number_to_currency(@estoque.frete.to_s).gsub("R$", "")
-else
  - _frete = "0,00"
#devolucao{style: "display: none"}
  .panel.panel-default
    .panel-heading
      .container-fluid
        .pull-left
          %h5
            %strong Dados da Movimentação
    .panel-body
      .row
        =render 'estoques/estoque_movimentacoes/tipo_movimentacao/fields_for_devolucao/first_row', {f: f, _frete: _frete}
      .row
        =render 'estoques/estoque_movimentacoes/tipo_movimentacao/fields_for_devolucao/second_row', {f: f, _valorTotal: _valorTotal, _valorTotalProduto: _valorTotalProduto}
      .row
        =render 'estoques/estoque_movimentacoes/tipo_movimentacao/fields_for_devolucao/third_row', {f: f}
          