- if !@estoque.id.nil?
  - if @estoque.acrescimo.eql?("") || @estoque.acrescimo.eql?(" ")
    - _acrescimo="0,00"
  -else
    - _acrescimo= number_to_currency(@estoque.acrescimo).gsub("R$", "")
  - _desconto= number_to_currency(@estoque.desconto).gsub("R$", "") 
  - _valorTotalProduto= number_to_currency(@estoque.valor_total_produto.to_s).gsub("R$", "")
  - _valorTotal= number_to_currency(@estoque.total_estoque.to_s).gsub("R$", "")
  - if @estoque.frete.present?
    - _frete= number_to_currency(@estoque.frete.to_s).gsub("R$", "")
  -else
    - _frete = "0,00"
#entrada{style: "display: none"}
  .panel.panel-default
    .panel-heading
      .container-fluid
        .pull-left
          %h5
            %strong Dados da Movimentação
    .panel-body
      .container-fluid
        .row
          =render 'estoques/estoque_movimentacoes/tipo_movimentacao/fields_for_entrada/first_row', {f: f}
        .row
          =render 'estoques/estoque_movimentacoes/tipo_movimentacao/fields_for_entrada/second_row', {f: f}
        .row
          =render 'estoques/estoque_movimentacoes/tipo_movimentacao/fields_for_entrada/third_row', {f: f, _acrescimo: _acrescimo, _desconto: _desconto, _frete: _frete}
        .row
          =render 'estoques/estoque_movimentacoes/tipo_movimentacao/fields_for_entrada/fourth_row', {f: f, _valorTotalProduto: _valorTotalProduto, _valorTotal: _valorTotal}
        