#saida{style: "display: none"}
  .well
    .row
      .col-xs-12.col-sm-8.col-md-4.col-lg-3
        =f.input :numero_da_os, label: "Número da O.S."
      .col-xs-12.col-sm-8.col-md-4.col-lg-3
        =f.input :nota_fiscal_entrada, label: "Nota Fiscal"
    .row
      .col-xs-12.col-sm-8.col-md-4.col-lg-3
        .input-group
          =f.input :data_saida, label: "Data de Saida", as: :string, input_html: { class: "docs-date data", placeholder: "Escolha uma Data", value: exibe_data_saida(@estoque) }
          %span.input-group-btn
            %button{ class: "btn btn-default docs-datepicker-trigger", disabled: ""}
              %i{ class: "fa fa-calendar", :"aria-hidden"=>"true"}
      .col-xs-12.col-sm-8.col-md-4.col-lg-3
        .input-group
          =f.input :data_vencimento_saida, label: "Data de Vencimento", as: :string, input_html: { class: "docs-date data", id: "estoque_data_vencimento_saida" ,placeholder: "Escolha uma Data", value: exibe_data_vencimento_saida(@estoque) }
          %span.input-group-btn
            %button{ class: "btn btn-default docs-datepicker-trigger", disabled: ""}
              %i{ class: "fa fa-calendar", :"aria-hidden"=>"true"}
