- _valorTotal= number_to_currency(@estoque.total_estoque.to_s).gsub("R$", "")
- _valorTotalProduto= number_to_currency(@estoque.valor_total_produto.to_s).gsub("R$", "")
- if @estoque.frete.present?
  - _frete= number_to_currency(@estoque.frete.to_s).gsub("R$", "")
-else
  - _frete = "0,00"
#transferencia{style: "display: none"}
  .panel.panel-default
    .panel-heading
      .container-fluid
        .pull-left
          %h5
            %strong Dados da Movimentação
    .panel-body
      .container-fluid
        .row
          =render 'estoques/estoque_movimentacoes/tipo_movimentacao/fields_for_transferencia/lancamentoTransferencia_fields', {f: f, _valorTotal: _valorTotal, _valorTotalProduto: _valorTotalProduto, _frete: _frete}
