<div class="modal fade" id="estoque_parcela_<%= estoque_movimento_parcela.id %>" tabindex="-1" role="dialog" aria-labelledby="estoque_parcela_<%= estoque_movimento_parcela.id %>" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Alterar data de vencimento - <label class="w3-text-red"><%=l estoque_movimento_parcela.data_vencimento %></label>&nbsp;<i class="fas fa-question-circle"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input name="estoque_movimento_parcela_id" class="estoque_movimento_parcela_id_<%= estoque_movimento_parcela.id %> form-control" type="hidden" value="<%=estoque_movimento_parcela.id %>" />
        <input name="estoque_movimento_parcela_data_vencimento" class="estoque_movimento_parcela_data_vencimento_<%= estoque_movimento_parcela.id %> form-control data" type="text" value="<%=l estoque_movimento_parcela.data_vencimento %>" />
      </div>
      <div class="modal-footer">
        <div id="progress_bar"><%=render 'estoques/componentes/progress_bar'%></div>
        <br />
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-primary btn_send_data_to_controller" data-id="<%= estoque_movimento_parcela.id %>">Enviar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</div>