%td.center
  %i.fa.fa-check-circle
%td.center
  %strong=search.tipo_movimentacao
%td
  -if !search.fornecedor.empty?
    =search.fornecedor.compact.reject(&:empty?).join(',')
  -else
    .center="..."
%td.center
  - if !search.data_entrada.nil?
    =l search.data_entrada
  -else
    ="..."
/ %td.center
/   -if !search.result[:params].data_saida.nil?
/     =l search.result[:params].data_saida
/   -else
/     ="..."
%td.center
  / -elsif !search.result[:params].data_vencimento_saida.nil?
  /   =l search.result[:params].data_vencimento_saida
  -if !search.data_vencimento_entrada.nil?
    =l search.data_vencimento_entrada
  -else
    ="..."
%td.center
  -if !search.data_devolucao.nil?
    =l search.data_devolucao
  -else
    ="..."
%td.center
  -if !search.data_transferencia.nil?
    =l search.data_transferencia
  -else
    ="..."
%td.center
  %span{class: "badge", style: "background: #000000; text-shadow: none !important; color: #FCFF44"}= search.total
%td
