-if controller.action_name.eql?("new")
  .btn-group
    = button_tag(type: "submit", class: "btn btn-success popover_link", id: "save_stock_moviment_data", :"data-toggle"=> "popover", :"data-content" => "Salvar Lançamento", :"data-placement"=>"top", :"data-trigger"=>"hover") do
      %i.far.fa-check-circle.fa-2x
    =link_to estoques_estoque_movimentacoes_path, id: "cancel_stock_moviment_data", data: {confirm: t('helpers.links.confirm_delete')}, method: :get, class: 'btn btn-danger' do
      %i.fa.fa-times-circle.fa-2x
-if controller.action_name.eql?("edit")
  .btn-group
    = button_tag(type: "submit", class: "btn btn-success popover_link", id: "save_stock_moviment_data", :"data-toggle"=> "popover", :"data-content" => "Alterar Dados do Lançamento", :"data-placement"=>"top", :"data-trigger"=>"hover") do
      %i.fa.fa-pen-square.fa-2x
    = link_to estoques_estoque_movimentaco_path(@estoque), id: "btn_voltar_estoque", method: :get, class: 'btn btn-default popover_link', :"data-toggle"=> "popover", :"data-content" => "Visualizar Lançamentos", :"data-placement"=>"top", :"data-trigger"=>"hover" do
      %i.fa.fa-chevron-circle-left.fa-2x