%table.table.table-condensed.table-stripped.table-hover
  %thead
    %tr
      %th=t('item_produto.helpers.produto')
      %th.center=t('item_produto.helpers.obra')
      %th.center=t('item_produto.helpers.etapa')
      %th.center=t('item_produto.helpers.sub_etapa')
      %th.center=t('item_produto.helpers.quantidade')
      %th.center=t('item_produto.helpers.valor_produto')
      %th.center=t('item_produto.helpers.valor_total')
      %th
  %tbody
    - @item.estoque_transferencias.each do |item|
      %tr{id: "tr_estoque_transferencia_produto_id_#{item.id}"}
        %td=item.produto.descricao if item.try(:produto)
        -if item.estoque_movimento.transferencia_tipo_entrada?
          %td.center=item.obra_anterior.codigo if item.try(:obra_anterior)
        -if item.estoque_movimento.transferencia_tipo_saida?
          %td.center=item.obra_posterior.codigo if item.try(:obra_posterior)
        %td.center=item.item_obra.item  if item.try(:item_obra)
        %td.center=item.sub_item_obra.sub_item  if item.try(:sub_item_obra)
        %td.center=item.quantidade_movimento  if item.quantidade_movimento.present?
        %td.center=number_to_currency item.valor_produto if item.valor_produto.present?
        %td.center=number_to_currency item.valor_total if item.valor_total.present?
        %td.center
          =link_to estoques_estoque_movimentaco_router_parcelamento_path(@estoque, transferencia_id: item.id), id: "estoque_produto_parcelamento_link", class: "popover_link", :"data-toggle"=> "popover", :"data-content" => "Ir para parcelamento", :"data-placement"=>"top", :"data-trigger"=>"hover" do
            %span.fa.fa-pie-chart.fa-2x
        %td.center
          =link_to "#", class: "btn_link_edit_estoque_transferencia popover_link", data: { estoque_transferencia_id: item.id, 
                                                                                          estoque_movimento_id: item.estoque_movimento_id,
                                                                                          produto_id: item.produto_id, 
                                                                                          comodo_id: item.comodo_id, 
                                                                                          obra_anterior_id: item.obra_anterior_id, 
                                                                                          obra_posterior_id: item.obra_posterior_id, 
                                                                                          item_obra_id: item.item_obra_id, 
                                                                                          sub_item_obra_id: item.sub_item_obra_id, 
                                                                                          quantidade_movimento: item.quantidade_movimento, 
                                                                                          valor_produto: item.valor_produto, 
                                                                                          valor_total: item.valor_total } do
            %span.fa.fa-pencil-square-o.fa-2x
        -# %td.center
        -#   =link_to estoques_estoque_movimentaco_estoque_transferencia_path(@estoque, item), class: "btn_link_trash popover_link", :"data-toggle"=> "popover", :"data-content" => "#{t('helpers.links.delete_item')}", :"data-placement"=>"top", :"data-trigger"=>"hover", data: {confirm: t('helpers.links.confirm_delete')}, method: :delete, remote: true do
        -#     %i.fa.fa-trash.fa-2x
