%table.table.table-condensed.table-stripped.table-hover
  %thead
    %tr
      %th=t('item_produto.helpers.produto')
      %th=t('item_produto.helpers.obra')
      %th.center=t('item_produto.helpers.quantidade')
      %th.center=t('item_produto.helpers.valor_produto')
      %th.center=t('item_produto.helpers.valor_total')
      %th
  %tbody
    - @item.estoque_produtos.each do |item|
      %tr{id: "tr_estoque_produto_id_#{item.id}"}
        %td=item.produto.descricao if item.try(:produto)
        %td.center=item.obra.codigo if item.try(:obra)
        %td.center=item.quantidade  if item.quantidade.present?
        %td.center=number_to_currency item.valor_produto if item.valor_produto.present?
        %td.center=number_to_currency item.valor_total if item.valor_total.present?
        %td.center
          =link_to estoques_estoque_movimentaco_estoque_produto_path(@estoque, item), class: "btn_link_trash", title: "#{t('helpers.links.delete_item')}", data: {confirm: t('helpers.links.confirm_delete')}, method: :delete, remote: true do
            %i.fa.fa-trash.fa-2x
  %caption{style: "caption-side: bottom;"}
    .pull-left=t('estoque.helpers.total_estoque')
    .pull-right
      #total_estoque=render 'estoques/estoque/total_estoque', {estoque: @estoque}
