<%= content_tag :div, class: "container-fluid" do %>
    <table class="">
        <thead>
            <th id="markupValue">Total dos produtos</th>
            <th id="markupValue"></th>
            <th id="markupValue">Total do Estoque</th>
            <th id="markupValue"></th>
        </thead>
        <tbody>
            <tr>
                <td class="center">
                    <span class="badge" id="markupValue">
                        <%= number_to_currency(total_produto)%>
                    </span>
                </td>
                <td>
                    <span>
                        <i class="fas fa-times fa-2x"></i>
                    </span>
                </td>
                <td class="center">
                    <span id="markupValue">
                        <%= number_to_currency(total_estoque)%>
                    </span>
                </td>
                <td>
                    <i class="fas fa-exclamation-triangle fa-2x"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <% end %>