<div class="modal alert fade" id="lock_page_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-backdrop" role="document">
        <div class="modal-content alert-danger">
            <div class="modal-header">
                <div class="container-fluid">
                    <!-- <span aria-hidden="true" class="pull-left img-circle"><%=image_tag('BRANT.ico', :class => "modal-image img-circle")%></i></span> -->
                    <div class="pull-left">
                        <h3 class="modal-title">
                            <%=t('helpers.titles.warning')%>
                            <i class="fas fa-lock"></i>
                        </h3>
                    </div>
                    <button type="button" class="pull-right close" data-dismiss="modal" aria-label="Close" style="color:rgb(189, 6, 6); font-size: 15pt">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <section id="warning_message"></section>
                </div>
            </div>
            <div class="modal-footer">
                <section id="message_total_value"></section>
            </div>
        </div>
    </div>
</div>