.w3-main
  .card.w3-card-4.w3-section
    %header.w3-container.w3-light-grey
      %h5.center
        %label.badge{style: "color: #C4FF30"}="#{parcela}x"
        =t('helpers.labels.payday_on')
        =link_to l(estoque_movimento_parcela.data_vencimento), "", class: "link_to_alter_payday_date popover_link", data: {value: estoque_movimento_parcela.data_vencimento, modal_id: "#estoque_parcela_#{estoque_movimento_parcela.id}"}, :"data-toggle"=> "modal", :"data-content" => t("helpers.links.alter_date"), :"data-placement"=>"top", :"data-trigger"=>"hover" if estoque_movimento_parcela.data_vencimento.present?
    .w3-container
    .w3-button.w3-block.w3-black.w3-hover-black
      -if !estoque_movimento_parcela.bloqueado?
        =render 'estoques/estoque_movimentacoes/form/estoque_parcela_in_place', {estoque_parcela: estoque_movimento_parcela}
      - else
        #unlock_value_span_area{style: "display: inline"}
          %span.w3-text-pink
            =number_to_currency estoque_movimento_parcela.valor
            =link_to(estoques_unlock_estoque_movimento_parcela_path(@estoque.id, id: estoque_movimento_parcela.id), class: "popover_link", id: "btn_unlock_quotation", :"data-toggle"=> "popover", :"data-content" => t('pages.helpers.title-content.unlock_value'), :"data-placement"=>"right", :"data-trigger"=>"hover") do
              %i.btn_unlock_icon.fa.fa-lock

