%section#estoque_parcelas
  .row-fluid
    .panel.panel-default
      .panel-heading
        =content_tag :div, id: "in_place_label_area" do
          %label{id: "click", style: "color: #F43737"}
            =t("helpers.labels.click")
            %label{style: "color: #0B1200"}=t('helpers.labels.clique_no_valor')
      .panel-body
        - parcela = 1
        .row
          - @estoque_movimento_parcelas.each do |estoque_movimento_parcela|
            .col-md-4.col-lg-3
              =render 'estoques/componentes/parcela_card', {estoque_movimento_parcela: estoque_movimento_parcela, parcela: parcela}
              =render 'estoques/componentes/alter_payday_date', {estoque_movimento_parcela: estoque_movimento_parcela}
              .clearfix
            -parcela +=1