.container
  .well
    %h4
      %b Produtos
    .pull-right
      =link_to new_estoques_estoque_movimentaco_estoque_produto_url(@estoque), class: "btn btn-danger" do
        %i.fa.fa-plus
        =t('helpers.links.add_produto')
    %hr
    %table.table.table-condensed.table-hover.table-striped
      %caption
        %b Total de produtos #{@estoque.estoque_produtos.count}
      %thead
        %tr
          %th=t('produtos.helpers.nome')
          %th=t('helpers.labels.obra')
          %th.center=t('produtos.helpers.quantidade')
          %th.center=t('produtos.helpers.valor')
          %th
            .pull-right=t('produtos.helpers.valor_total')
      %tbody.estoque_produto
        =render @estoque_produtos
      %caption{style: "caption-side: bottom;"}
        .pull-left Total Estoque
        .pull-right
          %strong.badge{style: "background: #000000; color: #FFFE00"}=number_to_currency @estoque.total_estoque
    #estoque_produto_paginator
      =paginate @estoque_produtos, remote: true
