.col-xs-12.col-sm-8.col-md-4.col-lg-3
  =f.label :fornecedor_id, "Fornecedor"
  =f.collection_select(:fornecedor_id, ClienteFornecedor.where(tipo_fornecedor: "Sim").order(nome: :asc), :id, :nome, {:prompt=>true}, {class: "form-control tab fornecedor_id", id: "estoque_fornecedor_entrada", :"data-live-search"=> true})
.col-xs-12.col-sm-8.col-md-4.col-lg-3
  =f.label :destinatario_tomador_id, "Destinatário / Tomador"
  =f.collection_select(:destinatario_tomador_id, ClienteFornecedor.where(tipo_cliente: "Sim").order(nome: :asc), :id, :nome, {:prompt=>true}, {class: "form-control tab fornecedor_id", id: "estoque_destinatario_tomador_entrada", :"data-live-search"=> true})
.col-xs-12.col-sm-8.col-md-4.col-lg-3
  =f.input :nota_fiscal_entrada, label: "Nota Fiscal"
.col-xs-12.col-sm-8.col-md-4.col-lg-3
  =f.input :numero_pedido, label: "Número do Pedido"
