.col-xs-12.col-sm-8.col-md-4.col-lg-3
  .input-group
    =f.input :valor_total_produto, label: "Valor Total Produtos", as: :string, input_html: { class: "campo_dinheiro estoque_entrada_total_produtos", placeholder: "Escolha um valor", value: _valorTotalProduto }
    %span.input-group-btn
      %button{ class: "btn btn-default", disabled: ""}
        %b R
        %i{ class: "fa fa-usd", :"aria-hidden"=>"true"}
.col-xs-12.col-sm-8.col-md-4.col-lg-3
  .input-group
    =f.input :total_estoque, label: "Valor Total", as: :string, input_html: { class: "estoque_movimento_total_estoque_entrada campo_dinheiro", placeholder: "Escolha um valor", value: _valorTotal, readonly: true }
    %span.input-group-btn
      %button{ class: "btn btn-default", disabled: ""}
        %b R
        %i{ class: "fa fa-usd", :"aria-hidden"=>"true"}
.col-xs-12.col-sm-8.col-md-4.col-lg-3
  =label_tag "Valida Por?"
  %br/
  -if controller.action_name.eql?("edit")
    - if @estoque.valida_por.eql?("total_estoque")
      %input{checked: true, "data-toggle" => "toggle", :type => "checkbox", :id=> "estoque_estoque_movimento_valida_por", name: "estoque_estoque_movimento_valida_por"}
    - else
      %input{"data-toggle" => "toggle", :type => "checkbox", :id=> "estoque_estoque_movimento_valida_por", name: "estoque_estoque_movimento_valida_por"}
  -if controller.action_name.eql?("new")
    %input{checked: true, "data-toggle" => "toggle", :type => "checkbox", :id=> "estoque_estoque_movimento_valida_por", name: "estoque_estoque_movimento_valida_por"}
.col-xs-12.col-sm-8.col-md-4.col-lg-3
  .input-group
    =f.input :parcelas, as: :integer, input_html: { min: 1, placeholder: "Escolha um valor", class: "estoque_movimento_parcelas_entrada" }
    %span.input-group-btn
      %button{ class: "btn btn-default", disabled: ""}
        %i{ class: "fa fa-pie-chart", :"aria-hidden"=>"true"}
%section.periodo_field_section{style: "display: none"}
  .col-xs-12.col-sm-8.col-md-3.col-lg-3
    .input-group
      = f.input :periodo, as: :select, collection: [['Semanal','Semanal'], ['Quinzenal','Quinzenal'], ['Mensal','Mensal'], ['Anual','Anual']], label: "Período", input_html: {class: 'form-control estoque_periodo_select'}, prompt: true, required: true
      %span.input-group-btn
        %button{ class: "btn btn-default", disabled: ""}
          %i{ class: "fa fa-calendar", :"aria-hidden"=>"true"}

.col-xs-12.col-sm-8.col-md-4.col-lg-3
  =label_tag "Pronto Pagamento"
  %br/
  -if controller.action_name.eql?("edit")
    - if @estoque.pronto_pagamento.eql?("Sim")
      %input{checked: false, "data-toggle" => "toggle", :type => "checkbox", :id=> "estoque_estoque_movimento_pronto_pagamento", name: "estoque_estoque_movimento_pronto_pagamento"}
    - else
      %input{checked: true, "data-toggle" => "toggle", :type => "checkbox", :id=> "estoque_estoque_movimento_pronto_pagamento", name: "estoque_estoque_movimento_pronto_pagamento"}
  -if controller.action_name.eql?("new")
    %input{checked: true, "data-toggle" => "toggle", :type => "checkbox", :id=> "estoque_estoque_movimento_pronto_pagamento", name: "estoque_estoque_movimento_pronto_pagamento"}
