.col-xs-12.col-sm-8.col-md-4.col-lg-3
  =f.input :cupom_fiscal, label: "Cupom Fiscal"
.col-xs-12.col-sm-8.col-md-4.col-lg-3
  =f.input :recibo, label: "Recibo"
.col-xs-12.col-sm-8.col-md-4.col-lg-3
  .input-group
    =f.input :data_entrada, label: "Data da Entrada", as: :string, input_html: { class: "docs-date data", placeholder: "Escolha uma Data", value: exibe_data_entrada(@estoque) }
    %span.input-group-btn
      %button{ class: "btn btn-default docs-datepicker-trigger", disabled: ""}
        %i{ class: "fa fa-calendar", :"aria-hidden"=>"true"}
.col-xs-12.col-sm-8.col-md-4.col-lg-3
  .input-group
    =f.input :data_vencimento_entrada, label: "Data de Vencimento", as: :string, input_html: { class: "docs-date data", id: "estoque_data_vencimento_entrada", placeholder: "Escolha uma Data", value: exibe_data_vencimento_entrada(@estoque) }
    %span.input-group-btn
      %button{ class: "btn btn-default docs-datepicker-trigger", disabled: ""}
        %i{ class: "fa fa-calendar", :"aria-hidden"=>"true"}