.col-xs-12.col-sm-8.col-md-4.col-lg-3
  .input-group
    =f.input :boleto, as: :string, input_html: { id: "estoque_entrada_boleto" }
    %span.input-group-btn
      %button{ class: "btn btn-default docs-datepicker-trigger", disabled: true, style: "height: 37.3px"}
        %i{ class: "fas fa-barcode fa-2x", :"aria-hidden"=>"true", style: "margin-top: -1.5px"}
.col-xs-12.col-sm-8.col-md-4.col-lg-3
  =f.input :acrescimo, label: "Acréscimo", as: :string, input_html: { class: "campo_dinheiro", value: _acrescimo }
.col-xs-12.col-sm-8.col-md-4.col-lg-3
  =f.input :desconto, label: "Desconto", as: :string, input_html: { class: "campo_dinheiro", value: _desconto }
.col-xs-12.col-sm-8.col-md-4.col-lg-3
  .input-group
    =f.input :frete, as: :string, input_html: { id: "estoque_entrada_frete", class: "campo_dinheiro", placeholder: "Escolha um valor", value: _frete }
    %span.input-group-btn
      %button{ class: "btn btn-default", disabled: ""}
        %i{ class: "fas fa-truck", :"aria-hidden"=>"true"}