.wrapper
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin" }) do |f|
    %h2.form-signin-heading LOGIN
    = f.text_field :login, autofocus: true, :placeholder => "Email Address", required: true, class: "form-control"
    = f.password_field :password, autocomplete: "off", :placeholder => "password", required: true, class: "form-control"
    - if devise_mapping.rememberable?
      %label.checkbox
        .field
          = f.check_box :remember_me
          = f.label :remember_me
    %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Login
