%section{id: "new_categoria"}
  .container
    .row
      %h1.page-header{style: "border-bottom: #AEAEAE 0.5px solid"}
        =t('helpers.titles.new_fem', model: Categoria)
        = link_to categorias_path, class: 'btn btn-default pull-right' do
          %i.fa.fa-chevron-circle-left{"aria-hidden" => "true"}
          =t('helpers.links.back')
    .row
      = render 'categorias/shared/form'
