%div{class: "container"}
  %div{class: "row"}
    %h1.page-header{style: "border-bottom: #AEAEAE 0.5px solid"}
      Categoria
      .btn-group.pull-right
        = link_to categorias_path, class: 'btn btn-default' do
          %i.fa.fa-chevron-circle-left{"aria-hidden" => "true"}
          =t('helpers.links.back')
        / -if policy(@categoria).edit?
        = link_to edit_categoria_path(@categoria), class: 'btn btn-primary' do
          %i.fa.fa-pencil{"aria-hidden" => "true"}
          =t('helpers.links.edit')

    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
        %div{class: "panel"}
          %div{class: "container", style: "margin-left: 5%; padding-top: 15px; padding-bottom: 15px;"}
            %div{class: "col-xs-8 col-sm-8 col-md-8 col-lg-8"}
              %div{class: "row"}
                %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
                  = label_tag t('categorias.helpers.id')
                %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
                  = @categoria.id
              %div{class: "row"}
                %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
                  = label_tag t('categorias.helpers.status')
                %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
                  = @categoria.status
              %div{class: "row"}
                %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
                  = label_tag t('categorias.helpers.nome')
                %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
                  = @categoria.nome
