%tr{id: "tr_comodo_id_#{comodo.id}"}
  %td= comodo.name
  %td 
    .btn-group.pull-right
      -# = link_to comodo, class: "btn btn-default btn-circle" do
      -#   %i.fa.fa-newspaper-o{style: "font-size: 14pt; margin-left: 3px"}
      =link_to edit_comodo_path(comodo), class: "btn btn-primary btn-circle", target: :_blank do
        %i.fa.fa-edit{style: "font-size: 14pt; margin-left: 3px"}
      =link_to comodo, method: :delete, data: { confirm: t('helpers.links.confirm_delete') }, remote: true, class: "btn btn-danger btn-circle" do
        %i.fa.fa-trash{style: "font-size: 14pt; margin-left: 3px"}