= simple_form_for(@comodo) do |f|
  = f.error_notification
  .row
    .col-md-4
      = f.input :name, label: t('helpers.labels.name')
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .form-actions
        .pull-left
          = button_tag(type: "submit", class: "btn btn-success") do
            %i.fa.fa-check{"aria-hidden" => "true"}
            =t('helpers.links.save')
        .pull-right
          = link_to comodos_path, class: 'btn btn-danger', data: { confirm: "Tem Certeza?" }, method: :get do
            %i.fa.fa-times{"aria-hidden" => "true"}
            =t('helpers.links.cancel')

