.container
  .row
    %h1.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
      = t('helpers.titles.index', model: "Cômodos")
      - if can? :create, Comodo
        = link_to new_comodo_path, class: 'btn btn-primary btn-circle pull-right', title: t('helpers.links.new') do
          %i.fa.fa-plus{"aria-hidden" => "true"}
  .row
    .well
      = form_for :q, url: comodos_path, method: "GET", remote: true do |f|
        .row
          .col-md-4
            =label_tag t('helpers.labels.name')
            = f.text_field :"name", class: "form-control"
        .row-fluid
          .btn-group
            = button_tag(type: "submit", class: "btn btn-primary", style: "margin-top: 5px") do
              %i.fa.fa-search{"aria-hidden" => "true"}
              =t('helpers.links.search')
            = link_to comodos_path, remote: true, class: "btn btn-default", style: "margin-top: 5px" do
              %i.fa.fa-refresh
              =t('helpers.links.reload')
  .row
    .well
      .pull-right
        #paginator_4_comodos
          =paginate @comodos
      %table.table.table-bordered.table-hover.table-condensed
        %thead
          %tr
            %th=t('helpers.labels.name')
            %th
        %tbody#comodos_table_content
          =render @comodos