%div{class: "container"}
  %div{class: "row"}
    %h1.page-header{style: "border-bottom: #AEAEAE 0.5px solid"}
      Serviço
      .btn-group.pull-right
        = link_to tipo_contratos_path(page: session[:page]), class: 'btn btn-default' do
          %i.fa.fa-chevron-circle-left{"aria-hidden" => "true"}
          = t('helpers.links.back')
        - if policy(@tipo_contrato).edit?
          = link_to edit_tipo_contrato_path(@tipo_contrato), class: 'btn btn-primary' do
            %i.fa.fa-pencil-square{"aria-hidden" => "true"}
            = t('helpers.links.edit')
    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
        %div{class: "panel"}
          %div{class: "container", style: "margin-left: 5%; padding-top: 15px; padding-bottom: 15px;"}
            %div{class: "col-xs-8 col-sm-8 col-md-8 col-lg-8"}
              %div{class: "row"}
                %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
                  = label_tag t('tipo_contratos.helpers.id')
                %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
                  = @tipo_contrato.id
              %div{class: "row"}
                %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
                  = label_tag t('tipo_contratos.helpers.status')
                %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
                  = translate_i18n_status(@tipo_contrato.status)
              %div{class: "row"}
                %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
                  = label_tag t('tipo_contratos.helpers.nome')
                %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
                  = @tipo_contrato.name