%a.w3-text-light-green.w3-hover-text-red
  =best_in_place [:estoques, parcelamento], 
                    :valor, 
                    :as => :input,
                    :display_with => :number_to_currency, 
                    value: parcelamento.valor.to_money,
                    inner_class: "form-control in_place_editing",
                    ok_button: "Atualizar Valor",
                    ok_button_class:"btn btn-default btn-send-values",
                    tabindex: "1"