%tr.info
  %td=item.produto.descricao
  -if item.class.name.eql?("Estoque::EstoqueTransferencia")
    - if item.estoque_movimento.transferencia_tipo.eql?("ENTRADA")
      %td=item.obra_anterior.codigo
    - if item.estoque_movimento.transferencia_tipo.eql?("SAÍDA")
      %td=item.obra_posterior.codigo
  -if item.class.name.eql?("Estoque::EstoqueProduto")
    %td=item.obra.codigo
  %td.center=item.quantidade_movimento
  %td.center=number_to_currency item.valor_produto
  %td
    .pull-right.badge{style: "color: #EEDA54"}=number_to_currency item.valor_total
