=form_for @estoque_parcelamento, url: estoques_update_estoque_parcelamento_path, method: :put, html: {style: "display: inline-block"} do |f|
  =f.text_field :valor_parcela, class: "form-control in_place_editing"
  = button_tag(type: "submit", class: 'btn btn-success btn-circle', title: "Alterar valor", style: "margin-right: 5px") do
    %i.fa.fa-check{"aria-hidden" => "true"}
  = button_tag(type: "submit", class: 'btn btn-danger btn-circle', title: "Cancelar", style: "") do
    %i.fa.fa-times{"aria-hidden" => "true"}