.panel.panel-default
  .panel-heading
    %h4.center
      %strong=t('produtos.labels.produto_em_destaque')
    %table.table.table-stripped
      %thead
        %tr
          %th=t('produtos.helpers.id')
          %th=t('produtos.helpers.nome')
          %th=t('produtos.helpers.obra')
          %th=t('produtos.helpers.etapa')
          %th=t('produtos.helpers.sub_etapa')
          %th=t('produtos.helpers.valor_total')
      %tbody
        %tr
          %td=item.id
          %td=link_to item.produto.descricao.truncate(10), "#", id: "produto_descricao", :"data-content" => "#{item.produto.descricao}", :"data-placement"=>"top", :"data-trigger"=>"hover"
          -if item.class.name.eql?("Estoque::EstoqueTransferencia")
            - if item.estoque_movimento.transferencia_tipo.eql?("ENTRADA")
              %td=item.obra_anterior.codigo
            - if item.estoque_movimento.transferencia_tipo.eql?("SAÌDA")
              %td=item.obra_posterior.codigo
          -if item.class.name.eql?("Estoque::EstoqueProduto")
            %td=item.obra.codigo
          %td=item.item_obra.item if item.try(:item_obra)
          %td=item.sub_item_obra.sub_item if item.try(:sub_item_obra)
          %td
            %span.badge{style: "color: #ECF53D"}=number_to_currency item.valor_total
