$("#quotation_change_link_<%= @estoque_parcelamento.id %>").remove()
$(".parcelamento_id_<%= @estoque_parcelamento.id %>").html("<%=j render 'estoques/estoque_parcelamentos/parcelamento_in_field_form', {estoque_parcelamento: @estoque_parcelamento} %>")