- produto = @estoque_parcelamentos.last.estoque_produto.produto.descricao if !@estoque_parcelamentos.last.estoque_produto.nil?
- produto = @estoque_parcelamentos.last.estoque_transferencia.produto.descricao if !@estoque_parcelamentos.last.estoque_transferencia.nil?
%section{id: "exibindo_parcelamentos"}
  .container
    .row-fluid
      %span.breadcrumb-item.active Você está em
      %h4.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
        .btn-group.pull-right
          =link_to estoques_estoque_movimentaco_path(@estoque), class: "btn btn-success", title: "Voltar para o Estoque" do
            %i.fas.fa-lock{"aria-hidden" => "true", style: "color: gold"}
            =t('helpers.links.finish_release')
          = link_to edit_estoques_estoque_movimentaco_path(@estoque), class: "btn btn-primary" do
            %i{class: "fa fa-pencil-square-o",  "aria-hidden" => "true"}
            =t('helpers.links.change_data_moviment')
          =link_to new_estoques_estoque_movimentaco_estoque_produto_path(@estoque), class: "btn btn-default", title: "Voltar para o Estoque" do
            %i{class: "fa fa-plus", "aria-hidden" => "true", style: "color: tomato" }
            =t('helpers.links.add_produto')
        %ol.arrows
          %li
            %a{:href => "#"}="Estoque Nº #{@estoque.id}"
          %li
            %a{:href => "#"}="Produto - #{produto}"
          %li
            %a{:href => "#"} Parcelamentos
  .container
    .well
      #exTab3.container-fluid
        %ul.nav.nav-pills
          %li
            %a{"data-toggle" => "tab", :href => "#tab_moviment"}=t('estoques.links.tab_moviment')
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab_parcelamento"}=t('estoques.links.tab_parcelamento')
        .tab-content.clearfix
          #tab_moviment.tab-pane.fade.in
            =render 'estoques/estoque_movimentacoes/estoque/movimento'
          #tab_parcelamento.tab-pane.fade.in.active
            %br
            .panel.panel-default
              .panel-heading
                .page-header
                %table.table.table-condensed.table-hover.table-striped
                  %caption
                    %strong=t('helpers.labels.objeto_em_destaque', model: "Produto")
                  %thead
                    %tr
                      %th=t('produtos.helpers.nome')
                      %th=t('helpers.labels.obra')
                      %th.center=t('produtos.helpers.quantidade')
                      %th.center=t('produtos.helpers.valor')
                      %th
                        .pull-right=t('produtos.helpers.valor_total')
                  %tbody.estoque_produto
                    - if !@estoque_parcelamentos.last.estoque_produto.nil?
                      =render 'estoques/estoque_parcelamentos/estoque_parcelamento_item', { item: @estoque_parcelamentos.last.estoque_produto}
                    - if !@estoque_parcelamentos.last.estoque_transferencia.nil?
                      =render 'estoques/estoque_parcelamentos/estoque_parcelamento_item', { item: @estoque_parcelamentos.last.estoque_transferencia}
                %caption
                  %b=t('helpers.labels.total_parcelas', total: @estoque_parcelamentos.count)
            %br/
            %section#parcelas_produtos
              .panel.panel-default
                .panel-heading
                  %label{id: "click", style: "color: #F43737"}
                    =t("helpers.labels.click")
                  %label{style: "color: #0B1200"}
                    =t('helpers.labels.clique_no_valor')
                  ="-"
                  - unless @estoque_parcelamentos.last.estoque_produto.nil?
                    =link_to "#", id: "btn_resetar_parcelas_estoque_produto", class: "btn btn-warning", data: {estoque_movimento_id: @estoque.id, estoque_produto_id: @estoque_parcelamentos.last.estoque_produto.id, parcelas: @estoque_parcelamentos.last.estoque_movimento.parcelas} do
                      %span.fa.fa-refresh{"aria-hidden" => "true"}
                      =t('helpers.labels.update_parcelas')
                  - unless @estoque_parcelamentos.last.estoque_transferencia.nil?
                    =link_to "#", id: "btn_resetar_parcelas_estoque_transferencia", class: "btn btn-warning", data: {estoque_movimento_id: @estoque.id, estoque_transferencia_id: @estoque_parcelamentos.last.estoque_transferencia.id, parcelas: @estoque_parcelamentos.last.estoque_movimento.parcelas} do
                      %span.fa.fa-refresh{"aria-hidden" => "true"}
                      =t('helpers.labels.update_parcelas')
                  .col-md-4.pull-right{style: "margin-top: 1%"}=render 'estoques/componentes/progress_bar'
                .panel-body
                  %section#best_in_place_parcelamento
                    .row
                      - parcela = 1
                      -@estoque_parcelamentos.each do |parcelamento|
                        .col-md-4.col-lg-3
                          .w3-main
                            .card.w3-card-4.w3-section
                              %header.w3-container.w3-light-grey
                                %h5.center
                                  %label.badge{style: "color: #C4FF30"}="#{parcela}x"
                                  =t('helpers.labels.payday_on')
                                  =l parcelamento.data_vencimento
                              .w3-container
                              .w3-button.w3-block.w3-black.w3-hover-black
                                -if !parcelamento.bloqueado?
                                  =render 'estoques/estoque_parcelamentos/best_in_place_field', {parcelamento: parcelamento}
                                - else
                                  #unlock_value_span_area{style: "display: inline"}
                                    %span.w3-text-pink
                                      =number_to_currency parcelamento.valor
                                      =link_to(unlock_value_estoques_estoque_movimentaco_estoque_parcelamento_path(parcelamento.estoque_movimento_id, parcelamento), class: "popover_link", id: "btn_unlock_quotation", :"data-toggle"=> "popover", :"data-content" => t('pages.helpers.title-content.unlock_value'), :"data-placement"=>"right", :"data-trigger"=>"hover") do
                                        %i.btn_unlock_icon.fa.fa-lock
                        - parcela += 1
                      .clearfix

%section#associations
  %input{type: "hidden", id: "estoque_movimento_id", value: @estoque_parcelamentos.last.estoque_movimento_id, readonly: true}
  %input{type: "hidden", id: "estoque_produto_id", value: params[:estoque_produto_id], readonly: true}
  %input{type: "hidden", id: "estoque_transferencia_id", value: params[:estoque_transferencia_id], readonly: true}


%section#warning-message
  =render 'estoques/componentes/page_lock'

= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.js"
= javascript_include_tag "brant/estoques/parcelamento"
