%section{id: "new_parcelamento"}
  .container
    .row-fluid
      %h1.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
        =t('helpers.titles.new', model: "Parcelamento")
  .container
    .well
      #exTab3.container-fluid
        %ul.nav.nav-pills
          %li
            %a{"data-toggle" => "tab", :href => "#tab_moviment"}=t('estoques.links.tab_moviment')
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab_parcelamento"}=t('estoques.links.tab_parcelamento')
        .tab-content.clearfix
          #tab_moviment.tab-pane.fade.in
            =render 'estoques/estoque_movimentacoes/estoque/movimento'
          #tab_parcelamento.tab-pane.fade.in.active
            %br
            .col-md-6
              .row
                .col-md-12
                  -if @estoque_produto
                    =render 'estoques/estoque_parcelamentos/produto', { item: @estoque_produto }
                  -if @estoque_transferencia
                    =render 'estoques/estoque_parcelamentos/produto', { item: @estoque_transferencia }
            .col-md-6
              .row
                .col-md-12
                  .panel.panel-default
                    .panel-heading
                      %h4.center
                        %strong Parcelas
                      =simple_form_for @estoque_parcelamento, url: estoques_estoque_movimentaco_estoque_parcelamentos_path, method: :post do |f|
                        .row
                          =f.input :estoque_movimento_id, as: :hidden, input_html: { value: @estoque.id }
                          -if @estoque_produto
                            =f.input :estoque_produto_id, as: :hidden, input_html: { value: @estoque_produto.id }
                          -if @estoque_transferencia
                            =f.input :estoque_transferencia_id, as: :hidden, input_html: { value: @estoque_transferencia.id }
                        .row
                          .col-xs-12.col-sm-8.col-md-6.col-lg-6
                            %label=t('helpers.labels.parcelas')
                            .input-group
                              %span.input-group-addon
                                %i.fa.fa-pie-chart
                              =f.input :parcelas, label: false ,as: :integer, input_html: { min: 1, value: 1 }
                          .col-xs-12.col-sm-8.col-md-6.col-lg-6
                            %label=t('helpers.labels.valor')
                            -if @estoque_produto
                              .input-group
                                %span.input-group-addon
                                  %b R
                                  %i.fa.fa-dollar
                                =f.input :valor_parcela, as: :string, label: false, input_html: { class: "campo_dinheiro", value: @estoque_produto.valor_total.to_money }
                            -if @estoque_transferencia
                              .input-group
                                %span.input-group-addon
                                  %b R
                                  %i.fa.fa-dollar
                                =f.input :valor_parcela, as: :string, label: false, input_html: { class: "campo_dinheiro", value: @estoque_transferencia.valor_total.to_money }
                        .row
                          %br/
                          .col-md-12=render 'estoques/componentes/progress_bar'
                        .row
                          .pull-left
                            .col-xs-12.col-sm-8.col-md-5.col-lg-5
                              = button_tag(type: "submit", class: 'btn btn-success', title: "Adicionar Produto no Estoque", style: "margin-top: 23px;") do
                                %i.fa.fa-check{"aria-hidden" => "true"}
                                Finalizar

= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.js"
= javascript_include_tag "brant/estoques/parcelamento"
