%section{id: "new_parcelamento"}
  .container
    .row-fluid
      %h1.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
        =t('helpers.titles.new', model: "Parcelamento")
  .container
    .well
      #exTab3.container-fluid
        %ul.nav.nav-pills
          %li
            %a{"data-toggle" => "tab", :href => "#tab_moviment"}=t('estoques.links.tab_moviment')
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab_parcelamento"}=t('estoques.links.tab_parcelamento')
        .tab-content.clearfix
          #tab_moviment.tab-pane.fade.in
            =render 'estoques/estoque_movimentacoes/estoque/movimento'
          #tab_parcelamento.tab-pane.fade.in.active
            %br
            .panel.panel-default
              .panel-heading
                %hr
                %table.table.table-condensed.table-hover.table-striped
                  %caption
                    %strong Produto em destaque
                  %thead
                    %tr
                      %th=t('produtos.helpers.nome')
                      %th=t('helpers.labels.obra')
                      %th.center=t('produtos.helpers.quantidade')
                      %th.center=t('produtos.helpers.valor')
                      %th
                        .pull-right=t('produtos.helpers.valor_total')
                  %tbody.estoque_produto
                    %tr.info
                      %td=@estoque_parcelamento.estoque_produto.produto.descricao
                      %td=@estoque_parcelamento.estoque_produto.obra.codigo
                      %td.center=@estoque_parcelamento.estoque_produto.quantidade
                      %td.center=number_to_currency @estoque_parcelamento.estoque_produto.valor_produto
                      %td
                        .pull-right=number_to_currency @estoque_parcelamento.estoque_produto.valor_total
                %caption
                  %b Parcelas ?
