.container
  %h1.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
    =t('helpers.titles.new', model: "Permissão")
  %br
  %br
  .col-lg-4
    .well
      .panel.panel-default
        .panel-heading
          %strong Usuário
        .panel-body
          %b Nome
          %blockquote{ style: "font-size: 12pt" }
            =@user.name
          %b Nome de Usuario
          %blockquote{ style: "font-size: 12pt" }
            =@user.username
          %b E-mail
          %blockquote{ style: "font-size: 12pt" }
            .badge{style: "font-size: 13pt; color: #98FFD7"}=@user.email
  .col-lg-8
    .well
      = simple_form_for @user, url: wizard_path, html: { id: "user_authorization_form" } do |f|
        .panel.panel-default
          .panel-heading
            %strong Permissões
          .panel-body
            .row-fluid
              =content_tag(:div, @user.id, id: "user_id", style: "display: none")
              =content_tag(:div, Authorization.all.count, id: "authorizations_count", style: "display: none")
              .table-responsive
                %table.table.table-condensed.table-hover
                  %thead
                    %tr
                      %th Descrição
                      %th Cadastrar
                      %th Visualizar
                      %th Editar
                      %th Excluir
                  %tbody
                    - Authorization.all.order(description: :desc).each do |u|
                      %tr{id: "indice_externo_#{u.id}"}
                        %td
                          =u.description
                          =f.input :authorization_id, as: :hidden, input_html: { value: u.id }
                        %td
                          .form-group
                            -if @user.authorization_users.find_by(authorization_id: u.id, _create: true)
                              =f.check_box :create, checked: true,  data: { authorization_id: u.id }
                            -else
                              =f.check_box :create, data: { authorization_id: u.id }
                        %td
                          .form-group
                            -if @user.authorization_users.find_by(authorization_id: u.id, _retrieve: true)
                              =f.check_box :retrieve, checked: true,  data: { authorization_id: u.id }
                            -else
                              =f.check_box :retrieve, data: { authorization_id: u.id }
                        %td
                          .form-group
                            -if @user.authorization_users.find_by(authorization_id: u.id, _update: true)
                              =f.check_box :update, checked: true,  data: { authorization_id: u.id }
                            -else
                              =f.check_box :update, data: { authorization_id: u.id }
                        %td
                          .form-group
                            -if @user.authorization_users.find_by(authorization_id: u.id, _delete: true)
                              =f.check_box :delete, checked: true,  data: { authorization_id: u.id }
                            -else
                              =f.check_box :delete, data: { authorization_id: u.id }
        %br
        .container-fluid
          .row
            .pull-left
              = button_tag(type: "submit", class: "btn btn-success") do
                %i.fa.fa-check
                Dar permissão
            .pull-right
              =link_to brant_users_accounts_path, class: "btn btn-danger" do
                %i.fa.fa-close
                Cancelar


=javascript_include_tag "global/user_permissions"
