/ Navigation
%nav.navbar.navbar-inverse.navbar-brant.navbar-static-top{:role => "navigation"}
  %button.navbar-toggle.menu-toggler{"data-target" => "#sidebar", type: "button"}
    %span.sr-only Toggle sidebar
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  .navbar-header
    =link_to root_path, class: "nav-link navbar-brand" do
      =image_tag('logo.png', class: "logo")
      %strong{style: "color: #F3ECFF; margin-left: 5px;"} - ADMIN
  %ul.nav.navbar-nav.pull-right
    - if logged_in_user?
      %li
        =link_to "", class: "nav-link" do
          %span Você está logado como: #{logged_user.email}
      %li
        -if current_admin
          =link_to destroy_admin_session_path, method: :delete, class: "nav-link" do
            %b Sair
            %span=content_tag(:i, "", class: "fa fa-sign-out fa-fw",  :"aria-hidden"=>"true")
  =render 'layouts/backstage/sidebar'
