.navbar-default.sidebar{:role => "navigation"}
  .sidebar-nav.navbar-collapse
    %ul#side-menu.nav
      %li.sidebar-search
        .input-group.custom-search-form
          %input.form-control{:placeholder => "Search...", :type => "text"}/
          %span.input-group-btn
            %button.btn.btn-default{:type => "button"}
              %i.fa.fa-search
        / /input-group
      %li
        =link_to root_path do
          %i.fa.fa-dashboard.fa-fw
          Dashboard
      %li
        =link_to backstage_empresa_brant_path do
          %i.fa.fa-university.fa-fw
          BRANT
      -# %li
        -# %a{:href => "#"}
          -# %i.fa.fa-user-circle-o.fa-fw
          -# Usuários
          -# %span.fa.arrow
        -# %ul.nav.nav-second-level
          -# %li
            -# %a{:href => "flot.html"} Administradores
          -# %li
            -# %a{:href => "morris.html"} Usuários
        / /.nav-second-level
      %li
        =link_to backstage_empresa_brant_models_path do
          %i.fa.fa-table.fa-fw
          MÓDULOS
  / /.sidebar-collapse
