.nested-fields
  .panel.panel-success
    .panel-heading
      .row
        #hidden_id_account
        .col-md-10
          = f.label t('contas_bancaria.labels.banco')
          = f.collection_select(:banco_id, Banco.all.order("nome Asc"), :id, :nome, {include_blank: "Selecione"}, {id: "select_new_bank_account_bank", class:'form-control'})
        .col-md-2{style: "margin-top: 25px"}
          =link_to "", id: "add_new_bank", class: "btn btn-default btn-circle", title: t('bancos.helpers.add_new_bank') do
            %i.fa.fa-plus
      #new_bank{style: "display: none"}
        .row
          .col-md-9
            =f.input :name_bank, input_html: { id: "txt_new_bank" }, label: "Nome do Banco"
          .col-md-3{style: "margin-top: 25px"}
            .btn-group
              =link_to "", id: "btn_save_new_bank", class: "btn btn-default btn-circle" do
                %i.fa.fa-check
              =link_to "", id: "delete_txt_new_bank", class: "btn btn-danger btn-circle" do
                %i.fa.fa-times
      #account_data
        .row
          .col-md-12
            =f.input :agencia, label: t('contas_bancaria.labels.agencia'), input_html: { id: "txt_new_bank_account_agency"}, as: :string
        .row
          .col-md-6
            =f.input :conta, label: t('contas_bancaria.labels.conta_bancaria'), input_html: { id: "txt_new_bank_account_account" }, as: :string
          .col-md-6
            =f.input :tipo, as: :select, collection: [["Corrente","Corrente"], ["Poupança","Poupança"]], include_blank: "Selecione", label: t(' contas_bancaria.labels.tipo'),input_html: {id: "select_new_bank_account_tipo"}
        %br
        .container-fluid
          .row-fluid
            .pull-left
              =link_to "", id: "btn_create_new_bank_account", class: "btn btn-success btn-circle", title: t("contas_bancaria.helpers.add_bank_account") do
                %i.fa.fa-check
            -# .pull-right
            -#   =link_to "", id: "delete_txt_new_bank_account", class: "btn btn-danger btn-circle" do
            -#     %i.fa.fa-times
%br




