%tr
  %td.center="##{cliente_fornecedor.id}"
  %td.center
    =cliente_fornecedor.status
  -# %td.center
  -#   =%cliente_fornecedor.contato1_email1
  -# %td.center
  -#   =cliente_fornecedor.contato1_telefone   
  -# - if cliente_fornecedor.incompleto?
  -#   %td.center{style: "color: #A91E1E; font-weight: bolder"}=cliente_fornecedor.dados.capitalize
  -# -else
  -#   %td.center{style: "color: #6AA91E; font-weight: bolder"}=cliente_fornecedor.dados.capitalize
  -# %td.center
  -#   -if cliente_fornecedor.tipo_cliente.eql?("")
  -#     ="-"
  -#   - else
  -#     =cliente_fornecedor.tipo_cliente
  -# %td.center
  -#   -if cliente_fornecedor.tipo_fornecedor.eql?("")
  -#     ="-"
  -#   -else
  -#     =cliente_fornecedor.tipo_fornecedor
  -# %td.center
  -#   -if cliente_fornecedor.tipo_investidor.eql?("")
  -#     ="-"
  -#   -else
  -#     =cliente_fornecedor.tipo_investidor
  %td.center=tipo_pessoa?(cliente_fornecedor.tipo_pessoa)
  %td=cliente_fornecedor.nome
  %td
    .btn-group.pull-right
      =link_to brant_print_individual_cliente_fornecedor_path(id: cliente_fornecedor, format: 'pdf'), title: t('helpers.links.print'), class: "btn btn-default btn-circle", target: :_blank do
        %i.fa.fa-print{style: "font-size: 14pt; margin-left: 3px"}
      -if policy(cliente_fornecedor).show?
        =link_to cliente_fornecedor_path(cliente_fornecedor), title: t('helpers.links.show'), class: "btn btn-default btn-circle", target: :_blank do
          %i.fa.fa-newspaper-o{style: "font-size: 14pt; margin-left: 3px"}
      -if policy(cliente_fornecedor).edit?
        =link_to edit_cliente_fornecedor_path(cliente_fornecedor), title: t('helpers.links.edit'), class: "btn btn-default btn-circle", target: :_blank do
          %i.fa.fa-pencil{style: "font-size: 13pt"}
