%div{class: "row", style:"margin-bottom: 1%;"}
  %div{class: "field"}
    %div{class: "col-xs-12 col-sm-3 col-md-3 col-lg-3 select_atributo_filtro"}
      = f.attribute_fields do |a|
        = a.attribute_select({include_brank: false}, {class: "form-control"})
    %div{class: "col-xs-12 col-sm-3 col-md-3 col-lg-3 select_predicado_filtro"}
      = f.predicate_select({only: [:cont, :eq]}, {class: "form-control"})
    %div{class: "col-xs-12 col-sm-3 col-md-3 col-lg-3 input_filtro"}
      = f.value_fields do |v|
        = v.text_field(:value, {class: "form-control"})
    %div{class: "col-xs-12 col-sm-3 col-md-3 col-lg-3"}
      = link_to "Remover condição", '#', class: "remove_fields"
