.nested-fields
  .panel.panel-success
    .panel-heading
      .row-fluid
        .col-xs-4.col-sm-4.col-md-4.col-lg-4
          =f.input :codigo, label: t('obras.helpers.codigo'), placeholder: "Código", input_html: {id: "txt_new_work_codigo"}
        .col-xs-8.col-sm-8.col-md-8.col-lg-8
          =f.input :nome_local, label: t('obras.helpers.nome_local'), placeholder: "Nome do Local", input_html: {id: "txt_new_work_name"}
      .row-fluid
        .col-xs-8.col-sm-8.col-md-8.col-lg-8
          =f.input :endereco_local, label: t('obras.helpers.endereco_local'), placeholder: "Endereço do Local", input_html: {id: "txt_new_work_local_address"}
        .col-xs-4.col-sm-4.col-md-4.col-lg-4
          =f.input :bairro, label: t('obras.helpers.bairro'), placeholder: "Bairro", input_html: {id: "txt_new_work_bairro"}
      .row-fluid
        .col-xs-4.col-sm-4.col-md-4.col-lg-4
          =f.input :cep, label: t('obras.helpers.cep'), placeholder: "CEP", input_html: {id: "txt_new_work_cep"}
        .col-xs-8.col-sm-8.col-md-8.col-lg-8
          =f.input :endereco_obra, label: t('obras.helpers.endereco_obra'), placeholder: "Endereço da Obra", input_html: {id: "txt_new_work_address"}
      .row-fluid
        .col-xs-6.col-sm-6.col-md-6.col-lg-6{style:"margin-bottom: 10px;"}
          = f.label t('obras.helpers.estado_id')
          = f.collection_select(:estado_id, Estado.pelo_nome, :id, :nome, {include_blank: "Selecione"}, {id: "select_work_estado_id", class:'form-control'})
        .col-xs-6.col-sm-6.col-md-6.col-lg-6{style:"margin-bottom: 10px;"}
          = f.label t('obras.helpers.cidade_id')
          = f.grouped_collection_select(:cidade_id, Estado.pelo_nome, :cidades, :nome, :id, :nome, {include_blank: "Selecione"}, {id: "select_work_cidade_id", class:'form-control collection_select'})
      .row-fluid
        .col-xs-6.col-sm-6.col-md-6.col-lg-6
          =f.input :quadra, label: t('obras.helpers.quadra'), placeholder: "Quadra", input_html: {id: "txt_new_work_quadra"}
        .col-xs-6.col-sm-6.col-md-6.col-lg-6
          =f.input :lote, label: t('obras.helpers.lote'), placeholder: "Lote", input_html: {id: "txt_new_work_lote"}
      .row-fluid
        .col-xs-6.col-sm-6.col-md-6.col-lg-6
          =f.input :cei, label: t('obras.helpers.cei'), placeholder: "CEI", input_html: {id: "txt_new_work_CEI"}
        .col-xs-6.col-sm-6.col-md-6.col-lg-6
          =f.input :peticao, label: t('obras.helpers.peticao'), placeholder: "Petição", input_html: {id: "txt_new_work_peticao"}
      .row-fluid
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          =f.input :aprovacao, label: t('obras.helpers.aprovacao'), placeholder: "Aprovação", input_html: {id: "txt_new_work_aprovacao"}
      .container-fluid
        .row-fluid
          .pull-left
            =link_to "", id: "create_new_work", class: "btn btn-success btn-circle" do
              %i.fa.fa-check
          .pull-right
            =link_to "", id: "delete_blk_new_work", class: "btn btn-danger btn-circle" do
              %i.fa.fa-times
%br
