.nested-fields
  .panel.panel-success
    .panel-heading
      =f.input :nome, placeholder: "Nome do novo Produto", input_html: {id: "txt_new_product_name"}
      =f.input :valor, label: t('produtos.helpers.valor'), input_html: { id: "txt_new_product_value", class: 'campo_dinheiro' }, as: :string
      =f.input :unidade, as: :select, collection: [["Balde","Balde"],["Bj","Bj"],["Caixa","Caixa"],["Dia","Dia"],["Folha","Folha"],["Galão","Galão"],["Kg","Kg"],["Lata","Lata"],["M","M"],["M²","M²"]], include_blank: "Selecione", label: t('produtos.helpers.unidade'),input_html: {id: "select_new_product_unity"}
      =f.input :observacoes, label: t('produtos.helpers.observacoes'),input_html: {id: "txt_new_product_observation"}
      .container-fluid
        .row-fluid
          .pull-left
            =link_to "", id: "create_new_product", class: "btn btn-success btn-circle" do
              %i.fa.fa-check
          .pull-right
            =link_to "", id: "delete_txt_new_product", class: "btn btn-danger btn-circle" do
              %i.fa.fa-times
%br
