.nested-fields
  .panel.panel-success
    .panel-heading
      =f.input :name, placeholder: "Nome do novo Serviço", input_html: {id: "txt_new_service_name"}
      -# = link_to_remove_association "delete", f
      .container-fluid
        .row-fluid
          .pull-left
            =link_to "", id: "create_new_service", class: "btn btn-success btn-circle" do
              %i.fa.fa-check
          .pull-right
            =link_to "", id: "delele_txt_new_service", class: "btn btn-danger btn-circle" do
              %i.fa.fa-times
%br
