%section{id: "edit_cliente_fornecedor"}
  .container-fluid
    .row-fluid
      %h1.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
        =t('helpers.titles.edit', model: "Cliente")
        = link_to cliente_fornecedores_path(page: session[:page]), class: 'btn btn-default pull-right' do
          %i.fa.fa-chevron-circle-left{"aria-hidden" => "true"}
          =t('helpers.links.back')
    .row-fluid.required_content_box{style: "display: none"}
      #required_fields_content_box
        %h4=t('helpers.titles.uncompleted_field')
        %hr
        %ol.required_fields_messages
    .row-fluid
      = render 'cliente_fornecedores/shared/form'
= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css"
= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.js"
= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.0/moment.min.js"
= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.0/moment-with-locales.min.js"
= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.0/locale/pt-br.js"