.container
  .row
    %h1.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
      =t('helpers.titles.index', model: "Clientes ")
      -if can? :create, ClienteFornecedor
        = link_to new_cliente_fornecedor_path, class: 'btn btn-primary btn-circle pull-right', title: t('helpers.links.new') do
          %i.fa.fa-plus{"aria-hidden" => "true"}
  .row
    .jumbotron
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          = search_form_for @search, remote: true do |f|
            = f.condition_fields do |c|
              = render "condition_fields", f: c
            = link_to_add_fields "Adicionar Condições", f, :condition
            %div{class: "actions", style: "margin-top: 2%;"}
              = f.submit "Pesquisar", class: "btn btn-primary"
    %br

    .well
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th.center=t('cliente_fornecedores.helpers.id')
            %th.center=t('cliente_fornecedores.helpers.status')
            %th.center=t('cliente_fornecedores.helpers.tipo_pessoa')
            %th=t('cliente_fornecedores.helpers.nome')
            
            %th
              .pull-right
                = link_to brant_print_page_cliente_fornecedor_path(format: 'pdf'), class: 'btn btn-primary', target: :_blank do
                  %i.fa.fa-print{style: "font-size: 14pt; margin-left: 3px"}
                  =t('helpers.links.print_all')
        %tbody#cliente_fornecedores_content
          =render @cliente_fornecedores
        .pull-right
          #paginator= paginate @cliente_fornecedores
