.container
  .row
    %h1.page-header{style: "border-bottom: #A4A4A4 solid 0.5px"}
      Cliente
      .btn-group.pull-right
        = link_to cliente_fornecedores_path(page: session[:page]), class: 'btn btn-default' do
          %i.fa.fa-chevron-circle-left{"aria-hidden" => "true"}
          =t('helpers.links.back')
        -if policy(@cliente_fornecedor).edit?
          = link_to edit_cliente_fornecedor_path(@cliente_fornecedor), class: 'btn btn-primary' do
            %i.fa.fa-pencil-square{"aria-hidden" => "true"}
            =t('helpers.links.edit')
        = link_to brant_print_individual_cliente_fornecedor_path(id: @cliente_fornecedor, format: 'pdf'), target: :_blank, class: 'btn btn-primary' do
          %i.fa.fa-print{style: "font-size: 14pt; margin-left: 3px"}
          =t('helpers.links.print')
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        -if @cliente_fornecedor.status.eql?("Ativo")
          .panel.panel-success
            .panel-heading
              %h4
                %i.fa.fa-circle{style: "color: #69CE4C"}
                -# %em.status=translate_i18n_status @cliente_fornecedor.status
                %em.status= "Ativo"
            .panel-body
              =render 'cliente_fornecedores/shared/show'
        -else
          .panel.panel-danger
            .panel-heading
              %h4
                %i.fa.fa-circle{style: "color: #FF3E38"}
                -# %em.status=translate_i18n_status @cliente_fornecedor.status
                %em.status= "Inativo"
            .panel-body
              =render 'cliente_fornecedores/shared/show'

