= simple_form_for @produto_categoria, remote: true do |f|
  %section{id: "new_produto_categorias"}
    %div{class: "container"}
      %div{class: "row"}
        %h1.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
          ="Produto - Categoria"
          = link_to produtos_path, class: 'btn btn-default pull-right' do
            %i.fa.fa-chevron-circle-left{"aria-hidden" => "true"}
            =t('helpers.links.back')
      %div{class: "well"}
        %ul{class: "nav nav-tabs"}
          %li
            %a{'data-toggle':"tab", href:"#dados"} Dados
          %li{class:"active"}
            %a{'data-toggle':"tab", href:"#produto_categorias"} Categorias
        %div{class: "container", style: "margin-left: 5%; padding-top: 15px; padding-bottom: 15px;"}
          %div{class:"tab-content"}
            / aba dados
            =render 'produtos/shared/visualiza_dados'
            / aba produto_categorias
            =render 'produto_categorias/shared/form', { f: f }
        %div{class: "row"}
          %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
            %div{class: "pull-left"}
              = button_tag(type: "submit", class: "btn btn-success", id: 'salvar_produto_categorias') do
                %i.fa.fa-check{"aria-hidden" => "true"}
                =t('helpers.links.add_save')
            %div{class: "pull-right"}
              = link_to produtos_path, class: 'btn btn-danger' do
                %i.fa.fa-times{"aria-hidden" => "true"}
                =t('helpers.links.cancel')