%section#new_produto
  .container
    .row
      %h1.page-header{style: "border-bottom: #AEAEAE 0.5px solid"}
        =t('helpers.titles.edit', model: Produto)
        = link_to produtos_path(page: session[:page]), class: 'btn btn-default pull-right' do
          %i.fa.fa-chevron-circle-left{"aria-hidden" => "true"}
          =t('helpers.links.back')
    .row
      =render 'produtos/shared/form'
