.container
  .row
    %h1.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
      = t('helpers.titles.index', model: "Produtos")
      - if can? :create, Produto
        = link_to new_produto_path, class: 'btn btn-primary btn-circle pull-right', title: t('helpers.links.new') do
          %i.fa.fa-plus{"aria-hidden" => "true"}
  .row
    .jumbotron
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          = search_form_for @search do |f|
            = f.condition_fields do |c|
              = render "condition_fields", f: c
            = link_to_add_fields "Adicionar Condições", f, :condition
            %div{class: "actions", style: "margin-top: 2%;"}
              = f.submit "Pesquisar", class: "btn btn-primary"
    %br
    .panel
      .table-responsive
        %table.table.table-bordered.table-hover.table-condensed
          %thead
            %tr
              %th
              %th= t('produtos.status')
              %th= t('produtos.nome')
              %th= t('produtos.unidade')
          %tbody
            - @produtos.each do |produto|
              %tr
                %td{style: "width: 6%"}= "##{produto.id}"
                %td
                  -if produto.status.eql?("active")
                    %i.fa.fa-circle{style: "color: #5BFF2B"}
                  -else
                    %i.fa.fa-circle{style: "color: #FF3E38"}
                  =translate_i18n_status produto.status
                %td= produto.nome
                %td= produto.unidade
                %td
                  .btn-group.pull-right
                    - if policy(produto).show?
                      = link_to produto_path(produto), title: t('helpers.links.show'), class: "btn btn-circle btn-default", target: :_blank do
                        %i.fa.fa-newspaper-o{style: "font-size: 14pt; margin-left: 3px"}
                    - if policy(produto).edit?
                      = link_to edit_produto_path(produto), title: t('helpers.links.edit'), class: "btn btn-circle btn-default", target: :_blank do
                        %i.fa.fa-pencil{style: "font-size: 13pt"}
        .pull-right
          = paginate @produtos
