.container
  .row
    %h1.page-header{style: "border-bottom: #AEAEAE 0.5px solid"}
      Produto
      .btn-group.pull-right
        = link_to produtos_path(page: session[:page]), class: 'btn btn-default' do
          %i.fa.fa-chevron-circle-left{"aria-hidden" => "true"}
          =t('helpers.links.back')
        -if policy(@produto).edit?
          = link_to edit_produto_path(@produto), class: 'btn btn-primary' do
            %i.fa.fa-pencil{"aria-hidden" => "true"}
            =t('helpers.links.edit')
  .row
    -if @produto.status.eql?("active")
      .panel.panel-success
        .panel-heading
          %i.fa.fa-circle{style: "color: #69CE4C"}
          %em.status=translate_i18n_status(@produto.status)
        .panel-body
          =render 'produtos/shared/show'
    -else
      .panel.panel-danger
        .panel-heading
          %i.fa.fa-circle{style: "color: #FF3E38"}
          %em.status=translate_i18n_status(@produto.status)
        .panel-body
          =render 'produtos/shared/show'
