.input-group
  =e.label "Nome"
  -# = e.collection_select(:comodo_id, Comodo.all.order(:name), :id, :name, {include_blank: "Selecione"}, {id: "obra_cidade_id", class:'form-control collection_select'})
  = e.input :comodo_id {id: "obra_cidade_id", class:'form-control collection_select'})