.row-fluid
  %section#comodo_form.animated.bounceInDown{style: "display: none;"}
    .panel.panel-default
      .panel-heading
        .row
          %h4.center
            %b=t('helpers.titles.new', model: "Comodo")
        %hr{style: "border: #639DBD 0.5px solid"}
        .row
          .col-xs-12.col-sm-8.col-md-12.col-lg-12
            =f.input :name, label: t('helpers.labels.name'), input_html: {id: "comodo_name"}
        .container-fluid
          .row-fluid
            .pull-left
              =link_to "#", class: 'btn btn-success btn-circle popover_link', id: "btn_salvar_comodo", :"data-toggle"=> "popover", :"data-content" => t("helpers.links.save"), :"data-placement"=>"top", :"data-trigger"=>"hover" do
                %i.fa.fa-check{"aria-hidden" => "true"}
            .pull-right
              =link_to "#", class: 'btn btn-danger btn-circle popover_link', id: "btn_cancelar_comodo", :"data-toggle"=> "popover", :"data-content" => t("helpers.links.end"), :"data-placement"=>"top", :"data-trigger"=>"hover" do
                %i.fa.fa-times{"aria-hidden" => "true"}
