.panel.panel-default
  .panel-heading
    %strong Comodos
  .panel-body
    %table.table.table-condensed.table-hover
      %th Nome
      %tbody
        - obra.comodo_obras.each do |f|
          %tr
            %td=f.comodo.name