.row
  .col-xs-3.col-sm-3.col-md-3.col-lg-3
    = label_tag t('obras.helpers.id')
  .col-xs-6.col-sm-4.col-md-4.col-lg-4
    = obra.id
.row
  .col-xs-3.col-sm-3.col-md-3.col-lg-3
    = label_tag t('obras.helpers.status')
  .col-xs-6.col-sm-4.col-md-4.col-lg-4
    = obra.status
.row
  .col-xs-3.col-sm-3.col-md-3.col-lg-3
    = label_tag t('obras.helpers.codigo')
  .col-xs-6.col-sm-4.col-md-4.col-lg-4
    = obra.codigo
.row
  .col-xs-3.col-sm-3.col-md-3.col-lg-3
    = label_tag t('obras.helpers.nome_local')
  .col-xs-6.col-sm-4.col-md-4.col-lg-4
    = obra.nome_local
.row
  .col-xs-3.col-sm-3.col-md-3.col-lg-3
    = label_tag t('obras.helpers.endereco_local')
  .col-xs-6.col-sm-4.col-md-4.col-lg-4
    = obra.endereco_local
.row
  .col-xs-3.col-sm-3.col-md-3.col-lg-3
    = label_tag t('obras.helpers.bairro')
  .col-xs-6.col-sm-4.col-md-4.col-lg-4
    = obra.bairro
.row
  .col-xs-3.col-sm-3.col-md-3.col-lg-3
    = label_tag t('obras.helpers.cep')
  .col-xs-6.col-sm-4.col-md-4.col-lg-4
    = obra.cep
.row
  .col-xs-3.col-sm-3.col-md-3.col-lg-3
    = label_tag t('obras.helpers.estado_id')
  .col-xs-6.col-sm-4.col-md-4.col-lg-4
    = obra.estado.nome
.row
  .col-xs-3.col-sm-3.col-md-3.col-lg-3
    = label_tag t('obras.helpers.cidade_id')
  .col-xs-6.col-sm-4.col-md-4.col-lg-4
    = obra.cidade.nome
.row
  .col-xs-3.col-sm-3.col-md-3.col-lg-3
    = label_tag t('obras.helpers.endereco_obra')
  .col-xs-6.col-sm-4.col-md-4.col-lg-4
    = obra.endereco_obra
.row
  .col-xs-3.col-sm-3.col-md-3.col-lg-3
    = label_tag t('obras.helpers.quadra')
  .col-xs-6.col-sm-4.col-md-4.col-lg-4
    = obra.quadra
.row
  .col-xs-3.col-sm-3.col-md-3.col-lg-3
    = label_tag t('obras.helpers.lote')
  .col-xs-6.col-sm-4.col-md-4.col-lg-4
    = obra.lote
.row
  .col-xs-3.col-sm-3.col-md-3.col-lg-3
    = label_tag t('obras.helpers.cei')
  .col-xs-6.col-sm-4.col-md-4.col-lg-4
    = obra.cei
.row
  .col-xs-3.col-sm-3.col-md-3.col-lg-3
    = label_tag t('obras.helpers.peticao')
  .col-xs-6.col-sm-4.col-md-4.col-lg-4
    = obra.peticao
.row
  .col-xs-3.col-sm-3.col-md-3.col-lg-3
    = label_tag t('obras.helpers.aprovacao')
  .col-xs-6.col-sm-4.col-md-4.col-lg-4
    = obra.aprovacao

.row{style: "padding-top: 15px; padding-bottom: 15px;"}
  - cont = 0
  - obra.cliente_works.each do |cw|
    - cont += 1
    .col-xs-3.col-sm-3.col-md-3.col-lg-3
      = label_tag t('helpers.labels.cliente_obras', var: "#{cont}")
    .col-xs-6.col-sm-4.col-md-4.col-lg-4
      = cw.cliente.nome if cw.try(:cliente)