%section{id: "edit_obra"}
  .container
    .row
      %h1.page-header{style: "border-bottom: #AEAEAE 0.5px solid"}
        =t('helpers.titles.edit', model: "Obra")
        = link_to obras_path(page: session[:page]), class: 'btn btn-default pull-right' do
          %i.fa.fa-chevron-circle-left{"aria-hidden" => "true"}
          =t('helpers.links.back')
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .panel
          = render 'obras/shared/form'
