.container
  .row
    %h1.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
      =t('helpers.titles.index', model: "Obras")
      -if can? :create, Obra
        = link_to new_obra_path, class: 'btn btn-primary btn-circle pull-right', title: t('helpers.links.new') do
          %i.fa.fa-plus{"aria-hidden" => "true"}
    .row
      .jumbotron
        .row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            = search_form_for @search do |f|
              = f.condition_fields do |c|
                = render "condition_fields", f: c
              = link_to_add_fields "Adicionar Condições", f, :condition
              %div{class: "actions", style: "margin-top: 2%;"}
                = f.submit "Pesquisar", class: "btn btn-primary"
      %br
      .panel
        .table-responsive
          %table.table.table-bordered.table-hover.table-condensed
            %thead
              %tr
                %th= t('obras.helpers.id')
                %th= t('obras.helpers.status')
                %th= t('obras.helpers.codigo')
                %th= t('obras.helpers.nome_local')
            %tbody
              - @obras.each do |obra|
                %tr
                  %td= obra.id
                  %td
                    - if obra.status.eql?("Ativo")
                      %i.fa.fa-circle{style: "color: #5BFF2B"}
                    - else
                      %i.fa.fa-circle{style: "color: #FF3E38"}
                    = obra.status
                  %td= obra.codigo
                  %td= obra.nome_local
                  %td
                    .btn-group.pull-right
                      -if policy(obra).show?
                        =link_to obra_path(obra), title: t('helpers.links.show'), class: "btn btn-default btn-circle", target: :_blank do
                          %i.fa.fa-newspaper-o{style: "font-size: 14pt; margin-left: 3px"}
                      -if policy(obra).edit?
                        =link_to edit_obra_path(obra), title: t('helpers.links.edit'), class: "btn btn-default btn-circle", target: :_blank do
                          %i.fa.fa-pencil{style: "font-size: 13pt"}
        .pull-right
          = paginate @obras
