%section{id: "new_obra"}
  .container
    .row
      %h1.page-header{style: "border-bottom: #AEAEAE 0.5px solid"}
        =t('helpers.titles.new_fem', model: "Obra")
        = link_to obras_path(page: session[:page]), class: 'btn btn-default pull-right' do
          %i.fa.fa-chevron-circle-left{"aria-hidden" => "true"}
          =t('helpers.links.back')
    .row
      = render 'obras/shared/form'
