.container-fluid
  .row-fluid
    %h1.page-header{style: "border-bottom: #AEAEAE 0.5px solid"}
      =t('helpers.titles.show', model: "Obra")
      .btn-group.pull-right
        = link_to obras_path(page: session[:page]), class: 'btn btn-default' do
          %i.fa.fa-chevron-circle-left{"aria-hidden" => "true"}
          =t('helpers.links.back')
        -if policy(@obra).edit?
          = link_to edit_obra_path(@obra), class: 'btn btn-primary' do
            %i.fa.fa-pencil-square{"aria-hidden" => "true"}
            =t('helpers.links.edit')
  .row-fluid
    .panel.panel-default
      .container-fluid{ style: "padding-top: 15px; padding-bottom: 15px;" }
        .col-xs-6.col-sm-6.col-md-6.col-lg-6
          =render 'show', { obra: @obra }
        .col-xs-6.col-sm-6.col-md-6.col-lg-6.pull-right
          =render 'obra_comodos', { obra: @obra }
                
