%tr{id: "tr_estoque_produto_id_#{estoque_produto.id}"}
  %td=estoque_produto.produto.descricao
  %td.center=estoque_produto.obra.codigo
  %td.center=estoque_produto.item_obra.item if estoque_produto.try(:item_obra)
  %td.center=estoque_produto.sub_item_obra.sub_item if estoque_produto.try(:sub_item_obra)
  %td.center=estoque_produto.quantidade_movimento
  %td.center=number_to_currency estoque_produto.valor_produto
  %td
    .pull-right=number_to_currency estoque_produto.valor_total
  %td.center
    =link_to estoques_estoque_movimentaco_parcelamentos_path(@estoque, estoque_produto_id: estoque_produto.id), id: "estoque_produto_parcelamento_link", class: "popover_link", :"data-toggle"=> "popover", :"data-content" => "Ir para parcelamento", :"data-placement"=>"top", :"data-trigger"=>"hover" do
      %span.fa.fa-pie-chart.fa-2x
  %td.center
    =link_to estoques_estoque_movimentaco_estoque_produto_path(@estoque, estoque_produto), class: "btn_link_trash popover_link", :"data-toggle"=> "popover", :"data-content" => "#{t('helpers.links.delete_item')}", :"data-placement"=>"top", :"data-trigger"=>"hover", data: {confirm: t('helpers.links.confirm_delete')}, method: :delete, remote: true do
      %i.fa.fa-trash.fa-2x

= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.js"
= javascript_include_tag "brant/estoques/parcelamento"
