= simple_form_for(@item_obra) do |f|
  = f.error_notification
  .col-md-4
    %h3=I18n.t('item_obra.item')
    %hr
    .row
      .col-md-6
        .form-inputs
          = f.input :item, label: "Etapa"
    .row
      .col-md-6
        .form-inputs
          = f.input :tipo_servico
    .row-fluid
      %br
      .form-actions
        = f.button :submit, "Salvar", class: "btn btn-success"
  .col-md-7
    %h3
      =I18n.t('sub_item_obra.sub_item')
      .links.pull-right
        = link_to_add_association f, :sub_itens_obras, id: "btn_to_add_association", class: 'btn btn-default btn-circle', data: { association_insertion_node: '.sub_itens_obras', association_insertion_method: :append } do
          %i.fa.fa-plus{style: "color: #73a615"}
    %hr

    .sub_itens_obras
      =f.simple_fields_for :sub_itens_obras do |builder|
        .nested-fields
          .panel.panel-success
            .panel-heading
              .container-fluid
                .row
                  .col-md-3
                    #sub_item_task_value
                      = builder.input :sub_item, label: "Sub Etapa" ,input_html: { class: "sub_item_value"}
                  .col-md-8
                    = builder.input :sub_tipo_servico
                .row
                  .col-md-3
                    = builder.input :unidade, as: :string


= javascript_include_tag 'brant/itens_obra/form'
