@import "include-media"
@import "fonts"
@import "variables"
@import "bootstrap/bootstrap-theme"
@import "navbar"
@import "progress_bar"

//https://color.adobe.com/pt/create/color-wheel/?base=2&rule=Analogous&selected=2&name=Meu%20tema%20do%20Color&mode=rgb&rgbvalues=1,0.2644437070557587,0.8848242777749705,0.7504230363114031,0.6108594219025059,0.91,0.31444370705575875,0.4151982294992984,1,0.24064377342074042,0.7387208073426601,0.91,0.2644437070557587,1,0.7300398184552289&swatchOrder=0,1,2,3,4
//https://fonts.google.com/?selection.family=Fjalla+One

$break-320:  320px
$break-1200: 1200px
$breakpoints: ('little': 320px, 'phone': 640px, 'tablet': 768px, 'desktop': 1024px) !default

body
  font-family: 'Roboto Condensed',serif
  font-size: 14px
  background: $bg_color
  font-weight: 400
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: subpixel-antialiased

  .navbar-fixed-top
    .nav
      padding: 15px 0
  footer
    padding: 25px 0
    position: fixed
    width: 100%
    height: 30px
    bottom: 0
    font-family: 'Roboto Slab', serif
    text-align: center
    line-height: 0.5em
    font-size: 12pt
    font-weight: bolder
    color: $white
    background-color: $nav_bg_color
    a.nav-item
      color: white !important
      &:hover
        color: $link_hover_color !important
        text-decoration: none

section#index_page
  margin-top: 100px
  #start_page_logo
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    -webkit-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    -ms-transition: all 0.5s ease
    transition: all 0.5s ease
    width: 600px
    height: 200px
  @include media(">=phone", "<=tablet")
    #start_page_logo
      width: 80% !important

.wrapper
  margin-top: 40px
  margin-bottom: 80px

  .form-signin
    max-width: 380px
    padding: 15px 35px 45px
    margin: 0 auto
    background-color: #fff
    border: 1px solid rgba(0,0,0,0.1)

  .form-signin-heading,
  .checkbox
    margin-bottom: 30px

  .checkbox
    margin-left: 20px

  .checkbox
    font-weight: normal

  .form-control
    position: relative
    font-size: 16px
    height: auto
    padding: 10px
    &:focus
      z-index: 2

  input[type="text"]
    margin-bottom: -1px
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0

  input[type="password"]
    margin-bottom: 20px
    border-top-left-radius: 0
    border-top-right-radius: 0

#grid_btns
  color: #5D5C66
  &:hover
    color: #588AFF

.status-pages
  background: #425668
  margin-top: 12%
  width: 100%
  height: 100%
  z-index: 1
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%

.main_container
  font-family: 'El Messiri', sans-serif
  .error-number
    font-family: 'Anton', sans-serif
    font-size: 150pt
    line-height: 90px
    margin: 20px 20px 20px 20px
    color: $white
  h2, p
    color: $white
    font-weight: bolder
  p
    font-size: 14pt

#status
  .form-control
    width: 13px
    height: 13px

em.status
  font-size: 16pt
  font-weight: bolder
  font-family: 'Slabo 27px', serif

.page_center
  position: absolute
  left: 50%
  top: 20%
  margin-left: -301px
  margin-top: 5px
  margin-bottom: 50px

.error_message
  color: #961F1F

.center
  text-align: center
  // text-shadow: 0 0 0.5px #F7F7F7, 0 0 0.5px #F5EDED

.required_field:focus
  border: 1px solid #AD0D0D
  outline: none
  color: #8E4D4D

li
  a.required_tab
    color: #750E0E

#required_fields_content_box
  background: #ffb6b6
  background: -moz-linear-gradient(top, #ffb6b6 0%, #ff8c8c 100%)
  background: -webkit-linear-gradient(top, #ffb6b6 0%,#ff8c8c 100%)
  background: linear-gradient(to bottom, #ffb6b6 0%,#ff8c8c 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb6b6', endColorstr='#ff8c8c',GradientType=0 )
  padding: 50px 50px 50px 50px
  border: 1px solid #DE8E8E
  border-radius: 25px
  margin-bottom: 20px
  h4
    color: #952323
    font-weight: bolder
  hr
    border: #841E1E 0.2px solid

table.estoque_table
  border-collapse: collapse
  .estoque_table >
    thead > tr > td.success, tbody > tr > td.success, tfoot > tr > td.success, thead > tr > th.success, tbody > tr > th.success, tfoot > tr > th.success, thead > tr.success > td, tbody > tr.success > td, tfoot > tr.success > td, thead > tr.success > th, tbody > tr.success > th, tfoot > tr.success > th
      background-color: #74D680 !important
    thead > tr > td.danger, tbody > tr > td.danger, tfoot > tr > td.danger, thead > tr > th.danger, tbody > tr > th.danger, tfoot > tr > th.danger, thead > tr.danger > td, tbody > tr.danger > td, tfoot > tr.danger > td, thead > tr.danger > th, tbody > tr.danger > th, tfoot > tr.danger > th
      background-color: #F7CACE !important

.btn_link_trash
  color: #D62323
  &:hover
    color: #790909

#message
  font-weight: bolder
  font-size: 12pt
  font-family: 'Merriweather', serif
  text-align: center

.table >
  thead > tr > td.warning,
  tbody > tr > td.warning,
  tfoot > tr > td.warning,
  thead > tr > th.warning,
  tbody > tr > th.warning,
  tfoot > tr > th.warning,
  thead > tr.warning > td,
  tbody > tr.warning > td,
  tfoot > tr.warning > td,
  thead > tr.warning > th,
  tbody > tr.warning > th,
  tfoot > tr.warning > th
    background-color: #f5eeba

  thead > tr > td.success,
  tbody > tr > td.success,
  tfoot > tr > td.success,
  thead > tr > th.success,
  tbody > tr > th.success,
  tfoot > tr > th.success,
  thead > tr.success > td,
  tbody > tr.success > td,
  tfoot > tr.success > td,
  thead > tr.success > th,
  tbody > tr.success > th,
  tfoot > tr.success > th
    background-color: #BEEFCF

  thead > tr > td.info,
  tbody > tr > td.info,
  tfoot > tr > td.info,
  thead > tr > th.info,
  tbody > tr > th.info,
  tfoot > tr > th.info,
  thead > tr.info > td,
  tbody > tr.info > td,
  tfoot > tr.info > td,
  thead > tr.info > th,
  tbody > tr.info > th,
  tfoot > tr.info > th
    background-color: #CBFFFB

a#estoque_produto_parcelamento_link
  color: #9C9C9C
  &:hover
    color: #3FECB4
    -webkit-filter: blur(0.6px) /* Safari */
    filter: blur(0.6px)

#in_place_editing_area
  margin-top: 2%
  border: 1px #446D10 dashed
  #in_place_label_area
    margin-left: 1%
    #click
      text-decoration: underline
  section#best_in_place_parcelamento
    margin-left: 2%

.in_place_editing
  width: 50%
  display: inline-block

a#btn_unlock_quotation
  i.btn_unlock_icon
    color: #F0C935
    font-size: 14pt
  &:hover
    i.btn_unlock_icon
      color: #DA1D1D

a.quotation_change_link
  color: #4C4C4C
  font-size: 12pt
  &:hover
    color: #00CFC9
    text-decoration: none

.card_stock
  em
    font-family: 'Slabo 27px', serif
    font-size: 14pt
  span.badge
    background: #814EF2
    color: #E6FF00
    font-size: 12pt
  span#money_quotation
    color: #4C4C4C
    font-size: 12pt

#message_4_locked_page
  font-family: 'Roboto Condensed',serif
  font-size: 14pt
  font-weight: bolder
  text-align: justify

.fade-scale
  transform: scale(0)
  opacity: 0
  -webkit-transition: all .25s linear
  -o-transition: all .25s linear
  transition: all .25s linear

.fade-scale.in
  opacity: 1
  transform: scale(1)

.breadcrumb
  list-style: none
  overflow: hidden
  font: 18px Helvetica, Arial, Sans-Serif
  margin: 40px
  padding: 0
  li
    float: left
    a
      color: white
      text-decoration: none
      padding: 10px 0 10px 55px
      background: brown
      /* fallback color */
      background: hsla(34, 85%, 35%, 1)
      position: relative
      display: block
      float: left
      &:after
        content: " "
        display: block
        width: 0
        height: 0
        border-top: 50px solid transparent
        /* Go big on the size, and let overflow hide */
        border-bottom: 50px solid transparent
        border-left: 30px solid hsla(34, 85%, 35%, 1)
        position: absolute
        top: 50%
        margin-top: -50px
        left: 100%
        z-index: 2
      &:before
        content: " "
        display: block
        width: 0
        height: 0
        border-top: 50px solid transparent
        /* Go big on the size, and let overflow hide */
        border-bottom: 50px solid transparent
        border-left: 30px solid white
        position: absolute
        top: 50%
        margin-top: -50px
        margin-left: 1px
        left: 100%
        z-index: 1
    &:first-child a
      padding-left: 10px
    &:nth-child(2) a
      background: hsla(34, 85%, 45%, 1)
      &:after
        border-left-color: hsla(34, 85%, 45%, 1)
    &:nth-child(3) a
      background: hsla(34, 85%, 55%, 1)
      &:after
        border-left-color: hsla(34, 85%, 55%, 1)
    &:nth-child(4) a
      background: hsla(34, 85%, 65%, 1)
      &:after
        border-left-color: hsla(34, 85%, 65%, 1)
    &:nth-child(5) a
      background: hsla(34, 85%, 75%, 1)
      &:after
        border-left-color: hsla(34, 85%, 75%, 1)
    &:last-child a
      background: transparent !important
      color: black
      pointer-events: none
      cursor: default
      &:after
        border: 0
    a:hover
      background: hsla(34, 85%, 25%, 1)
      &:after
        border-left-color: hsla(34, 85%, 25%, 1) !important

.steps
  margin: 40px
  padding: 0
  overflow: hidden
  a
    color: white
    text-decoration: none
  em
    display: block
    font-size: 1.1em
    font-weight: bold
  li
    float: left
    margin-left: 0
    width: 150px
    /* 100 / number of steps */
    height: 70px
    /* total height */
    list-style-type: none
    padding: 5px 5px 5px 30px
    /* padding around text, last should include arrow width */
    border-right: 3px solid white
    /* width: gap between arrows, color: background of document */
    position: relative
    &:first-child
      padding-left: 5px
    &:nth-child(n+2)::before
      position: absolute
      top: 0
      left: 0
      display: block
      border-left: 25px solid white
      border-top: 40px solid transparent
      border-bottom: 40px solid transparent

      width: 0
      height: 0
      content: " "
    &::after
      z-index: 1

      position: absolute
      top: 0
      right: -25px

      display: block
      border-left: 25px solid #7c8437

      border-top: 40px solid transparent

      border-bottom: 40px solid transparent

      width: 0
      height: 0
      content: " "
      border-left-color: #7c8437
    background-color: #7C8437
    &.current
      background-color: #C36615
      &::after
        border-left-color: #C36615
      ~ li
        background-color: #EBEBEB
        &::after
          border-left-color: #EBEBEB
    &:hover
      background-color: #696
      &::after
        border-left-color: #696

.arrows
  white-space: nowrap
  li
    display: inline-block
    line-height: 26px
    margin: 0 9px 0 -10px
    padding: 0 20px
    position: relative
    &::before
      border-right: 1px solid #666666
      content: ''
      display: block
      height: 50%
      position: absolute
      left: 0
      right: 0
      top: 0
      z-index: -1
      transform: skewX(35deg)
    &::after
      border-right: 1px solid #666666
      content: ''
      display: block
      height: 50%
      position: absolute
      left: 0
      right: 0
      top: 0
      z-index: -1
      transform: skewX(35deg)
      bottom: 0
      top: auto
      transform: skewX(-35deg)
    &:last-of-type
      &::before, &::after
        display: none
    a
      font: bold 13px Sans-Serif
      letter-spacing: -1px
      text-decoration: none
    &:nth-of-type(1) a
      color: hsl(0, 0%, 70%)
    &:nth-of-type(2) a
      color: hsl(0, 0%, 65%)
    &:nth-of-type(3) a
      color: hsl(0, 0%, 50%)
    &:nth-of-type(4) a
      color: hsl(0, 0%, 45%)

.card
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
  transition: 0.3s
  border-radius: 5px
.card:hover
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)

.dropdown-menu.open
  z-index: 99999
.data_live_search.open
  z-index: 99999
.dropdown-menu.inner
  z-index: 99999

.table >
  thead > tr > td, tbody > tr > td
    a:hover
      text-decoration: none
  thead > tr > td.danger.estoque_confronto_de_valores, tbody > tr > td.danger.estoque_confronto_de_valores, tfoot > tr > td.danger.estoque_confronto_de_valores, thead > tr > th.danger.estoque_confronto_de_valores, tbody > tr > th.danger.estoque_confronto_de_valores, tfoot > tr > th.danger.estoque_confronto_de_valores, thead > tr.danger.estoque_confronto_de_valores > td, tbody > tr.danger.estoque_confronto_de_valores > td, tfoot > tr.danger.estoque_confronto_de_valores > td, thead > tr.danger.estoque_confronto_de_valores > th, tbody > tr.danger.estoque_confronto_de_valores > th, tfoot > tr.danger.estoque_confronto_de_valores > th
    background-color: #B5302C
    color: white
    font-weight: bolder
    .badge
      background-color: #F4F754
      color: #382E21
    a:hover
      color: #AB2514
      text-decoration: none

.table-hover > tbody > tr
  >
    td.danger.estoque_confronto_de_valores:hover, th.danger.estoque_confronto_de_valores:hover
      background-color: #F5A19F
      color: #2B0905
  &.danger.estoque_confronto_de_valores:hover > td, &:hover > .danger.estoque_confronto_de_valores, &.danger.estoque_confronto_de_valores:hover > th
    background-color: #F5A19F
    color: #2B0905

#estoque_estoque_movimento_observacoes
  margin: 0px -1px 0px 0px
  width: 1461px
  height: 128px