.modal
  text-align: center

.modal.fade
  opacity: 1

@media screen and (min-width: 768px)
  .modal:before
    display: inline-block
    vertical-align: middle
    content: " "
    height: 100%

.modal-dialog
  display: inline-block
  text-align: left
  vertical-align: middle
  margin-top: -50px

.modal.fade .modal-dialog
  -webkit-transform: translate(5)
  -moz-transform: translate(5)
  transform: translate(5)

.img-circle
  border-radius: 50%

.modal-image
  width: 11%
  border: 2px solid #FB7992
  /* Prevent background color leak outs */
  -webkit-background-clip: padding-box
  -moz-background-clip:    padding
  background-clip:         padding-box

#markupValue
  font-weight: bolder
  font-size: 11pt
  
span.badge#markupValue
  background: #78414C


.blink_me
  animation: blinker 1s linear infinite

@keyframes blinker
  50%
    opacity: 0

#watchout_for_releases
  color: #3B00E3
  font-size: 14pt