@import "fonts"
@import "variables"

section#logo
  .logo_bar
    background: $white
    width: 100%
    height: 100%
    .logo
      width: 170px
      margin-top: 10px
      margin-bottom: 10px
      margin-left: 50px

@media (min-width: 768px)
  .navbar
    border-radius: 0px !important

.navbar-brand
  font-family: 'Roboto Slab', serif
  font-size: 16pt

.navbar-nav
  li
    .dropdown.open
      color: $drop_hover_color !important

.navbar-brant
  font-family: 'Roboto Slab', serif
  font-size: 12pt
  height: 50px
  font-weight: 600
  background-color: $nav_bg_color
  border-color: $nav_border_color
  .brand-logo,
  .nav-link
    color: $white !important
  li.active.dropdown
    a.nav-link
      color: #333333 !important
  .navbar-collapse
    background-color: $nav_bg_color
    height: 40px !important
  // @include media(">=phone", "<=tablet")
  //   .navbar-collapse
  //     height: 450px !important
  //   &:hover
  //     color: $link_hover_color !important
  // a.nav-item
  //   color: white !important
  //   &:hover
  //     color: $link_hover_color !important
  // .dropdown-menu
  //   text-align: left !important
  //   a
  //     text-decoration: none
  //     &:hover
  //       color: $link_hover_color
