.ten-sec-ease-in-out
  -webkit-transition: width 10s ease-in-out
  -moz-transition: width 10s ease-in-out
  -ms-transition: width 10s ease-in-out
  -o-transition: width 10s ease-in-out
  transition: width 10s ease-in-out