@import "application"

.input-group .form-control:last-child, .input-group-addon:last-child
  border-top-right-radius: 10px !important
  border-bottom-right-radius: 10px !important

.input-group-btn
  &:last-child >
    .btn, .btn-group > .btn, .dropdown-toggle
      border-top-right-radius: 10px !important
      border-bottom-right-radius: 10px !important
  &:first-child >
    .btn:not(:first-child), .btn-group:not(:first-child) > .btn
      border-top-right-radius: 10px !important
      border-bottom-right-radius: 10px !important

.input-group-addon:first-child
  border-bottom-left-radius: 10px !important
  border-top-left-radius: 10px !important
  position: relative !important
