.col-xs-12.col-sm-8.col-md-3.col-lg-3
  .row
    .col-xs-12.col-sm-8.col-md-6.col-lg-6
      %center=f.label t('estoques.helpers.tipo_transferencia')
      %center
        -if controller.action_name.eql?("edit")
          - if @estoque.transferencia_tipo.eql?("ENTRADA")
            %input{checked: true, "data-toggle" => "toggle", :type => "checkbox", :id => "estoque_estoque_movimento_transferencia_tipo", name: "estoque_estoque_movimento_transferencia_tipo"}
          - else
            %input{"data-toggle" => "toggle", :type => "checkbox", :id => "estoque_estoque_movimento_transferencia_tipo", name: "estoque_estoque_movimento_transferencia_tipo"}
        -if controller.action_name.eql?("new")
          %input{checked: true, "data-toggle" => "toggle", :type => "checkbox", :id => "estoque_estoque_movimento_transferencia_tipo", name: "estoque_estoque_movimento_transferencia_tipo"}
  .row
    .col-xs-12.col-sm-8.col-md-5.col-lg-5
      =f.label "Valida Por?"
      %center
        -if controller.action_name.eql?("edit")
          - if @estoque.valida_por.eql?("total_estoque")
            %input{checked: true, "data-toggle" => "toggle", :type => "checkbox", :id => "estoque_estoque_movimento_transferencia_valida_por", name: "estoque_estoque_movimento_transferencia_valida_por"}
          - else
            %input{"data-toggle" => "toggle", :type => "checkbox", :id => "estoque_estoque_movimento_transferencia_valida_por", name: "estoque_estoque_movimento_transferencia_valida_por"}
        -if controller.action_name.eql?("new")
          %input{checked: true, "data-toggle" => "toggle", :type => "checkbox", :id => "estoque_estoque_movimento_transferencia_valida_por", name: "estoque_estoque_movimento_transferencia_valida_por"}
  .row
    .col-xs-12.col-sm-8.col-md-4.col-lg-3
      =label_tag "Pronto Pagamento"
      %br/
      -if controller.action_name.eql?("edit")
        - if @estoque.pronto_pagamento.eql?("Sim")
          %input{checked: false, "data-toggle" => "toggle", :type => "checkbox", :id=> "estoque_estoque_movimento_transferencia_pronto_pagamento", name: "estoque_estoque_movimento_transferencia_pronto_pagamento"}
        - else
          %input{checked: true, "data-toggle" => "toggle", :type => "checkbox", :id=> "estoque_estoque_movimento_transferencia_pronto_pagamento", name: "estoque_estoque_movimento_transferencia_pronto_pagamento"}
      -if controller.action_name.eql?("new")
        %input{checked: true, "data-toggle" => "toggle", :type => "checkbox", :id=> "estoque_estoque_movimento_transferencia_pronto_pagamento", name: "estoque_estoque_movimento_transferencia_pronto_pagamento"}

.col-xs-12.col-sm-8.col-md-6.col-lg-6
  .row
    .col-xs-12.col-sm-8.col-md-6.col-lg-6
      .input-group
        =f.input :data_transferencia, label: t('estoques.helpers.dt_transferencia'), as: :string, input_html: { class: "docs-date data", placeholder: t('helpers.titles.pick_a_date'), value: exibe_data_transferencia(@estoque) }
        %span.input-group-btn
          %button{ class: "btn btn-default docs-datepicker-trigger", disabled: ""}
            %i{ class: "fa fa-calendar", :"aria-hidden"=>"true"}
    .col-xs-12.col-sm-8.col-md-6.col-lg-6
      .input-group
        =f.input :frete, as: :string, input_html: { id: "estoque_transferencia_frete", class: "campo_dinheiro", placeholder: "Escolha um valor", value: _frete }
        %span.input-group-btn
          %button{ class: "btn btn-default", disabled: ""}
            %i{ class: "fas fa-truck", :"aria-hidden"=>"true"}
    .col-xs-12.col-sm-8.col-md-6.col-lg-6
      .input-group
        =f.input :valor_total_produto, label: "Valor Total Produtos", as: :string, input_html: { class: "campo_dinheiro estoque_transferencia_total_produtos", placeholder: "Escolha um valor", value: _valorTotalProduto, readonly: true }
        %span.input-group-btn
          %button{ class: "btn btn-default", disabled: ""}
            %b R
            %i{ class: "fa fa-usd", :"aria-hidden"=>"true"}
    .col-xs-12.col-sm-8.col-md-6.col-lg-6
      .input-group
        =f.input :total_estoque, label: "Valor Total", as: :string, input_html: { class: "estoque_movimento_total_estoque_transferencia campo_dinheiro", placeholder: "Escolha um valor", value: _valorTotal, readonly: true }
        %span.input-group-btn
          %button{ class: "btn btn-default", disabled: ""}
            %b R
            %i{ class: "fa fa-usd", :"aria-hidden"=>"true"}
    .col-xs-12.col-sm-8.col-md-6.col-lg-6
      .input-group
        =f.input :parcelas, as: :integer, input_html: { min: 1, placeholder: "Escolha um valor", class: "estoque_movimento_parcelas_transferencia" }
        %span.input-group-btn
          %button{ class: "btn btn-default", disabled: ""}
            %i{ class: "fa fa-pie-chart", :"aria-hidden"=>"true"}
    %section.periodo_transferencia_field_section{style: "display: none"}
      .col-xs-12.col-sm-8.col-md-6.col-lg-6
        .input-group
          = f.input :periodo, as: :select, collection: [['Semanal','Semanal'], ['Quinzenal','Quinzenal'], ['Mensal','Mensal'], ['Anual','Anual']], label: "Período", input_html: {class: 'form-control estoque_periodo_select'}, prompt: 'Selecione', required: true
          %span.input-group-btn
            %button{ class: "btn btn-default", disabled: ""}
              %i{ class: "fa fa-calendar", :"aria-hidden"=>"true"}
      
