- Authorization.all.order(description: :asc).each do |f|
  %tr
    %td
      =f.description
      =u.hidden_field :authorization_id, value: f.id
    %td
      .form-group
        =u.check_box :create
    %td
      .form-group
        =u.check_box :retrieve
    %td
      .form-group
        =u.check_box :update
    %td
      .form-group
        =u.check_box :delete
