=f.simple_fields_for :profile do |u|
  .form-group
    =u.input :name, label: "Nome", placeholder: "Ex: João Carlos", class: "form-control"
.form-group
  =f.input :username, placeholder: "Ex: joao", class: "form-control", required: true
.form-group
  =f.input :email, placeholder: "Ex: example@example.com", class: "form-control", required: true
.form-group
  -if logged_user.admin?
    =f.label "Tipo"
    =f.input :type, as: :boolean, input_html:{ :"data-size"=>'mini', :"data-on-color"=>'success', :"data-off-color"=>'primary', :"data-on-text"=>'Admin', :'data-off-text'=>'Usuário', class: "user_type"}, label: false, checked: false
.form-group
  =f.input :password, placeholder: "°°°°°°°°°", class: "form-control", required: true
.form-group
  =f.input :password_confirmation, placeholder: "°°°°°°°°°", class: "form-control"
