=render 'application/errors_messages', {target: @user}
.col-md-12
  -if controller.action_name.eql?("new") || controller.action_name.eql?("create")
    =simple_form_for [ :brant, @user ], url: brant_users_accounts_path, method: :post do |f|
      =render 'brant/users/accounts/shared/user_fields', { f: f }
  -if controller.action_name.eql?("edit") || controller.action_name.eql?("update")
    =simple_form_for [ :brant, @user ], url: brant_users_account_path, method: :put do |f|
      =render 'brant/users/accounts/shared/user_fields', { f: f }
