.row
  .well
    =render 'brant/users/accounts/shared/fields', { f: f }
-# #authorizations_group
-#   .row
-#     .well
-#       =content_tag(:div,  Authorization.all.count, id: "authorization_count", style: "display: none")
-#       %table.table.table-condensed.table-hover
-#         %thead
-#           %tr
-#             %th Descrição
-#             %th Cadastrar
-#             %th Visualizar
-#             %th Editar
-#             %th Excluir
-#         %tbody
-#           =render 'brant/users/accounts/shared/authorization_check_boxes', {u: f}
.form-group
  =f.submit "Enviar", class: "btn btn-success"
  .pull-right
    =link_to "Cancelar", brant_users_accounts_path, data: { confirm: "Tem Certeza?" }, method: :get, class: "btn btn-danger"
%hr
%br
