.well
  %h4.center
    %strong=t('obras.helpers.comodos_disponiveis')
  %hr/
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      #comodo_obra
        #comodo_from_list
          .input-group
            =label_tag "Nome"
            =collection_select(:obra, 'comodos', Comodo.all.order(:name), :id, :name, {include_blank: "Selecione"}, {id: "obra_comodo_id", class:'form-control collection_select selectpicker', :"data-live-search"=> true})
            %span.input-group-btn{style: "position: relative; top: 1px"}
              = link_to "#", id: "btn_to_add_comodo_association", class: 'btn btn-default', remote: true do
                %i.fa.fa-check{style: "color: #73a615"}
              = link_to "#", id: "btn_to_create_new_comodo", class: 'btn btn-default', remote: true do
                %i.fa.fa-plus

%section#comodo_obra_added.animated.bounceInDown
  .row-fluid
    .panel.panel-default
      .panel-heading
        %h4.center
          %strong=t('obras.helpers.comodos_adicionados')
      .panel-body
        %table.table.table-hover.table-condensed
          %thead
            %th Nome do Cômodo
          %tbody#tbody_comodo_obra
            =render 'obras/shared/data_after_create_form', {obra: @obra}

= f.simple_fields_for @comodo do |comodo|
  =render 'comodo_fields', {f: comodo }
