- if controller.action_name.eql?("edit") || controller.action_name.eql?("update")
  .row
    =f.hidden_field :id
  .row
    #status
      .col-xs-12.col-sm-6.col-md-5.col-lg-5
        = f.input :status, collection: [['Ativo', 'Ativo'], ['Inativo', 'Inativo']], as: :radio_buttons, checked: true, checked: @obra.status
.row
  .col-xs-12.col-sm-6.col-md-5.col-lg-5
    = f.input :codigo, label: t('obras.helpers.codigo')
  .col-xs-12.col-sm-6.col-md-4.col-lg-5
    = f.input :nome_local, label: t('obras.helpers.nome_local')
.row
  .col-xs-12.col-sm-12.col-md-8.col-lg-10
    = f.input :endereco_local, label: t('obras.helpers.endereco_local')
.row
  .col-xs-12.col-sm-6.col-md-5.col-lg-5
    = f.input :bairro, label: t('obras.helpers.bairro')
  .col-xs-12.col-sm-6.col-md-5.col-lg-5
    = f.input :cep, label: t('obras.helpers.cep'), input_html: { class: "campo_cep" }
.row{style:"margin-bottom: 15px;"}
  .col-xs-12.col-sm-6.col-md-5.col-lg-5
    = f.label t('obras.helpers.estado_id')
    = f.collection_select(:estado_id, Estado.pelo_nome, :id, :nome, {include_blank: "Selecione"}, {id: "obra_estado_id", class:'form-control'})
  .col-xs-12.col-sm-6.col-md-5.col-lg-5
    = f.label t('obras.helpers.cidade_id')
    = f.grouped_collection_select(:cidade_id, Estado.pelo_nome, :cidades, :nome, :id, :nome, {include_blank: "Selecione"}, {id: "obra_cidade_id", class:'form-control collection_select'})
.row
  .col-xs-12.col-sm-12.col-md-10.col-lg-10
    = f.input :endereco_obra, label: t('obras.helpers.endereco_obra')
.row
  .col-xs-12.col-sm-6.col-md-5.col-lg-5
    = f.input :quadra, label: t('obras.helpers.quadra')
  .col-xs-12.col-sm-6.col-md-5.col-lg-5
    = f.input :lote, label: t('obras.helpers.lote')
.row
  .col-xs-12.col-sm-6.col-md-5.col-lg-5
    = f.input :cei, label: t('obras.helpers.cei')
  .col-xs-12.col-sm-6.col-md-5.col-lg-5
    = f.input :peticao, label: t('obras.helpers.peticao')
.row
  .col-xs-12.col-sm-12.col-md-10.col-lg-10
    = f.input :aprovacao, label: t('obras.helpers.aprovacao')