-if controller.action_name.eql?("edit")
  -obra.comodo_obras.each do |f|
    %tr{id: "tr_comodo_obra_id_#{f.id}"}
      %td=f.comodo.name if f.comodo.present?
      %td
        .pull-right
          =link_to destroy_comodo_obra_path(obra, comodo_id: f.comodo_id), method: :delete, remote: true, data: { confirm: 'Tem Certeza?' } do
            %span{class: 'fa fa-trash fa-2x'}