= simple_form_for @obra do |f|
  .well
    %ul.nav.nav-tabs
      %li.active
        %a{'data-toggle':"tab", href:"#dados"} Dados
    .container-fluid
      .tab-content{style: "padding-top: 10px"}
        .col-md-6
          =render 'obras/shared/dados', { f: f }
        .col-md-6
          =render 'obras/shared/comodos', { f: f }
      .row-fluid
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .pull-left
            = button_tag(type: "submit", id: "btn_submit_obra", class: "btn btn-success") do
              %i.fa.fa-check{"aria-hidden" => "true"}
              =t('helpers.links.save')
          .pull-right
            =content_tag :button, :OnClick=> "location.href='#{obras_path(page: session[:page])}'", id: "btn_finish_obra", class: 'btn btn-danger' do
              %i.fa.fa-times{"aria-hidden" => "true"}
              =t('helpers.links.end')
      .row-fluid
        .col-xs-12.col-sm-12.col-md-12.col-lg-12{style: "margin-top: 20px"}
          =render 'application/progress_bar'
=render 'application/form_messages'

= javascript_include_tag "brant/obras/obras_cidades"
= javascript_include_tag "brant/obras/obra_comodo"
= javascript_include_tag "brant/obras/comodo"
