%tr{id: "item_obra_id_#{item_obra.id}"}
  %td= item_obra.item
  %td= item_obra.tipo_servico
  %td
    .btn-group.pull-right
      - if policy(item_obra).show?
        = link_to item_obra, class: "btn btn-default btn-circle", target: :_blank do
          %i.fa.fa-newspaper-o
      - if policy(item_obra).edit?
        = link_to edit_item_obra_path(item_obra), class: "btn btn-default btn-circle", target: :_blank do
          %i.fa.fa-pencil
      - if policy(item_obra).destroy?
        = link_to item_obra, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-circle" do
          %i.fa.fa-trash-o
