- unless f.object.sub_item.nil?
  - @value  =  f.object.sub_item
-else
  - @value = "17.2"

.nested-fields
  .panel.panel-success
    .panel-heading
      .container-fluid
        .row
          .col-md-3
            #sub_item_task_value
              = f.input :sub_item, input_html: { value: @value, class: "sub_item_value" }
          .col-md-8
            = f.input :sub_tipo_servico
        .row
          .col-md-3
            = f.input :unidade, as: :string
        .links.pull-right{style: "margin-top: 5%; margin-right: 5%"}
          = link_to_remove_association f, :class => 'btn  btn-danger btn-circle' do
            %i.fa.fa-times
