.container
  .row
    %h1.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
      =t('helpers.titles.index', model: "Etapas de Obra")
      -if can? :create, ItemObra
        = link_to new_item_obra_path, class: 'btn btn-primary btn-circle pull-right', title: t('helpers.links.new') do
          %i.fa.fa-plus{"aria-hidden" => "true"}
  .row
    .jumbotron
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          = search_form_for @search do |f|
            = f.condition_fields do |c|
              = render "condition_fields", f: c
            = link_to_add_fields "Adicionar Condições", f, :condition
            .actions{style: "margin-top: 2%;"}
              = f.submit "Pesquisar", class: "btn btn-primary"
  %br
  .pull-right
    =link_to brant_report_all_item_obra_path(format: :pdf),target: :_blank, class: "btn btn-primary" do
      Imprimir
      %i.fa.fa-print{"aria-hidden" => "true"}
  .panel
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th=I18n.t('item_obra.item')
          %th=I18n.t('item_obra.tipo_servico')
          %th
      %tbody#content_table
        =render @itens_obra
    #paginator
      =paginate @itens_obra, :remote => true

