%section{id: "new_item_obra"}
  %div{class: "container"}
    %div{class: "row"}
      %h1.page_header{style: "border-bottom: #AEAEAE 0.5px solid"}
        =t('helpers.titles.new', model: "Etapa de Obras")
        = link_to itens_obra_path(page: session[:page]), class: 'btn btn-default pull-right' do
          %i.fa.fa-chevron-circle-left{"aria-hidden" => "true"}
          =t('helpers.links.back')
    %div{class: "row"}
      = render 'itens_obra/shared/form'
