.col-md-12
  .well
    %h1{style: "color: rgb(78, 77, 78)"}
      %center
        %strong=t('helpers.titles.show', model: "Etapas da Obra")
      %hr

    .container
      .col-md-6
        %p
          %b=t('item_obra.item')
        .panel.panel-default
          .panel-heading
            %p
              %b=t('item_obra.item')
              = @item_obra.item
            %p
              %b Servico:
              = @item_obra.tipo_servico

        - if policy(@item_obra).edit?
          .pull-left
            = link_to 'Editar', edit_item_obra_path(@item_obra), class: "btn btn-primary"
          .pull-right
            = link_to 'Voltar', itens_obra_path(page: session[:page]), class: "btn btn-danger"
        -else
          = link_to 'Voltar', itens_obra_path(page: session[:page]), class: "btn btn-danger"
      .col-md-6
        %p
          %b=t('sub_item_obra.sub_item')
        -# .row
        -#   = form_for :sub_item_obra, url: search_sub_itens_obras_path, method: :post, remote: true do |f|
        -#     .col-md-3
        -#       =f.label t('sub_item_obra.sub_item')
        -#       =f.text_field :sub_item, class: "form-control"
        -#     .col-md-3
        -#       =f.label "Serviço"
        -#       =f.text_field :sub_tipo_servico, class: "form-control"
        -#     .col-md-3
        -#       =f.label "Unidade"
        -#       =f.text_field :unidade, class: "form-control"
        -#     .col-md-3
        -#       = button_tag(type: "submit", class: "btn btn-default btn-circle", style: "margin-top: 20%") do
        -#         %i.fa.fa-search
        -#       = link_to @item_obra, class: "btn btn-default btn-circle", style: "margin-top: 20%; margin-left: 10px" do
        -#         %i.fa.fa-refresh
        -# %hr
        .panel.panel-default
          .panel-heading
            %table.table.table-bordered.table-hover.table-condensed
              %thead
                %tr
                  %th Etapa
                  %th Serviço
                  %th Unidade
              %tbody#content_table
                =render 'sub_itens_obras', sub_itens_obras: @sub_itens_obras
        #paginator
          = paginate @sub_itens_obras, remote: true
