= simple_form_for(@categoria) do |f|
  %div{class: "well"}
    - if controller.action_name.eql?("edit") || controller.action_name.eql?("update")
      %div{class: "row"}
        #status
          %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
            = f.input :status, collection: [['Ativo', 'Ativo'], ['Inativo', 'Inativo']], as: :radio_buttons, checked: true, checked: @categoria.status
    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
        = f.input :nome, label: t('categorias.helpers.nome')
    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
        .pull-left
          = button_tag(type: "submit", class: "btn btn-success") do
            %i.fa.fa-check{"aria-hidden" => "true"}
            =t('helpers.links.save')
        .pull-right
          = link_to categorias_path, class: 'btn btn-danger', data: { confirm: "Tem Certeza?" }, method: :get do
            %i.fa.fa-times{"aria-hidden" => "true"}
            =t('helpers.links.cancel')
