- if target.errors.any?
  .panel.panel-danger.error_explanation
    .panel-heading
      %h4
        %strong= pluralize(target.errors.count, "erros")
        =t('pages.helpers.messages.prevented_this_record_from_being_saved')
      %hr
      %ul
        - target.errors.full_messages.each do |msg|
          %li= msg
