<div class="modal alert fade" id="form_messages_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-backdrop" role="document">
        <div class="modal-content alert-danger">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="pull-left">
                        <h3 class="modal-title">
                            <%=t('helpers.titles.warning')%>
                            <i class="fas fa-lock"></i>
                        </h3>
                    </div>
                    <button type="button" class="pull-right close" data-dismiss="modal" aria-label="Close" style="color:rgb(189, 6, 6); font-size: 15pt">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <section id="form_messages">
                        <span>
                            <ol id="form_list_messages">
                            </ol>
                        </span>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>