/* change border radius for the tab , apply corners on top*/

#exTab3{
  .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
    font-weight: bolder;
  }

  .nav-pills > li.active > a {
    border-radius: 4px 4px 0 0 ;
    background-color: #448680 !important;
  } 
}

#exTab3 .tab-content {
  color : rgb(36, 56, 78);
  background-color: rgb(247, 247, 247);
  border: #448680 1px solid;
  padding : 2px 15px;
}

// #exTab3 h3 {
//   color : white;
//   background-color: #428bca;
//   padding : 5px 15px;
// }
