@import "include-media"

$breakpoints: ('phone': 320px, 'tablet': 768px, 'desktop': 1024px) !default

.produto_data_live_search
  .bootstrap-select.form-control.tab:not([class*="col-"])
    width: 220px

.estoque_data_live_search
  .bootstrap-select.form-control.tab:not([class*="col-"])
    width: 250px

.estoque_obra_data_live_search
  .bootstrap-select.form-control.tab:not([class*="col-"])
    width: 220px

.bootstrap-select.form-control.tab:not([class*="col-"])
  width: 250px

.bootstrap-select.item.form-control.tab:not([class*="col-"])
  width: 150px

@include media(">=phone", "<=tablet")
  .bootstrap-select.form-control.tab:not([class*="col-"])
    width: 100%
@include media(">=tablet", "<=desktop")
  .bootstrap-select.form-control.tab:not([class*="col-"])
    width: 100%
@include media(">=desktop")
  .bootstrap-select.form-control.tab:not([class*="col-"])
    width: 100%
