.simple_form {
  input.radio_buttons, input.check_boxes {
    margin-right: 5px;
  }
  .alert-error {
    color: #D00;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-top: 25px;
  }
}
