.well{style: "width: 600px"}
  = simple_form_for([:brant, @report_configuration], html: { multipart: true }) do |f|
    = f.error_notification
    .form-inputs
      .container-fluid
        -# .row
        -#   .col-md-6
        -#     = f.input :picture, as: :file
        .row
          .col-md-6
            = f.input :company
          .col-md-6
            = f.input :cnpj, input_html: { class: "campo_cnpj" }
        .row
          .col-md-6
            = f.input :phone
          .col-md-6
            = f.input :email
        .row
          .col-md-6
            = f.input :address
          .col-md-6
            = f.input :neighborhood
        .row
          .col-md-6
            = label_error_tag f, :state, @report_configuration, :state_id
            = f.collection_select(:state_id, Estado.pelo_nome, :id, :nome, {include_blank: "Selecione"}, {class:'form-control'})
            = error_tag @report_configuration, :state_id
          .col-md-6
            = label_error_tag f, :city, @report_configuration, :city_id
            = f.grouped_collection_select(:city_id, Estado.pelo_nome, :cidades, :nome, :id, :nome, {include_blank: "Selecione"}, {class:'form-control collection_select'})
            = error_tag @report_configuration, :city_id
        %hr
    .form-actions
      .container-fluid
        .pull-left
          = f.button :submit, t("helpers.links.save"), class: "btn btn-success btn-sm"
        .pull-right
          = link_to t("helpers.links.back"), brant_report_configurations_path, class: "btn btn-danger btn-sm"


= javascript_include_tag "brant/report_configuration/state_city"
