.container
  .col-md-12
    .well
      .container
        .col-md-6
          %p
            %b="#{I18n.t("activerecord.attributes.report_configuration.company")} :"
            = @report_configuration.company
          %p
            %b="#{I18n.t("activerecord.attributes.report_configuration.cnpj")} :"
            = @report_configuration.cnpj
          %p
            %b="#{I18n.t("activerecord.attributes.report_configuration.phone")} :"
            = @report_configuration.phone
          %p
            %b="#{I18n.t("activerecord.attributes.report_configuration.address")} :"
            = @report_configuration.address
          %p
            %b="#{I18n.t("activerecord.attributes.report_configuration.state")} :"
            = @report_configuration.state
          %p
            %b="#{I18n.t("activerecord.attributes.report_configuration.city")} :"
            = @report_configuration.city
          %p
            %b="#{I18n.t("activerecord.attributes.report_configuration.email")} :"
            = @report_configuration.email
          %p
            %b="#{I18n.t("activerecord.attributes.report_configuration.neighborhood")} :"
            = @report_configuration.neighborhood
        -# .col-md-6
        -#   .image_box
        -#     %b Logo
        -#     .jumbotron{style: "width: 50%"}
        -#       %p
        -#         =image_tag(@report_configuration.picture.url(:medium), style: "width: 150%; margin-left: -42px;")


    = link_to t("helpers.links.edit"), edit_brant_report_configuration_path(@report_configuration), class: "btn btn-default btn-sm"
    \|
    = link_to t("helpers.links.home"), root_path, class: "btn btn-default btn-sm"
