%tr
  %td=estoque_transferencia.produto.descricao if estoque_transferencia.try(:produto)
  - if estoque_transferencia.estoque_movimento.transferencia_tipo_entrada?
    %td.center=estoque_transferencia.obra_anterior.codigo if estoque_transferencia.try(:obra_anterior)
  - if estoque_transferencia.estoque_movimento.transferencia_tipo_saida?
    %td.center=estoque_transferencia.obra_posterior.codigo if estoque_transferencia.try(:obra_posterior)
  %td.center=estoque_transferencia.item_obra.item if estoque_transferencia.try(:item_obra)
  %td.center=estoque_transferencia.sub_item_obra.sub_item if estoque_transferencia.try(:sub_item_obra)
  %td.center=estoque_transferencia.quantidade_movimento
  %td.center=number_to_currency estoque_transferencia.valor_produto
  %td
    .pull-right=number_to_currency estoque_transferencia.valor_total
  %td.center
    =link_to estoques_estoque_movimentaco_parcelamentos_path(@estoque, estoque_transferencia_id: estoque_transferencia.id), id: "estoque_produto_parcelamento_link", class: "popover_link", :"data-toggle"=> "popover", :"data-content" => "Ir para parcelamento", :"data-placement"=>"top", :"data-trigger"=>"hover" do
      %span.fa.fa-pie-chart.fa-2x
  %td.center
    =link_to estoques_estoque_movimentaco_estoque_transferencia_path(@estoque, estoque_transferencia), class: "btn_link_trash popover_link", :"data-toggle"=> "popover", :"data-content" => "#{t('helpers.links.delete_item')}", :"data-placement"=>"top", :"data-trigger"=>"hover", data: {confirm: t('helpers.links.confirm_delete')}, method: :delete, remote: true do
      %i.fa.fa-trash.fa-2x
