%div{class: "panel", id: "panel_produto_categorias"}
  %div{class: "panel-body"}
    %table{class: "table table-striped table-bordered table-hover table-responsive"}
      %thead
        %th Nome
      %tbody#tabela_produto_categorias
        - if @produto_categorias.present?
          - @produto_categorias.each do |pc|
            %tr
              %td
                - if pc.categoria.present?
                  = pc.categoria.nome
