%div{id:"produto_categorias", class:"tab-pane fade in active"}
  %div{class: "row", style: "padding-top: 15px; padding-bottom: 15px;"}
    %div{class: "col-xs-12 col-sm-10 col-md-6 col-lg-4"}
      %div{class: "row"}
        %div{class: "col-xs-12 col-sm-8 col-md-8 col-lg-10", style: "margin-top: 10px;"}
          = f.collection_select :categoria_id, Categoria.all.order(:nome), :id, :nome, {prompt: "Selecione"}, {class: "form-control", id: "produto_categoria_categoria_id"}
    %div{class: "col-xs-12 col-sm-10 col-md-6 col-lg-6"}
      = render 'produto_categorias/shared/categorias'