%div{id:"produto_categorias_show", class:"tab-pane fade"}
  %div{class: "row", style: "padding-top: 15px; padding-bottom: 15px;"}
    %div{class: "col-xs-8 col-sm-8 col-md-8 col-lg-8"}
      - @cont = 0
      - @produto.produto_categorias.each do |pc|
        - @cont += 1
        %div{class: "row", style: "margin-top: 5px; margin-bottom: 5px;"}
          %div{class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"}
            %strong
              =t('helpers.labels.produto_categorias', var: "#{@cont}")
          %div{class: "col-xs-6 col-sm-4 col-md-4 col-lg-4"}
            = pc.categoria.nome if pc.try(:categoria)