!!!
%html
  =render 'layouts/shared/head'
  %body{class: controller.controller_name}
    / BRANT Logo bar
    =render 'layouts/base/logo_bar'
    / BRANT Navigation
    =render 'layouts/base/navigation'
    / BRANT Content
    .container-fluid
      .row-fluid
        =render 'layouts/shared/flash'
      / Heading Row
      .row
        = yield
      =render 'layouts/shared/footer'

    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    = javascript_include_tag 'application'
