!!!
%html
  =render 'layouts/backstage/head'
  %body{class: "#{controller.controller_name}"}
    #wrapper
      / BRANT Navigation
      =render 'layouts/backstage/navigation'
      #page-wrapper
        / BRANT Content
        .row
          =render 'layouts/shared/flash'
          = yield
        =render 'layouts/shared/footer'

    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    = javascript_include_tag 'backstage', 'data-turbolinks-track': 'reload'
